{% extends 'base_about.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/about/stitch/style.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/about/stitch/style.css' %}" type="text/css">
<div id="sliders-container">
</div>
<div class="avada-page-titlebar-wrapper"></div>
<main id="main" class="clearfix width-100">
    <div class="fusion-row" style="max-width:100%;">
        <section id="content" class="full-width">
            <div id="post-13287" class="post-13287 page type-page status-publish hentry">
                <span class="entry-title rich-snippet-hidden">Contact-Less Time &#038; Attendance System</span>
                <span class="vcard rich-snippet-hidden">
                    <span class="fn">
                        <a href="../justgetit-admin/" title="Posts by admin_stitch" rel="author">admin_justgetit</a>
                    </span>
                </span>
                <span class="updated rich-snippet-hidden">2020-04-29T15:52:37+05:30</span>
                <div class="post-content">
                    <div class="fusion-fullwidth fullwidth-box hundred-percent-fullwidth hundred-percent-height non-hundred-percent-height-scrolling fusion-equal-height-columns"  style='background-color: #02dbd7;background-position: center center;background-repeat: no-repeat;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;margin-top: 40px;'>
                        <div class="fusion-builder-row fusion-row ">
                            <div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-builder-column-1 fusion-one-half fusion-column-first fusion-column-no-min-height 1_2"  style='margin-top:100px;margin-bottom:20px;width:50%;width:calc(50% - ( ( 4% ) * 0.5 ) );margin-right: 4%;'>
                                <div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url="">
                                    <div class="fusion-text">
                                        <h1 style="color: #ffffff; font-family: Raleway, Arial, Helvetica, sans-serif; font-weight: 400;">CONTACT &#8211; LESS<br />TIME AND ATTENDANCE</h1>
                                        <h3 style="color: #ffffff; font-family: Raleway, Arial, Helvetica, sans-serif; font-weight: 400;">KEEP YOUR FACTORY SAFE FROM CORONA INFECTION<br />AVOID FINGER SCAN AND CLOSE FACIAL CONTACT NEAR ANY INFECTED DEVICE.</h3>
                                    </div>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                            <div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-builder-column-2 fusion-one-half fusion-column-last fusion-blend-mode 1_2"  style='margin-top:0px;margin-bottom:20px;width:50%;width:calc(50% - ( ( 4% ) * 0.5 ) );'>
                                <div class="fusion-column-wrapper" style="background-color:#ffffff;padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url="">
                                    <div class="fusion-slider-sc fusion-flexslider-loading flexslider flexslider-hover-type-none" style="max-width:100%;height:100%;">
                                        <ul class="slides">
                                            <li class="image">
                                                <a title="1" data-title="1" aria-label="1" href="/about-jgi/contact/" target="_self">
                                                    <span class="fusion-image-hover-element hover-type-none">
                                                        <img src="https://www.stitcherp.com/wp-content/uploads/2020/04/1.png" width="750" height="625" class="wp-image-13331" />
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="image">
                                                <span class="fusion-image-hover-element hover-type-none">
                                                    <img src="https://www.stitcherp.com/wp-content/uploads/2020/04/2.png" width="750" height="625" class="wp-image-13332" />
                                                </span>
                                            </li>
                                            <li class="image">
                                                <span class="fusion-image-hover-element hover-type-none">
                                                    <img src="https://www.stitcherp.com/wp-content/uploads/2020/04/3.png" width="750" height="625" class="wp-image-13333" />
                                                </span>
                                            </li>
                                            <li class="image">
                                                <span class="fusion-image-hover-element hover-type-none">
                                                    <img src="https://www.stitcherp.com/wp-content/uploads/2020/04/4.png" width="750" height="625" class="wp-image-13334" />
                                                </span>
                                            </li>
                                            <li class="image">
                                                <span class="fusion-image-hover-element hover-type-none">
                                                    <img src="https://www.stitcherp.com/wp-content/uploads/2020/04/5-1.png" width="750" height="625" class="wp-image-13340" />
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fusion-fullwidth fullwidth-box hundred-percent-fullwidth hundred-percent-height hundred-percent-height-center-content non-hundred-percent-height-scrolling"  style='background-color: rgba(0,211,208,0);background-position: center center;background-repeat: no-repeat;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;'>
                        <div class="fusion-fullwidth-center-content">
                            <div class="fusion-builder-row fusion-row ">
                                <div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-builder-column-3 fusion-one-half fusion-column-first 1_2"  style='margin-top:0px;margin-bottom:20px;width:50%;width:calc(50% - ( ( 4% ) * 0.5 ) );margin-right: 4%;'>
                                    <div class="fusion-column-wrapper" style="padding: 0px 30px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url="">
                                        <div class="fusion-column-content-centered">
                                            <div class="fusion-column-content">
                                                <div class="fusion-text">
                                                    <h1 style="text-align: center; color: #02dbd7;">FEATURES</h1>
                                                    <ol style="color: #02dbd7; font-size: 19px;">
                                                        <li style="text-align: left;">APP BASED ATTENDANCE TIME CLOCK</li>
                                                        <li style="text-align: left;">FEVER AND SYMPTOMS DETECTION FOR CORONA INFECTIONS</li>
                                                        <li style="text-align: left;">INTEGRATE WITH YOUR PAYROLL SYSTEM</li>
                                                        <li style="text-align: left;">DAILY, WEEKLY &amp; MONTHLY TIME SHEETS</li>
                                                        <li style="text-align: left;">PLUG &amp; PLAY  APPLICATION</li>
                                                        <li style="text-align: left;">NO IMPLEMENTATION COST</li>
                                                        <li style="text-align: left;">REMOTE ACCESS</li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fusion-clearfix"></div>
                                    </div>
                                </div>
                                <div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-builder-column-4 fusion-one-half fusion-column-last 1_2"  style='margin-top:0px;margin-bottom:20px;width:50%;width:calc(50% - ( ( 4% ) * 0.5 ) );'>
                                    <div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url="">
                                        <span style="-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;" class="fusion-imageframe imageframe-none imageframe-1 hover-type-none">
                                            <img src="https://www.stitcherp.com/wp-content/uploads/2020/04/01-1.png" width="780" height="508" alt="" title="01 (1)" class="img-responsive wp-image-13462"/>
                                        </span>
                                        <div class="fusion-clearfix"></div>

</div>
</div></div></div></div><div class="fusion-fullwidth fullwidth-box nonhundred-percent-fullwidth non-hundred-percent-height-scrolling"  style='background-color: rgba(0,211,208,0);background-position: center center;background-repeat: no-repeat;padding-top:0px;padding-right:40px;padding-bottom:0px;padding-left:40px;border-top-width:1px;border-bottom-width:1px;border-color:#eae9e9;border-top-style:solid;border-bottom-style:solid;'><div class="fusion-builder-row fusion-row "><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-builder-column-5 fusion-one-half fusion-column-first 1_2"  style='margin-top:100px;margin-bottom:20px;width:50%;width:calc(50% - ( ( 4% ) * 0.5 ) );margin-right: 4%;'>
<div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url="">
    <div class="fusion-column-content-centered"><div class="fusion-column-content"><div class="fusion-text"><h1 style="text-align: center; color: #02dbd7;">REQUEST DEMO</h1>
<p style="text-align: center; color: #02dbd7; font-size: 18px;">To Request a demo with one of our<br />
product consultant,<br />
Please fill in your contact details.</p>
</div></div></div><div class="fusion-clearfix"></div>

</div>
</div><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-builder-column-6 fusion-one-half fusion-column-last 1_2"  style='margin-top:0px;margin-bottom:20px;width:50%;width:calc(50% - ( ( 4% ) * 0.5 ) );'>
<div class="fusion-column-wrapper" style="padding: 40px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url="">
    <div role="form" class="wpcf7" id="wpcf7-f13466-p13287-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response" role="alert" aria-live="polite"></div>
<form action="/contact-less-attendance-system/#wpcf7-f13466-p13287-o1" method="post" class="wpcf7-form init" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="13466" />
<input type="hidden" name="_wpcf7_version" value="5.2" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f13466-p13287-o1" />
<input type="hidden" name="_wpcf7_container_post" value="13287" />
<input type="hidden" name="_wpcf7_posted_data_hash" value="" />
</div>
<div class="fusion-one-half one_half fusion-layout-column fusion-spacing-yes"><label>
<div>Your Name (required)</div>
<p><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span></label></div>
<div class="fusion-one-half one_half fusion-layout-column fusion-spacing-yes fusion-column-last"><label>
<div>Your Email (required)</div>
<p><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span><label></div>
<div class="fusion-one-half one_half fusion-layout-column fusion-spacing-yes"><label>
<div>Website URL</div>
<p><span class="wpcf7-form-control-wrap url-927"><input type="url" name="url-927" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-url wpcf7-validates-as-url" aria-invalid="false" /></span><label></div>
<div class="fusion-one-half one_half fusion-layout-column fusion-spacing-yes fusion-column-last"><label>
<div>Contact Number (required)</div>
<p><span class="wpcf7-form-control-wrap tel-386"><input type="tel" name="tel-386" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" /></span><label></div>
<p><label>Your Message<br />
<span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span> <label></p>
<p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" /></p>
<div class="fusion-alert alert custom alert-custom fusion-alert-center wpcf7-response-output fusion-alert-capitalize alert-dismissable" style="border-width:1px;"><button style="color:;border-color:;" type="button" class="close toggle-alert" data-dismiss="alert" aria-hidden="true">&times;</button><div class="fusion-alert-content-wrapper"><span class="fusion-alert-content"></span></div></div></form></div><div class="fusion-clearfix"></div>

</div>
</div></div></div>
        </div>
                            </div>
</section>
    
</div>  <!-- fusion-row -->
</main>  <!-- #main -->
{% endblock %}
