{% extends 'base_b2bsourcing.html' %}
{% load static %}

{% block content %}
<section id="content" >
            <div class="col-xs-12">
                <img data-animate="fadeInLeftBig" class="col-md-12" src="{% static 'img/about/sourcing/fabric.jpg' %}" alt="fabric">
                
            </div>
</section>	

<section id="content" >

            

<div class="content-wrap">


    <div class="container clearfix">
        
        <div class="col_two_fifth topmargin-sm bottommargin">
            <div class="heading-block topmargin">
                <span align="center"><font size="200%" color="grey">A 360° APPROACH <br> TO DIGITAL<br> SOURCING</font></span>
                <span align="center" color="grey"><h3 align="enter">STOP LOOKING</h3>
                <br>
                <div class="col-md-12 nopad gap_calc" align="center">
                    <button type="button" class="btn btn-info btn-lg">
                        <a href="/about-jgi/sourcing-pricing">MEET THE STANDERED
                    </button>
                </div>
                </span>
            </div>
            <h4></h4>
            

           <!-- <a href="orderform.html" class="button button-border button-rounded button-large noleftmargin topmargin-sm">PLACE YOUR ORDER HERE</a>-->
            
            <!--	<input type="text" id="input_date1" /> -->
                
        </div>

        <div class="col_three_fifth topmargin-sm bottommargin-lg col_last">
            <img data-animate="fadeInRightBig" src="{% static 'img/about/sourcing/dashboard_image.png' %}" height="500" alt="dashboard">

            
        </div>
        <div class="topmargin-sm bottommargin-lg col_last">

            <div class="heading-block topmargin">
                
                <span align="center"><font size="200%" color="grey">THE WEB APP</font></span>
            </div>
            <h4></h4>
            <span align="center">
                <h2>
                By determining specific criteria around location, quality levels, financials, you can identify and select your future suppliers.
                <br><br>

                Fashion Sourcing will help you to find tanneries, denim manufacturers, synthetics plants, prototyping workshops for accessories, bags, clothing, shoes, upholstery, as well as industry experts
                <br><br>
                Thanks to our solution, you provide your collection managers, production managers, designers and your global teams with the ultimate way to optimize sourcing.
                <br><br>
                this is a commission-free platform with full respect of privacy
                </h2>
            </span>

           <!-- <a href="orderform.html" class="button button-border button-rounded button-large noleftmargin topmargin-sm">PLACE YOUR ORDER HERE</a>-->
            
            <!--	<input type="text" id="input_date1" /> -->
                
    </div>
    
        
    </div>
    
</div>
<div class="container clearfix">

        <div>
            <span align="center">
                <font size="200%" color="grey">
                   <p> ABOUT DIGITAL SOURCING </p>
                </font>
            </span>
        </div>
        <div>
            <span align="center">
                <h3> USING A SOLUTION WHERE YOU CAN FIND ALL TYPES OF SUPPLIERS IN THE FASHION INDUSTRY WITH A SINGLE-CLICK BECOMES A REALITY.
                </h3>
               
            </span>
        </div>
        <div class="col_one_third nobottommargin">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    <!-- <img src="images/services/1.jpg" alt="Why choose Us?"> -->
                </div>
                <div class="fbox-desc" align="center">
                    <img src="{% static 'img/about/sourcing/matcom.png' %}" height="80" alt="material component">
                    <h3>MATERIAL & COMPONENTS</h3>
                    <h4>Yarn, Fabric, Leather, Fur, Accessories</h4>
                    
                </div>
            </div>
        </div>

        <div class="col_one_third nobottommargin">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    <!-- <img src="images/services/1.jpg" alt="Why choose Us?"> -->
                </div>
                <div class="fbox-desc" align="center">
                    <img src="{% static 'img/about/sourcing/matcom.png' %}" height="80" alt="material component">
                    <h3>MANUFACTURERS</h3>
                    <h4>Prototype units, small production units,
                        workshops.</h4>
                    
                </div>
            </div>
        </div>
         <div class="col_one_third nobottommargin">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    <!-- <img src="images/services/1.jpg" alt="Why choose Us?"> -->
                </div>
                <div class="fbox-desc" align="center">
                    <img src="{% static 'img/about/sourcing/matcom.png' %}" height="80" alt="material component">
                    <h3>EXPERTS</h3>
                    <h4>Commercial agent, designer, quality controler,
                        auditor, lawyer, investors ...</h4>
                    
                </div>
            </div>
        </div>
</div>
<div class="container clearfix">

       
       <div class="col_one_third nobottommargin">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    <!-- <img src="images/services/1.jpg" alt="Why choose Us?"> -->
                </div>
                <div class="fbox-desc" align="center">
                    <img src="{% static 'img/about/sourcing/matcom.png' %}" height="100" alt="material component">
                    <h3>STOCKS</h3>
                    <h4>A dedicated section to post available stock</h4>
                    
                </div>
            </div>
        </div>

        <div class="col_one_third nobottommargin">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    <!-- <img src="images/services/1.jpg" alt="Why choose Us?"> -->
                </div>
                <div class="fbox-desc" align="center">
                    <img src="{% static 'img/about/sourcing/matcom.png' %}" height="100" alt="material component">
                    <h3>RFQ’S</h3>
                    <h4>A convenient system to capture additional
                        business</h4>
                    
                </div>
            </div>
        </div>
         <div class="col_one_third nobottommargin">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    <!-- <img src="images/services/1.jpg" alt="Why choose Us?"> -->
                </div>
                <div class="fbox-desc" align="center">
                    <img src="{% static 'img/about/sourcing/matcom.png' %}" height="100" alt="material component">
                    <h3>jobs</h3>
                    <h4>A new and attractive plan to post jobs.</h4>
                    
                </div>
            </div>
        </div>
</div>

</section>

<section id="content" >
<div class="fbox-desc topmargin-sm bottommargin">
<img data-animate="fadeInRightBig" src="{% static 'img/about/sourcing/home2.png' %}" alt="material component">
</div>
</section>    
<section id="footer" style="background-color:Gold;">

<div class="container clearfix">
    <div class="col_two_fifth nobottommargin">
        <div class="feature-box media-box">
            <div class="fbox-media">
                <h3>- Dependable and solvant suppliers<br><br>
                <h3>- Comprehensive data base updated daily<br><br>
                <h3>- Grouping of suppliers by country to rationalize transportation costs<br><br>
                <h3>- Better price negotiation by leveraging within same group<br><br>
            </div>
        </div>
    </div>
    
    <div class="col_two_fifth nobottommargin">
        <div class="feature-box media-box">
            <div class="fbox-media">
                <h3>- Easy and direct communication<br><br>
                <h3>- Commission-free platform<br><br>
                <h3>- Share search history within same company<br><br>
                <h3>- My project for a better follow-up<br><br>
            </div>
        </div>
    </div>
    
</div>
</section> 
<br><br><br>
<section>
<div class="container clearfix">

        <div>
            <span align="center">
                <font size="200%" color="grey">
                   <p> STOCK FEATURES </p>
                </font>
            </span>
        </div>
        <div>
            <span align="center">
                <font color="Green">
                   <h4> GET STOCK NOT STUCK</h4>
                </font>
            </span>
        </div>
        <div>
            <span align="center">
                <h3> Stock lots, production surplus, liquidated, end of line goods,labelled or not, excess clearance, closeout.
                </h3>
               
            </span>
        </div>
        <div class="col_one_third nobottommargin">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    <!-- <img src="images/services/1.jpg" alt="Why choose Us?"> -->
                </div>
                <div class="fbox-desc" align="center">
                    <img src="{% static 'img/about/sourcing/matcom.png' %}" height="80" alt="material component">
                    <h4>Easy access to the database for updates.</h4>
                </div>
            </div>
        </div>

        <div class="col_one_third nobottommargin">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    <!-- <img src="images/services/1.jpg" alt="Why choose Us?"> -->
                </div>
                <div class="fbox-desc" align="center">
                    <img src="{% static 'img/about/sourcing/matcom.png' %}" height="80" alt="material component">
                    <h4>A single and dynamic platform dedicated especially for you stockists.</h4>
                    
                </div>
            </div>
        </div>
         <div class="col_one_third nobottommargin">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    <!-- <img src="images/services/1.jpg" alt="Why choose Us?"> -->
                </div>
                <div class="fbox-desc" align="center">
                    <img src="{% static 'img/about/sourcing/matcom.png' %}" height="80" alt="material component">
                    <h4>Dealers, suppliers, resellers are allowed to post stocklots and deal directly with buyers</h4>
                    
                </div>
            </div>
        </div>
</div>
<div class="container clearfix">

       
       <div class="col_one_third nobottommargin">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    <!-- <img src="images/services/1.jpg" alt="Why choose Us?"> -->
                </div>
                <div class="fbox-desc" align="center">
                    <img src="{% static 'img/about/sourcing/matcom.png' %}" height="100" alt="material component">
                    <h4>Bid your best offer</h4>
                    
                </div>
            </div>
        </div>

        <div class="col_one_third nobottommargin">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    <!-- <img src="images/services/1.jpg" alt="Why choose Us?"> -->
                </div>
                <div class="fbox-desc" align="center">
                    <img src="{% static 'img/about/sourcing/matcom.png' %}" height="100" alt="material component">
                    <h4>Enlarge everyday your dealer and supplier network.</h4>
                    
                </div>
            </div>
        </div>
         <div class="col_one_third nobottommargin">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    <!-- <img src="images/services/1.jpg" alt="Why choose Us?"> -->
                </div>
                <div class="fbox-desc" align="center">
                    <img src="{% static 'img/about/sourcing/matcom.png' %}" height="100" alt="material component">
                    <h4>Post everyday, your stocks won't get stuck</h4>
                    
                </div>
            </div>
        </div>
</div>
</section>         
<section id="content" >
<div class="fbox-desc topmargin-sm bottommargin">
<img data-animate="fadeInRightBig" src="{% static 'img/about/sourcing/home3.png' %}" alt="material component">
</div>
</section>         
<section>
<div class="container clearfix">

        <div>
            <span align="center">
                <font size="200%" color="grey">
                   <p> JOB POSTING </p>
                </font>
            </span>
        </div>
        <div>
            <span align="center">
                <font color="Green">
                   <h4> GET STOCK NOT STUCK</h4>
                </font>
            </span>
        </div>
        <div>
            <span align="center">
                <h3>MEET THE NEW, ECONOMICALLY ATTRACTIVE WAY TO FIND CANDIDATES!<br>
                    AN INTEGRATED SOLUTION TO BRING THE RIGHT PROFILES TO YOU.
                </h3>
               
            </span>
        </div>
        <div class="col-md-12 nopad gap_calc" align="center">
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#place_your_order_here">PRICING</button>
        </div>
        <br><r>
        
        <div class="col_one_third nobottommargin">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    <!-- <img src="images/services/1.jpg" alt="Why choose Us?"> -->
                </div>
                <div class="fbox-desc" align="center">
                    <p>MANAGE YOUR DEDICATED PAGE BY POSTING,
                        EDITING, CUSTOMIZING</p>
                </div>
            </div>
        </div>

        <div class="col_one_third nobottommargin">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    <!-- <img src="images/services/1.jpg" alt="Why choose Us?"> -->
                </div>
                <div class="fbox-desc" align="center">
                    
                    <p>IT BECOMES AN INTEGRAL
                        PART OF YOUR OVERALL SOURCING EXPERIENCE</p>
                </div>
            </div>
        </div>
         <div class="col_one_third nobottommargin">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    <!-- <img src="images/services/1.jpg" alt="Why choose Us?"> -->
                </div>
                <div class="fbox-desc" align="center">
                    <p>POSTING JOB OPPORTUNITIES WORLDWIDE
                        IS NOT A CONSTRAINING AND COSTLY PROCESS
                        ANYMORE</p>
                </div>
            </div>
        </div>
</div>
</section>
<br><br><br>
<section id="footer" style="background-color:Gold;">

<div class="container clearfix">
    <div class="col_two_fifth nobottommargin">
        <div class="feature-box media-box">
            <div class="fbox-media">
                <span align="left">
                    <font size="100%" color="red">
                       <p> COMPANIES </p>
                    </font>
                </span>
                <h3>- Competitive packages<br><br>
                <h3>- User friendly interface<br><br>
                <h3>- Worldwide coverage<br><br>
                <h3>- Customize your page to fit your brand Image<br><br>
                <h3>- Management tools for full autonomy<br><br>
            </div>
        </div>
    </div>
    
    <div class="col_two_fifth nobottommargin">
        <div class="feature-box media-box">
            <div class="fbox-media">
                <span align="left">
                    <font size="100%" color="red">
                       <p> CANDIDATES </p>
                    </font>
                </span>
                <h3>- Join our Worldwide Job Section for free<br><br>
                <h3>- Consult job posts every day<br><br>
                <h3>- Consult job posts every day<br><br>
                <h3>- Direct contact with companies<br><br>
            </div>
        </div>
    </div>
    
</div>
</section>        
    
<!-- Footer
============================================= -->
{% endblock %}