{% extends 'base_about.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/about/stitch/style.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/about/stitch/style.css' %}" type="text/css">
<div id="sliders-container"></div>
<div class="avada-page-titlebar-wrapper"></div>
<main id="main" class="clearfix width-100">
    <div class="fusion-row" style="max-width:100%;">
        <section id="content" class="full-width">
            <div id="post-13808" class="post-13808 page type-page status-publish hentry">
                <span class="entry-title rich-snippet-hidden">JUSTGETIT PLAN</span>
                <span class="vcard rich-snippet-hidden">
                    <span class="fn">
                        <a href="../justgetit-admin/" title="Posts by admin_stitch" rel="author">admin_justgetit</a>
                    </span>
                </span>
                <span class="updated rich-snippet-hidden">2020-07-06T18:25:38+05:30</span>
                <div class="post-content">
                    <div class="fusion-fullwidth fullwidth-box fusion-blend-mode nonhundred-percent-fullwidth non-hundred-percent-height-scrolling"  style='background-color: rgba(0,67,96,0.98);background-position: center center;background-repeat: no-repeat;padding-right:40px;padding-bottom:0px;padding-left:40px;'>
                        <div class="fusion-builder-row fusion-row ">
                            <div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-builder-column-1 fusion-one-full fusion-column-first fusion-column-last 1_1"  style='margin-top:0px;margin-bottom:20px;'>
                                <div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url="">
                                    <div class="fusion-text">
                                        <h1 style="text-align: center; color: white;">JUSTGETIT PLAN</h1>
                                        <h3 style="text-align: center; color: white;">Meet production changing demands more easily with precise and flexible planning</h3>
                                    </div>
                                    <div class="fusion-sep-clear"></div>
                                    <div class="fusion-separator fusion-full-width-sep sep-shadow" style="background:radial-gradient(ellipse at 50% -50% , #e0dede 0px, rgba(255, 255, 255, 0) 80%) repeat scroll 0 0 rgba(0, 0, 0, 0);background:-webkit-radial-gradient(ellipse at 50% -50% , #e0dede 0px, rgba(255, 255, 255, 0) 80%) repeat scroll 0 0 rgba(0, 0, 0, 0);background:-moz-radial-gradient(ellipse at 50% -50% , #e0dede 0px, rgba(255, 255, 255, 0) 80%) repeat scroll 0 0 rgba(0, 0, 0, 0);background:-o-radial-gradient(ellipse at 50% -50% , #e0dede 0px, rgba(255, 255, 255, 0) 80%) repeat scroll 0 0 rgba(0, 0, 0, 0);margin-left: auto;margin-right: auto;margin-top:;"></div>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                            <div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-builder-column-2 fusion-one-full fusion-column-first fusion-column-last 1_1"  style='margin-top:0px;margin-bottom:20px;'>
                                <div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url="">
                                    <div class="fusion-text">
                                        <p>
                                            <div class="fusion-button-wrapper">
                                                <a class="fusion-button button-flat fusion-button-pill button-medium button-green button-1 fusion-button-default-span " target="_self" href="/about-jgi/contact/">
                                                    <span class="fusion-button-text">DEMO</span>
                                                </a>
                                            </div>
                                            <div class="fusion-button-wrapper">
                                                <a class="fusion-button button-flat fusion-button-pill button-medium button-default button-2 fusion-button-default-span " target="_self" href="/about-jgi/contact/">
                                                    <span class="fusion-button-text">FREE TRIAL</span>
                                                </a>
                                            </div>
                                        </p>
                                    </div>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fusion-fullwidth fullwidth-box nonhundred-percent-fullwidth non-hundred-percent-height-scrolling"  style='background-color: rgba(255,255,255,0);background-position: center center;background-repeat: no-repeat;padding-top:40px;padding-right:40px;padding-bottom:20px;padding-left:40px;'>
                        <div class="fusion-builder-row fusion-row ">
                            <div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-builder-column-3 fusion-one-half fusion-column-first 1_2"  style='margin-top:0px;margin-bottom:20px;width:50%;width:calc(50% - ( ( 4% ) * 0.5 ) );margin-right: 4%;'>
                                <div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url="">
                                    <div class="fusion-text">
                                        <div class="fusion-text">
                                            <h1 style="text-align: left;">A GPS System for your line planning and scheduling.<b><br /></b></h1>
                                        </div>
                                        <div class="fusion-text" style="font-family: Raleway, Arial, Helvetica, sans-serif; font-weight: 400; font-size: 18px;">
                                            <ul>
                                                <li style="text-align: left;">Enables better Long-Term and multi-level capacity Planning for multiple factories, lines, and machines.</li>
                                                <li style="text-align: left;">Dynamic scheduling for high mix low volume environment.</li>
                                                <li style="text-align: left;">Optimum capacity utilization of line.</li>
                                                <li style="text-align: left;">Running the right products at the right time with AI enables smart sequencing.</li>
                                                <li style="text-align: left;">Real-time production status is fed back to the JUSTGETIT PLAN, for a continuously optimized plan.</li>
                                                <li style="text-align: left;">Critical paths and Pre-production milestones.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                            <div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2 fusion-builder-column-4 fusion-one-half fusion-column-last 1_2"  style='margin-top:0px;margin-bottom:20px;width:50%;width:calc(50% - ( ( 4% ) * 0.5 ) );'>
                                <div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url="">
                                    <span style="-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;" class="fusion-imageframe imageframe-none imageframe-1 hover-type-zoomin">
                                        <img src="https://www.stitcherp.com/wp-content/uploads/2020/07/planning.png" width="1561" height="1304" alt="" title="planning" class="img-responsive wp-image-13814"/>
                                    </span>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fusion-fullwidth fullwidth-box nonhundred-percent-fullwidth non-hundred-percent-height-scrolling"  style='background-color: rgba(255,255,255,0);background-position: center center;background-repeat: no-repeat;padding-top:0px;padding-right:40px;padding-bottom:0px;padding-left:40px;'>
                        <div class="fusion-builder-row fusion-row ">
                            <div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-builder-column-5 fusion-one-full fusion-column-first fusion-column-last 1_1"  style='margin-top:0px;margin-bottom:20px;'>
                                <div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url="">
                                    <div class="fusion-text">
                                        <h1 style="text-align: center; color: #000;"><b>Powerful Tools &amp; Features</b></h1>
                                    </div>
                                    <div class="fusion-sep-clear"></div>
                                    <div class="fusion-separator fusion-full-width-sep sep-shadow" style="background:radial-gradient(ellipse at 50% -50% , #e0dede 0px, rgba(255, 255, 255, 0) 80%) repeat scroll 0 0 rgba(0, 0, 0, 0);background:-webkit-radial-gradient(ellipse at 50% -50% , #e0dede 0px, rgba(255, 255, 255, 0) 80%) repeat scroll 0 0 rgba(0, 0, 0, 0);background:-moz-radial-gradient(ellipse at 50% -50% , #e0dede 0px, rgba(255, 255, 255, 0) 80%) repeat scroll 0 0 rgba(0, 0, 0, 0);background:-o-radial-gradient(ellipse at 50% -50% , #e0dede 0px, rgba(255, 255, 255, 0) 80%) repeat scroll 0 0 rgba(0, 0, 0, 0);margin-left: auto;margin-right: auto;margin-top:;"></div>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fusion-fullwidth fullwidth-box nonhundred-percent-fullwidth non-hundred-percent-height-scrolling fusion-equal-height-columns"  style='background-color: rgba(255,255,255,0);background-position: center center;background-repeat: no-repeat;padding-top:0px;padding-right:40px;padding-bottom:40px;padding-left:40px;'><div class="fusion-builder-row fusion-row "><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_3 fusion-builder-column-6 fusion-one-third fusion-column-first 1_3"  style='margin-top:0px;margin-bottom:15px;width:33.33%;width:calc(33.33% - ( ( 15px + 15px ) * 0.3333 ) );margin-right: 15px;'>
<div class="fusion-column-wrapper" style="overflow:hidden;border-radius:10px 10px 10px 10px;box-shadow: 0px 10px 51px 3px rgba(0,0,0,0.15);padding: 0px 30px 30px 30px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;border-radius:10px 10px 10px 10px;"   data-bg-url="">
    <div class="imageframe-align-center"><span style="-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;width:100%;max-width:150px;" class="fusion-imageframe imageframe-none imageframe-2 hover-type-none"><img src="https://www.stitcherp.com/wp-content/uploads/2020/07/1-Breakdown-Maintenance.png" width="300" height="300" alt="" title="1-Breakdown Maintenance" class="img-responsive wp-image-13603"/></span></div><div class="fusion-title title fusion-title-1 fusion-sep-none fusion-title-center fusion-title-size-three" style="font-size:24px;margin-top:0px;margin-bottom:20px;"><h3 class="title-heading-center" style="margin:0;font-size:1em;">Visual Planning Board</h3></div><div class="fusion-text"><ul>
<li style="text-align: left;">Define orders process flow and tasks on the fly.</li>
<li style="text-align: left;">Visual, Drag and drop and Intuitive planning screens.</li>
<li style="text-align: left;">Define changeover learning curves.</li>
<li style="text-align: left;">Loading plan and control.</li>
<li style="text-align: left;">Dynamic scheduling.</li>
<li style="text-align: left;">Increased visibility and control.</li>
</ul>
</div><div class="fusion-clearfix"></div>

</div>
</div><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_3 fusion-builder-column-7 fusion-one-third 1_3"  style='margin-top:0px;margin-bottom:15px;width:33.33%;width:calc(33.33% - ( ( 15px + 15px ) * 0.3333 ) );margin-right: 15px;'>
<div class="fusion-column-wrapper" style="overflow:hidden;border-radius:10px 10px 10px 10px;box-shadow: 0px 10px 51px 3px rgba(0,0,0,0.15);padding: 0px 30px 30px 30px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;border-radius:10px 10px 10px 10px;"   data-bg-url="">
    <div class="imageframe-align-center"><span style="-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;width:100%;max-width:150px;" class="fusion-imageframe imageframe-none imageframe-3 hover-type-none"><img src="https://www.stitcherp.com/wp-content/uploads/2020/07/2-Predictive-maintenance.png" width="300" height="300" alt="" title="2-Predictive maintenance" class="img-responsive wp-image-13604"/></span></div><div class="fusion-title title fusion-title-2 fusion-sep-none fusion-title-center fusion-title-size-three" style="font-size:24px;margin-top:0px;margin-bottom:20px;"><h3 class="title-heading-center" style="margin:0;font-size:1em;"><span style="font-weight: 400;">Alerts and Notifications</span></h3></div><div class="fusion-text"><ul>
<li style="text-align: left;">Alerts and KPIs help to plan, manage and control better.</li>
<li style="text-align: left;">Critical paths and Pre-production milestones delays trigger reoptimize of the plan as needed, keeping everyone on track.</li>
<li style="text-align: left;">Event based notifications on delays and production targets deviations.</li>
<li style="text-align: left;">Early identification of bottlenecks</li>
</ul>
</div><div class="fusion-clearfix"></div>

</div>
</div><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_3 fusion-builder-column-8 fusion-one-third fusion-column-last 1_3"  style='margin-top:0px;margin-bottom:15px;width:33.33%;width:calc(33.33% - ( ( 15px + 15px ) * 0.3333 ) );'>
<div class="fusion-column-wrapper" style="overflow:hidden;border-radius:10px 10px 10px 10px;box-shadow: 0px 10px 51px 3px rgba(0,0,0,0.15);padding: 0px 30px 30px 30px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;border-radius:10px 10px 10px 10px;"   data-bg-url="">
    <div class="imageframe-align-center"><span style="-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;width:100%;max-width:150px;" class="fusion-imageframe imageframe-none imageframe-4 hover-type-none"><img src="https://www.stitcherp.com/wp-content/uploads/2020/07/3-work-order-management.png" width="300" height="300" alt="" title="3-work order management" class="img-responsive wp-image-13605"/></span></div><div class="fusion-title title fusion-title-3 fusion-sep-none fusion-title-center fusion-title-size-three" style="font-size:24px;margin-top:0px;margin-bottom:20px;"><h3 class="title-heading-center" style="margin:0;font-size:1em;"><span style="font-weight: 400;">Integration</span></h3></div><div class="fusion-text"><ul>
<li style="text-align: left;">Seamless integration with ERP/PLM.</li>
<li style="text-align: left;">Easy onboarding.</li>
<li style="text-align: left;">Quick ROI</li>
</ul>
</div><div class="fusion-clearfix"></div>

</div>
</div></div></div><div class="fusion-fullwidth fullwidth-box nonhundred-percent-fullwidth non-hundred-percent-height-scrolling"  style='background-color: rgba(255,255,255,0);background-position: center center;background-repeat: no-repeat;padding-top:20px;padding-right:40px;padding-bottom:0px;padding-left:40px;'><div class="fusion-builder-row fusion-row "><div  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-builder-column-9 fusion-one-full fusion-column-first fusion-column-last 1_1"  style='margin-top:0px;margin-bottom:20px;'>
<div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"   data-bg-url="">
    <div class="fusion-text"><p><div class="fusion-button-wrapper"><a class="fusion-button button-flat fusion-button-pill button-medium button-green button-3 fusion-button-default-span " target="_self" href="/about-jgi/contact/"><span class="fusion-button-text">   DEMO   </span></a></div>           <div class="fusion-button-wrapper"><a class="fusion-button button-flat fusion-button-pill button-medium button-default button-4 fusion-button-default-span " target="_self" href="/about-jgi/contact/"><span class="fusion-button-text">FREE TRIAL</span></a></div></p>
</div><div class="fusion-clearfix"></div>

</div>
</div></div></div>
        </div>
                            </div>
</section>
    
</div>  <!-- fusion-row -->
</main>  <!-- #main -->
{% endblock %}