{% extends 'base_b2bsourcing.html' %}
{% load static %}

{% block content %}	
<section id="content" >
        <div class="col-xs-12">
            <img data-animate="fadeInLeftBig" class="col-md-12" src="{% static 'img/about/sourcing/Pricing_Banner.png' %}" alt="pricing banner">
                    
        </div>
</section>	

<section id="content" >
<div class="content-wrap">
    <div class="container clearfix">
        <div class="fbox-desc topmargin-sm">
            <div class="topmargin-sm col_last">

                        <div class="topmargin">
                            
                            <span align="right"><font size="200%" color="grey">BUYERS</font></span>
                        </div>
                        <div class="topmargin">
                            
                            <span align="left"><font size="200%" color="grey">PRICING</font></span>
                        </div>
                        <span align="left">
                            <h4>
                            Welcome to Fashion Sourcing Subscription Plans!
                            <br>

                            You will certainly find the one that suits your needs among the various scenarios we offer.Choose our competitive formulas according to your team's requirements and pay a one-time fee to access our extensive database of experts.
                            <br><br>
                            Note that Fashion Sourcing is a smart referencing platform that helps buyers and suppliers connect to develop business opportunities.
                            <br>
                                We take NO COMMISSION whatsoever on resulting transactions and you communicate directly with your contacts.
                            <br><br>
                            Check out the extra functionalities that will help you optimize your business.In case you have questions, please contact our sales team.
                            </h4>
                        </span>
                </div>
        </div>
    </div>    
</div>    
</section>   

<section id="content" >
<div class="content-wrap">
    <div class="container clearfix">
        <div class="fbox-desc">
            <div >
                <table align="center">
                    <tr>
                        <td>
                            <div class="col-md-12 nopad gap_calc" align="center">
                                <button type="button" class="btn btn-info btn-lg">
                                    <a href="#">BUYERS
                                </button>
                            </div>
                        </td>
                        <td>
                            <div class="col-md-12 nopad gap_calc" align="center">
                                <button type="button" class="btn btn-info btn-lg">
                                    <a href="#">SUPPLIERS
                                </button>
                            </div>
                        </td>
                        <td>
                            <div class="col-md-12 nopad gap_calc" align="center">
                                <button type="button" class="btn btn-info btn-lg">
                                    <a href="#">EXPERTS
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>    
            </div>
        </div>
    </div>
</div>
</section>
<section id="content" >
<div class="content-wrap">
    <div class="container clearfix">
        <div class="fbox-desc">
            <div >
                <div class="heading-block">
                    
                    <span align="center"><font size="200%" color="grey">BUYERS PLAN</font></span>
                </div>
                <table align="center">
                    <tr>
                        <td>
                            <div class="col-md-12 nopad gap_calc" align="center">
                                <h4>FEATURES</h4>
                            </div>
                        </td>
                        <td>
                            <div class="col-md-12 nopad gap_calc" align="center">
                                <h4>FASHION SCHOOL FREE</h4>
                            </div>
                        </td>
                        <td>
                            <div class="col-md-12 nopad gap_calc" align="center">
                                <h4>CANDIDATE FREE</h4>
                            </div>
                        </td>
                    </tr>
                </table>    
            </div>
        </div>
    </div>
</div>
</section>

<!-- Footer
============================================= -->
{% endblock %}