{% extends 'base_gown.html' %}

{% load static %}

{% block content %}


	<!-- Page top section -->
	<section class="page-top-section set-bg" data-setbg="{% static 'img/gown/header-bg/1.jpg' %}">
		<h2>The Brand</h2>
		<div class="hero-social-warp">
			<p>Follow us on Social MEdia</p>
			<div class="hero-social-links">
				<a href="#"><i class="fa fa-behance"></i></a>
				<a href="#"><i class="fa fa-dribbble"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-pinterest"></i></a>
			</div>
		</div>
	</section>
	<!-- Page top section end-->

	<!-- Intro section -->
	<section class="intro-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 order-2 order-lg-1 intro-text">
					<span>Aenean quis velit pulvinar,</span>
					<h2>"I firmly believe that with the right footwear one can rule the world."</h2>
					<p>Aenean quis velit pulvinar, pellentesque neque vel, laoreet orci. Suspendisse potenti. Donec congue vel justo eget malesuada. In arcu justo, sagittis consequat pulvinar quis, pretium quis massa. Vestibulum nec nibh eu nisi rutrum iaculis. Pellentesque placerat sit amet leo in vestibu-lum. Suspendisse quam neque, rutrum vel scelerisque eu</p>
					<a href="#" class="site-btn sb-dark">Read More <i class="fa fa-angle-double-right"></i></a>
				</div>
				<div class="col-lg-5 order-1 order-lg-2">
					<img src="{% static 'img/gown/about-img.jpg' %}" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- Intro section end-->
	
	<!-- Award section -->
	<section class="award-section spad">
		<div class="container">
			<div class="section-title text-center">
				<span>Aenean quis velit pulvinar,</span>
				<h2>Awards & Nominations</h2>
			</div>
			<div class="award-slider owl-carousel">
				<div class="award-box">
					<div class="award-year">2011</div>
					<h4>Fashion AWARDS</h4>
					<p>Suspendisse rhoncus turpis sed viverra molestie</p>
				</div>
				<div class="award-box">
					<div class="award-year">2012</div>
					<h4>Fashion magazine AWARDS</h4>
					<p>Suspendisse rhoncus turpis sed viverra molestie</p>
				</div>
				<div class="award-box">
					<div class="award-year">2015</div>
					<h4>Fashion AWARDS</h4>
					<p>Suspendisse rhoncus turpis sed viverra molestie</p>
				</div>
				<div class="award-box">
					<div class="award-year">2017</div>
					<h4>Fashion magazine AWARDS</h4>
					<p>Suspendisse rhoncus turpis sed viverra molestie</p>
				</div>
				<div class="award-box">
					<div class="award-year">2017</div>
					<h4>Fashion magazine AWARDS</h4>
					<p>Suspendisse rhoncus turpis sed viverra molestie</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Award section end-->
	
	<!-- Milestones section -->
	<section class="milestones-section set-bg" data-setbg="{% static 'img/gown/milestones-bg.jpg' %}">
		<div class="container">
			<div class="row text-white">
				<div class="col-lg-3 col-sm-6">
					<div class="milestone-item">
						<h2>14</h2>
						<p>Fashion Awards</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="milestone-item">
						<h2>25K</h2>
						<p>IG Followers</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="milestone-item">
						<h2>5</h2>
						<p>Great Designers</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="milestone-item">
						<h2>56</h2>
						<p>Award Nomenees</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Milestones section end-->

	<!-- Brand History section -->
	<section class="brand-history-section spad">
		<div class="container">
			<div class="section-title text-center">
				<span>Aenean quis velit pulvinar,</span>
				<h2>The Brand History</h2>
			</div>
			<div class="row justify-content-md-center">
				<div class="col-lg-10">
					<div class="brand-history-item">
						<h2>2005</h2>
						<h4>Aenean quis velit pulvinar, pellentesque </h4>
						<p>Aenean quis velit pulvinar, pellentesque neque vel, laoreet orci. Suspendisse potenti. Donec congue vel justo eget malesuada. In arcu justo, sagittis consequat pulvinar quis, pretium quis massa. Vestibulum nec nibh eu nisi rutrum iaculis.</p>
					</div>
					<div class="brand-history-item">
						<h2>2008</h2>
						<h4>Suspendisse rhoncus turpis </h4>
						<p>Aenean quis velit pulvinar, pellentesque neque vel, laoreet orci. Suspendisse potenti. Donec congue vel justo eget malesuada. In arcu justo, sagittis consequat pulvinar quis, pretium quis massa. Vestibulum nec nibh eu nisi rutrum iaculis.</p>
					</div>
				</div>
			</div>
			<div class="text-center">
				<a href="#" class="site-btn sb-dark">Read More <i class="fa fa-angle-double-right"></i></a>
			</div>
		</div>
	</section>
	<!-- Brand History section end-->
		
	<!-- Back to top -->
	<div class="container">
		<div class="backtotop">
			<div class="up-btn" id="backTotop">UP</div>
		</div>
	</div>

{% endblock %}	