{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/channels/newtask.css' %}">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'chosen/chosen.jquery.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'chosen/chosen.min.css' %}">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


<style>
    ul,
    li {
        list-style-type: none;
        list-style-position: inside;
        margin: 0;
        padding: 0;
    }
    
    .no-border {
        padding: 0;
        border: none;
        background: none;
    }
</style>
<style>
    .chosen-container.chosen-container-multi {
        width: 300px !important;
        /* or any value that fits your needs */
    }
</style>
{% endblock %} {% block content %}
<div class="row">
    <div class="col-3">
        <h3><span name="project_name">{{project.name}}</span> </h3>
    </div>
</div>
<br>
<div class="container-fluid">
    <div id="section-div" class="row flex-row flex-nowrap sortableSection">
        {% for data in section_dt %}
        <div class="col-3" id="{{data.0.id}}">
            <div class="card">
                <div class="card-header text-center" style="background-color: lightskyblue;">
                    <h4><span name="section-name-{{data.0.id}}">{{data.0.name}}</span></h4>
                </div>
                <ul class="sortableList droppableSection" id="{{data.0.id}}">
                    {% for taskdt in data.1 %}
                    <li class="ui-state-default taskcontents text-center acceptable" id="{{taskdt.0.id}}">
                        <h5> <button class="no-border" data-toggle="modal" data-target="#taskmodal-{{taskdt.0.id}}" data-backdrop="false"><span name="taskname-{{taskdt.0.id}}">{% if taskdt.0.is_complete %}<del>{{taskdt.0.name}}</del>{% else %}{{taskdt.0.name}}{% endif %}</span></button></h5>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- PROJECT MODAL SECTION -->

<!-- PROJECT MODAL SECTION END -->


{% for data in section_dt %} {% for taskdt in data.1 %}
<div class="modal fade" tabindex="-1" id="taskmodal-{{taskdt.0.id}}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Task </h5>
                <button class="btn btn-outline-danger" style="margin-left: 10px;" data-toggle="collapse" data-target="#delete-task-{{taskdt.0.id}}" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-trash-alt"></i></button>
                <div class="collapse" style="margin-left: 10px;" id="delete-task-{{taskdt.0.id}}"> Are you sure? <button class="btn btn-danger" onclick="delete_task('{{taskdt.0.id}}')">Yes</button> <button class="btn btn-primary" data-toggle="collapse" data-target="#delete-task-{{taskdt.0.id}}" aria-expanded="false" aria-controls="collapseExample"> No</button></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="card border-info">
                    <div class="card-header text-center">
                        <h4><input onkeyup="edit_task_name(event, '{{taskdt.0.id}}')" type="text" value="{{taskdt.0.name}}" id="taskname-{{taskdt.0.id}}"> Completed: {% if taskdt.0.is_complete %}<input type="checkbox" onclick="complete_task('{{taskdt.0.id}}')"
                                id="taskcomplete-{{taskdt.0.id}}" checked> {% else %}<input type="checkbox" id="taskcomplete-{{taskdt.0.id}}" onclick="complete_task('{{taskdt.0.id}}')"> {% endif %}</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <p><strong>Due Date: </strong><span name="taskduedate-value-{{taskdt.0.id}}">{{taskdt.0.due_date}}</span></p>
                                <p>Update: <input type="datetime-local" id="taskduedate-{{taskdt.0.id}}"> <a href="#" style="font-size: x-large;" onclick="update_due_date('{{taskdt.0.id}}')"><i class="fa fa-floppy-o" aria-hidden="true"></i></a></p>
                            </div>
                            <div class="col-6">
                                <h6>Description: <a href="#" style="font-size: x-large;" onclick="update_task_desc('{{taskdt.0.id}}')"><i class="fa fa-floppy-o" aria-hidden="true"></i></a></h6>
                                <textarea rows="4" cols="40" class="form-input" id="taskdesc-{{taskdt.0.id}}">{{taskdt.0.description}}</textarea>
                            </div>
                            <div class="col-6">
                                <h6>Check List:</h6>
                                <ul>
                                    {% for checklistitem in taskdt.1 %}
                                    <li id="checklistitem-{{checklistitem.id}}">
                                        {% if checklistitem.is_checked %}
                                        <input type="checkbox" onclick="check_item('{{checklistitem.id}}')" id="checkbox-{{checklistitem.id}}" checked> {% else %}<input type="checkbox" id="checkbox-{{checklistitem.id}}" onclick="check_item('{{checklistitem.id}}')">                                        {% endif %}
                                        <label class="form-check-label" for="checklist{{checklistitem.id}}">{{checklistitem.title}} <a href="#" onclick="delete_checklist('{{checklistitem.id}}')"><i class="fa fa-trash" style="color: red;" aria-hidden="true"></a></i></label>
                                    </li>
                                    {% endfor %}
                                    <div id="new_checklist-{{taskdt.0.id}}">

                                    </div>
                                    <li>
                                        <div class="collapse" id="checklistcollapse-{{taskdt.0.id}}">
                                            <input type="text" id="newchecklist-{{taskdt.0.id}}" />
                                            <button class="btn btn-primary btn-sm" onclick="add_checklist('{{taskdt.0.id}}')">Add</button>
                                        </div>
                                    </li>
                                    <li>
                                        <button class="no-border btn-block" data-toggle="collapse" data-target="#checklistcollapse-{{taskdt.0.id}}" aria-expanded="false" aria-controls="collapseExample"><h6><i class="fas fa-plus-circle"></i></h6></button>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <h6>Attachments: </h6>
                                <ul>
                                    {% for attachment in taskdt.2 %}
                                    <li id="attachment-{{attachment.id}}">
                                        <p class="text-dark">{{attachment.name}} <a download href="{{attachment.file.url}}" target="_blank" class="btn btn-sm"><i class="fas fa-download"></i></a><a href="{{attachment.file.url}}" target="_blank" class="btn btn-sm"><i class="fa fa-eye"></i></a>                                            <a href="#" onclick="delete_attachment('{{attachment.id}}')"><i class="fa fa-trash" style="color: red;" aria-hidden="true"></a></i>
                                        </p>
                                    </li>
                                    {% endfor %}
                                    <div id="new_attachment-section-{{taskdt.0.id}}">

                                    </div>
                                    <li>
                                        <div class="collapse" id="attachmentcollapse-{{taskdt.0.id}}">
                                            <input type="file" id="newattach-file-{{taskdt.0.id}}" />
                                            <label>Attachment Name: </label>
                                            <input type="text" id="newattach-name-{{taskdt.0.id}}">
                                            <button class="btn btn-primary btn-sm" onclick="add_attachment('{{taskdt.0.id}}')">Add</button>
                                        </div>
                                    </li>
                                    <li>
                                        <button class="no-border btn-block" data-toggle="collapse" data-target="#attachmentcollapse-{{taskdt.0.id}}" data-backdrop="false"><h6><i class="fas fa-plus-circle"></i></h6></button>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <h6>Comments: </h6>
                                <ul>
                                    <div id="new_comment-section-{{taskdt.0.id}}">

                                    </div>
                                    {% for comment in taskdt.3 %}
                                    <li>
                                        <p><strong>{{comment.text}}</strong></p>
                                        <p>By {{comment.commentor}} on {{comment.date_created}}</p>
                                    </li>
                                    {% endfor %}
                                    <li>
                                        <div class="collapse" id="commentcollapse-{{taskdt.0.id}}">
                                            <input type="text" id="newcomment-{{taskdt.0.id}}" />
                                            <button class="btn btn-primary btn-sm" onclick="add_comment('{{taskdt.0.id}}')">Add</button>
                                        </div>
                                    </li>
                                    <li>
                                        <button class="no-border btn-block" data-toggle="collapse" data-target="#commentcollapse-{{taskdt.0.id}}"><h6><i class="fas fa-plus-circle"></i></h6></button>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <p style="color: red;">* Please hold 'ctrl' while selecting multiple values</p>
                                {{taskdt.4.assigned_to | as_crispy_field}} <button type="button" class="btn btn-primary" onclick="assign_task('{{taskdt.0.id}}')">Assign</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %} {% endfor %}
<!-- TASK MODAL SECTION END -->
<!-- SECTION MODAL SECTION -->
<!-- SECTION MODAL SECTION END -->
<!-- AJAX FUNCTIONS -->
<script>
    // currwork
    function delete_task(task_id) {
        $.ajax({
            type: 'POST',
            url: "{% url 'ajax' %}",
            data: {
                action: 'delete_task',
                task_id: task_id,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            cache: false,
            dataType: "json",
            success: function(data) {
                console.log(data)
                location.reload();
            }
        });
    }


    function add_comment(task_id) {
        comment = $('#newcomment-' + task_id).val();
        comment_div = document.getElementById('new_comment-section-' + task_id);
        if (comment.trim() !== "") {
            $.ajax({
                type: 'POST',
                url: "{% url 'ajax' %}",
                data: {
                    action: 'add_comment',
                    task_id: task_id,
                    comment: comment,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                cache: false,
                dataType: "json",
                success: function(data) {
                    console.log(data);
                    var element = document.createElement('li');
                    element.innerHTML = `<p><strong>` + comment + `</strong></p>
                <p>By ` + data['commentor'] + ` on ` + data['date'] + `</p>`;
                    comment_div.appendChild(element);
                    $('#newcomment-' + task_id).val('');
                }
            });
        }
    }

    function assign_task(task_id) {
        var selectedValues = $('#id_' + task_id + '-task-assigned_to').val();
        console.log(selectedValues);
        $.ajax({
            type: 'POST',
            url: "{% url 'ajax' %}",
            data: {
                action: 'assign_task',
                task_id: task_id,
                assign_to: JSON.stringify(selectedValues),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            cache: false,
            dataType: "json",
            success: function(data) {
                console.log(data)

            }
        });

    }


    function edit_task_name(e, task_id) {
        console.log('keycode: ' + e.code);
        console.log('task_id: ' + task_id);
        if (e.code == "Enter") {
            var name = $('#taskname-' + task_id).val();
            if (name.trim() !== "") {
                $.ajax({
                    type: 'POST',
                    url: "{% url 'ajax' %}",
                    data: {
                        action: 'update_taskname',
                        name: name,
                        task_id: task_id,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    cache: false,
                    dataType: "json",
                    success: function(data) {
                        console.log(data)
                        var pname = document.getElementsByName('taskname-' + task_id);
                        pname.forEach(element => {
                            element.innerText = name;
                        });
                    }
                });
            }
        }
    }

    function add_attachment(task_id) {
        name = $('#newattach-name-' + task_id).val();
        file = $('#newattach-file-' + task_id).val();
        if (name.trim() !== "" && file.trim() !== "") {
            var new_attach_div = document.getElementById('new_attachment-section-' + task_id);
            var file = $('#newattach-file-' + task_id)[0].files[0]
            var fd = new FormData();
            fd.append('file', file);
            fd.append('action', 'add_attachment');
            fd.append('task_id', task_id);
            fd.append('name', name);
            fd.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
            $.ajax({
                type: 'POST',
                url: "{% url 'ajax' %}",
                data: fd,
                processData: false,
                contentType: false,
                success: function(data) {
                    console.log(data);
                    attachment_id = data['attachment_id'];
                    url = data['url'];
                    var element = document.createElement('li');
                    element.setAttribute('id', "attachment-" + attachment_id);
                    element.innerHTML = `<p class="text-dark">` + name + ` <a download href="` + url + `" target="_blank" class="btn btn-sm"><i class="fas fa-download"></i></a><a href="` + url + `" target="_blank" class="btn btn-sm"><i class="fa fa-eye"></i></a><a href="#" onclick="delete_attachment('` + attachment_id + `')"><i class="fa fa-trash" style="color: red;" aria-hidden="true"></a></i>
                                        </p>`;
                    new_attach_div.appendChild(element);
                    $('#newattach-file-' + task_id).val('');
                    $('#newattach-name-' + task_id).val('');
                }
            });
        }
    }

    function delete_checklist(checklist_id) {
        $.ajax({
            type: 'POST',
            url: "{% url 'ajax' %}",
            data: {
                action: 'delete_checklist',
                checklist_id: checklist_id,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            cache: false,
            dataType: "json",
            success: function(data) {
                console.log(data);
                document.getElementById('checklistitem-' + checklist_id).remove()
            }
        });
    }

    function delete_attachment(attachment_id) {
        $.ajax({
            type: 'POST',
            url: "{% url 'ajax' %}",
            data: {
                action: 'delete_attachment',
                attachment_id: attachment_id,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            cache: false,
            dataType: "json",
            success: function(data) {
                console.log(data);
                document.getElementById('attachment-' + attachment_id).remove()
            }
        });
    }

    function complete_task(task_id) {
        if (document.getElementById('taskcomplete-' + task_id).checked) {
            value = true;
        } else {
            value = false;
        }
        $.ajax({
            type: 'POST',
            url: "{% url 'ajax' %}",
            data: {
                action: 'complete_task',
                task_id: task_id,
                value: value,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            cache: false,
            dataType: "json",
            success: function(data) {
                console.log(data);
                var pname = document.getElementsByName('taskname-' + task_id);
                pname.forEach(element => {
                    if (value == true) {
                        element.innerHTML = `<del>` + data['task_name'] + '</del>';
                    } else {
                        element.innerText = data['task_name'];
                    }
                });
            }
        });
    }

    function update_due_date(task_id) {
        var date = $("#taskduedate-" + task_id).val();
        if (date.trim() !== "") {
            $.ajax({
                type: 'POST',
                url: "{% url 'ajax' %}",
                data: {
                    action: 'update_due_date',
                    task_id: task_id,
                    date: date,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                cache: false,
                dataType: "json",
                success: function(data) {
                    console.log(data);
                    var pname = document.getElementsByName('taskduedate-value-' + task_id);
                    pname.forEach(element => {
                        element.innerText = date;
                    });
                }
            });
        }
    }

    function update_task_desc(task_id) {
        var desc = $("#taskdesc-" + task_id).val();
        $.ajax({
            type: 'POST',
            url: "{% url 'ajax' %}",
            data: {
                action: 'update_task_desc',
                task_id: task_id,
                description: desc,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            cache: false,
            dataType: "json",
            success: function(data) {
                console.log(data);

            }
        });
    }

    function check_item(checklist_id) {
        if (document.getElementById('checkbox-' + checklist_id).checked) {
            value = true;
        } else {
            value = false;
        }

        $.ajax({
            type: 'POST',
            url: "{% url 'ajax' %}",
            data: {
                action: 'check_item',
                checklist_id: checklist_id,
                value: value,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            cache: false,
            dataType: "json",
            success: function(data) {
                console.log(data);
            }
        });
    }

    function add_checklist(task_id) {
        checklist_title = $('#newchecklist-' + task_id).val();
        if (checklist_title.trim() !== "") {
            $.ajax({
                type: 'POST',
                url: "{% url 'ajax' %}",
                data: {
                    action: 'add_checklist',
                    task_id: task_id,
                    title: checklist_title,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                cache: false,
                dataType: "json",
                success: function(data) {
                    console.log(data);
                    checklist_id = data['checklist_id']
                    checklist_section = document.getElementById('new_checklist-' + task_id);
                    var element = document.createElement('li');
                    element.setAttribute('id', "checklistitem-" + checklist_id);
                    element.innerHTML = `<input type="checkbox" id="checkbox-` + checklist_id + `" onclick="check_item('` + checklist_id + `')">                                  
                             <label class="form-check-label" for="checklist` + checklist_id + `">` + checklist_title + ` <a href="#" onclick="delete_checklist('` + checklist_id + `')"><i class="fa fa-trash" style="color: red;" aria-hidden="true"></a></i></label>`;
                    checklist_section.appendChild(element);
                    $('#newchecklist-' + task_id).val('');
                }
            });
        }
    }
</script>
<script>
    $(document).ready(function() {
        $(".chosen-select").chosen()
    });
</script>
{% endblock %}