{% extends "enquiry/branding_base.html" %} {% load static %} {% block title %}
<title>Just Get It | Terms and Conditions</title>
{% endblock title %} {% block content %}

    <section
      class="
        ls
        s-overlay
        mobile-overlay
        s-pt-160 s-pb-xl-150 s-pb-lg-130 s-pb-md-90 s-pb-60
      "
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="privacy-text">
              <h1>Terms and Conditions</h1>
              <p>
                These Terms and Conditions ("Agreement") governs the use of the
                services ("Service") that are made available by Tentackles
                Strategic Design Pvt Ltd ("we" or "us"). These Terms and
                Conditions represent the whole agreement and understanding
                between Just Get It Pvt Ltd and the individual
                or entity who subscribes to our service ("Subscriber" or "you").
              </p>
              <p>
                PLEASE READ THIS AGREEMENT CAREFULLY. By submitting your
                application and by your use of the Service, you agree to comply
                with all of the terms and conditions set out in this Agreement.
                Just Get It Pvt Ltd may terminate your account
                at any time, with or without notice, for conduct that is in
                breach of this Agreement, for conduct that Tentackles Strategic
                Design Pvt Ltd believes is harmful to its business, or for
                conduct where the use of the Service is harmful to any other
                party.
              </p>
              <h4>Acceptance of Terms of Use</h4>
              <ul>
                <li>
                  Your access to and use of the Service is conditioned on your
                  acceptance of and compliance with these Terms. If you do not
                  accept all of these Terms, then you may not use our website.
                </li>
                <li>
                  These Terms include an Arbitration clause and a waiver of your
                  right to participate in the lawsuit.
                </li>
                <li>
                  Just Get It Pvt Ltd reserves the right, at our
                  sole discretion, to modify or replace these Terms at any time.
                  These changes do not affect rights and obligations that arose
                  prior to such change. Your continued use of Tentackles
                  Strategic Design Pvt Ltd websites following the posting of
                  modified Terms will be subject to the Terms in effect at the
                  time of your use. Please review these Terms periodically, if
                  you object to any provisions of these Terms or any
                  modifications or become dissatisfied with Tentackles Strategic
                  Design Pvt Ltd website in any way, your only recourse is to
                  immediately terminate use of Our website.
                </li>
              </ul>
              <h4>Registration</h4>
              <p>
                To access the Site or some of the resource they offer, you may
                be asked to provide certain details or other information to
                become a registered user. It is a condition of your use of the
                Site that all the information you provide on the Site is
                correct, current, and complete. You agree that all the
                information you provide to register with the Site or otherwise,
                is governed by our Privacy Policy, and you consent to all
                actions we take with respect to your information consistent with
                our Privacy Policy.
              </p>
              <h4>Confidentiality</h4>
              <p>
                The Parties, undertake to maintain strict confidentiality and
                refrain from disclosure thereof, of all or any part of the
                information and data exchanged/generated from the Process under
                this Agreement for any purpose other than in accordance with
                this Agreement. It shall be the responsibility of both the
                Parties to ensure maintenance of such confidentiality in respect
                of their behalf and on behalf of their employees,
                representatives, and associates involved in related activities.
              </p>
              <h4>Sale & Purchase</h4>
              <ul>
                <li>
                  In addition to the services provided, Tentackles Strategic
                  Design Pvt Ltd also offers information and marketing
                  materials. This Website also offers information, both directly
                  and through indirect.
                </li>
                <li>
                  Just Get It Pvt Ltd have no control over, and
                  assumes no responsibility for, the content, privacy policies,
                  or practices of any third party websites or services or links
                  to third- party websites. Any links to third-party websites
                  are provided solely as a convenience to you. You further
                  acknowledge and agree that Just Get It Pvt Ltd
                  shall not be responsible or liable, directly or indirectly,
                  for any damage or loss caused or alleged to be caused by or 2
                  in connection with use of or reliance on any such content,
                  goods, or services available on or through any such web sites
                  or services.
                </li>
                <li>
                  Just Get It Pvt Ltd do not claim ownership of
                  any information data, text, software, music, sound,
                  photographs, video, messages, tags, or other materials you
                  submit for display or distribution or purchase to others
                  through the Services.
                </li>
                <li>
                  Our Service allows you to post, link, share and otherwise make
                  available certain information, text, graphics, videos, or
                  other material ("Content"). You are responsible for the
                  content posted and further any damage caused to the Purchaser
                  because of the product/content posted or sold.
                </li>
                <li>
                  If you wish to purchase any product through our Marketplace,
                  you may be asked to supply certain information relevant to
                  your Purchase including, without limitation, your credentials,
                  credit card, e-wallet, and other payment system details.
                </li>
                <li>
                  You are required to conduct your due diligence before
                  purchasing any product supplied by the third-party at our
                  marketplace. Just Get It Pvt Ltd will not be
                  responsible for the content of or any damage that may result
                  from your access/purchase to or reliance on these third-party
                  websites. If you link to third-party websites, you do so at
                  your own risk. Just Get It Pvt Ltd will try
                  and locate the third-party in any such event and forward the
                  requisite information to you for further actions.
                </li>
              </ul>
              <h4>Charges for Services</h4>
              <p>
                Just Get It Pvt Ltd may charge for access to
                portions of the Sites or the Site as a whole, and Tentackles
                Strategic Design Pvt Ltd reserve the right at any time to change
                the amount for such access or subscription that include
                authorization to access the Site.
              </p>
              <h4>Service Fees / Payments / Invoices</h4>
              <p>
                All Just Get It Pvt Ltd fees and charges are
                quoted and billed in US Dollars unless otherwise noted. Members
                have the option to pay services fees in Canadian Dollars or US
                Dollars. The exchange rate used ("Exchange Rate") is subject to
                change from time to time and can always be found on our
                respective bank portal.
              </p>
              <p>
                Just Get It Pvt Ltd uses an automated payment
                processing system and only accepts debit/credit cards, bank
                transfer/e-wallets/Paypal payments at this time. All Subscribers
                are required to maintain valid payment information on file for
                the processing of any applicable service fees.
              </p>
              <p>
                Just Get It Pvt Ltd may take any reasonable
                action to validate your payment and registration information,
                and collect all payments due. You agree to pay all attorney and
                collection fees arising from any efforts to collect any past due
                amounts from you, to the extent allowed by law.
              </p>
              <p>
                Service fees are due at the time of order or on the day of
                renewal. All fees must be paid in full. Invoices for all
                Just Get It Pvt Ltd services can be found by
                logging into your account control panel. Billing inquiries and
                disputes should be brought to Tentackles Strategic Design Pvt
                Ltd attention within 30 days of the invoice date. Failure to do
                so will be deemed to be an admission that the invoice and
                charges are accurate.
              </p>
              <p>
                If any chargeback or charge dispute notices are received for
                your account, services provided to you may be immediately
                suspended pending investigation, and you will be subjected to
                chargeback service charges. Where applicable, Tentackles
                Strategic Design Pvt Ltd reserves the right to put your domain
                name/account into "Registrar Hold" status and deny any transfer
                requests for that domain/account name until the chargeback or
                dispute issue has been resolved.
              </p>
              <p>
                Accounts will be suspended if its service renewal fees are not
                paid within 72 hours of the due date. Accounts suspended in this
                manner can be re-activated upon payment of the Account
                Reactivation Fee.
              </p>
              <p>
                Any applications or requests for services will be declined if
                payment cannot be successfully processed within 72 hours of the
                order.
              </p>
              <p>
                Just Get It Pvt Ltd reserves the right to modify
                service fees and rates.
              </p>
              <h4>Limitation of Liability</h4>
              <ul>
                <li>
                  The Service is provided on an "as is" and "as available" basis
                  and the use of the Service is at your own risk. Tentackles
                  Strategic Design Pvt Ltd is not responsible for any damages,
                  injury, or economic loss arising from the use of the content
                  or Service provided by Just Get It Pvt Ltd or
                  our registered agencies, service providers, or channel
                  partners.
                </li>
                <li>
                  Just Get It Pvt Ltd state that the market
                  research, branding, marketing, and PR services provided by us
                  are based on research data, volume of available public-data,
                  trend analysis, experience, and expert prediction. Tentackles
                  Strategic Design Pvt Ltd does not guarantee 100 % any percent
                  success rate in the execution of such services. Tentackles
                  Strategic Design Pvt Ltd will not be responsible for any
                  loss/damage caused to you once the services are rendered.
                </li>
                <li>
                  We will not be responsible or involved in any kind of
                  interaction/ business dealing agreements between you and
                  third-party services such as Venture Capitalists/ Angel
                  Funding.
                </li>
              </ul>
              <h4>Intellectual Property Rights</h4>
              <p>
                The Site and all of their contents, features, and functionality
                are owned by Just Get It Pvt Ltd and are
                protected by international copyright, trademark, patent, trade
                secret, and other intellectual property proprietary laws.
              </p>
              <p>
                You may access the material on the Site only for your own
                personal, non-commercial use. You may not reproduce, distribute,
                modify, publicly display, download, or transmit any of the
                material provided at any time.
              </p>
              <h4>Applicable Law</h4>
              <p>
                This Agreement shall be deemed to be a contract made under the
                Indian laws and shall be governed by such laws without reference
                to any principles relating to resolving conflicts of law. The
                distribution of the Confidential Information in overseas
                jurisdictions may be restricted by law and therefore persons
                into whose possession that Confidential Information comes should
                inform themselves about and observe any such restrictions.
              </p>
              <h4>Termination</h4>
              <ul>
                <li>
                  Just Get It Pvt Ltd may terminate or suspend
                  access to our Service immediately, without prior notice or
                  liability, for any reason whatsoever, if you breach the Terms.
                </li>
                <li>
                  You can terminate your subscription at any time through your
                  account management page. Such termination will result in the
                  deactivation of your account and access to it, and the
                  deletion of content you availed through the use of Services.
                  If you terminate a Subscription in the middle of availing Our
                  Services, you will not receive a refund for the amount already
                  paid.
                </li>
                <li>
                  We may suspend performance or terminate our Services for any
                  of the following reasons: (a) you have materially breached
                  these Terms (b) you fail to pay fees for 30 days past the due
                  date.
                </li>
              </ul>
              <h4>Privacy</h4>
              <p>
                Just Get It Pvt Ltd believes strongly in
                protecting user privacy. Please refer to our privacy policy,
                incorporated by reference herein, that is posted on the Website.
              </p>
              <h4>Force Majeure</h4>
              <p>
                Just Get It Pvt Ltd will not be liable for any
                delay, interruption, or failure in the provisioning of services
                if caused by acts of God, declared or undeclared war, fire,
                flood, storm, slide, earthquake, power failure, the inability to
                obtain equipment, supplies or other facilities that are not
                caused by a failure to pay, labour disputes, or other similar
                events beyond our control that may prevent or delay service
                provisioning.
              </p>
              <h4>Entire Agreement</h4>
              <p>
                This Agreement, as may be updated from time to time and posted
                at www.tentackles.com and its associated websites, represents
                the complete agreement and understanding between us with respect
                to the Service and supersedes any other written or oral. This
                Agreement may be read in consonance with the Non-disclosure
                Agreement entered simultaneously between the parties.
              </p>
              <p>
                BY USING THIS WEBSITE OR ORDERING PRODUCTS/SERVICES FROM THIS
                WEBSITE YOU AGREE TO BE BOUND BY ALL OF THE TERMS AND CONDITIONS
                OF THIS AGREEMENT.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock content %}