{% extends "enquiry/branding_base.html" %} {% load static %} {% block title %}
<title>Just Get It | Animation</title>
{% endblock title %}
{% block nav %}
{% endblock nav %}
{% block content %}
<div class="preloader">
	<div class="preloader_image"></div>
  </div>
  <div id="canvas">
	<div id="box_wrapper">
	  <div class="header_absolute">
		<header class="page_header ds bg-transparent s-py-20">
		  <div class="container">
			<div
			  class="
				row
				d-flex
				align-items-center
				justify-content-center
				white-nav-logo
				brandin-nav
				mb-brand-nv
			  "
			>
			  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8 col-12">
				<a href="/branding" class="logo">
				  <img
					src="https://tentackles.com/images/icon.png"
					alt="Icon for- Tentackleslogo"
				  />
				  <img
					src="{% static 'branding_images/tentackles-logoicon.png' %}"
					alt="Tentackles Logo"
				  />
				  <span class="logo-text color-darkgrey"></span>
				</a>
			  </div>
			  <div class="col-xl-9 col-lg-9 col-md-8 col-sm-4 col-12">
				<!-- main nav start -->
				<nav>
				  <div class="top-nav">
					</div>
				  <div class="overlay-nav">
					<ul>
					  <li>
						<a
						  href="https://www.facebook.com"
						  target="_blank"
						>
						  <i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
					  </li>
					  <li>
						<a
						  href="https://www.linkedin.com"
						  target="_blank"
						>
						  <i class="fa fa-linkedin" aria-hidden="true"></i>
						</a>
					  </li>
					  <li>
						<a
						  href="https://www.instagram.com"
						  target="_blank"
						>
						  <i class="fa fa-instagram" aria-hidden="true"></i>
						</a>
					  </li>
					  <li>
						<a onclick="openNav()">
						  <div class="menu-toggle">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						  </div>
						</a>
					  </li>
					</ul>
				  </div>
				</nav>
				<!-- eof main nav -->
			  </div>
			</div>
		  </div>
		  <!-- header toggler -->
		  <span class="toggle_menu"><span></span></span>
		</header>
	  </div>
  
			<div class="bannerani">
			<img src="https://tentackles.com/images/animation-ban.png" alt="Tentackles skilled motion designers will help you create jaw-dropping animations for your website, social media, and product pages" class="img-fluid">
				<div class="colss">
				<div class="container">
					<div class="row ">
						<div class="col-md-8 offset-2">
						<div class="banntext">
							<h3 class="color-white">Animation</h3>
							<p><em>Rich and creative motion graphics can send the views of your content through the roof!</em> integrated in multimedia and gaming products. Our skilled motion designers will help you create jaw-dropping content for your social channels, site, and product pages.</p>
						</div>
						</div>
					</div>
					</div>
				</div>
			</div>
			<section class="s-pt-90 s-pb-60 ma-animt">
				<div class=" container">
					<div class="row">
						<div class="col-md-3">
							<div class="animationboxsec">
								<img src="https://tentackles.com/images/Gathering-info.png" alt="Icon for- Gathering Information" class="img-fluid">
								<p>Gathering Information</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="animationboxsec">
								<img src="https://tentackles.com/images/Concept.png" alt="Icon for- Concept" class="img-fluid">
								<p>Concept</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="animationboxsec">
								<img src="https://tentackles.com/images/Graphics.png" alt="Icon for- Graphics" class="img-fluid">
								<p>Graphics</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="animationboxsec">
								<img src="https://tentackles.com/images/Animation.png" alt="Icon for- Animation" class="img-fluid">
								<p>Animation</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class=" s-pt-50 s-pb-50">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="strategy-important text-center branding-process mb-50 mb-mb20">
								<h2 class="dastkari-about-circle sudhir-circle-bg sudhir-black-text">01</h2>
								<h4 class="strategy-h1 mt20 text-blue">Gathering Information</h4>
							</div>
						</div>
						<div class="col-md-6">
							<div class="animation-gethering-text">
								<p>Before we start, we understand the client’s company and project for a great <strong>animated video.</strong> At this stage, we communicate with our clients to set the right expectations for their video projects.
									To do so, we send a detailed creative brief for them to fill. In short, the creative brief is a video production client questionnaire. <em>It encompasses details like the video’s purpose, product features/ benefits they want to highlight, target audience, quick elevator pitch, etc.</em>
									Later, through an online call or a personal meeting, we get a more in-depth understanding of the project. It is in this stage of the animation process that participation from creative directors and scriptwriters are encouraged.
								 </p>
								
							</div>
						</div>
						<div class="col-md-6">
							<img src="https://tentackles.com/images/gathering.png" alt="While Gathering Information, we communicate with our clients to set the right expectations for their video projects" class="img-fluid">
						</div>
					</div>
				</div>
			</section>
			<section class="s-pb-50">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="strategy-important text-center branding-process mb-50 ">
								<h2 class="dastkari-about-circle sudhir-circle-bg sudhir-black-text">02</h2>
								<h4 class="strategy-h1 mt20 text-blue">Concept</h4>
							</div>
						</div>
						<div class="col-md-6">
							<img src="https://tentackles.com/images/Concept-8.png" alt="Tentackles uses concept as a base to create an engaging script" class="img-fluid">
						</div>
						<div class="col-md-6">
							<div class="animation-gethering-text mt-20">
								<p><em>The concept and script are the backbone of any video.</em> At this stage, we follow some stages as a guide, along with our own research to create a concept for the video. The idea can be either <strong>conceptual, character-driven, emotionally evoking,</strong> or <strong>conversational,</strong> that best suits our client’s video project. Once we have approval for the framework from the client, we use the concept as a base to create an engaging script.</p>
								<p><em>Here’s what we keep in mind when we write an animated explainer video script.</em></p>
								<span>1.Length of the video script </span>
								<span>2.Script Format</span>

							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="s-pb-100">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="strategy-important text-center branding-process mb-50 mb-mb20">
								<h2 class="dastkari-about-circle sudhir-circle-bg sudhir-black-text">03</h2>
								<h4 class="strategy-h1 mt20 text-blue">Graphics</h4>
							</div>
						</div>
						<div class="col-md-12">
							<div class="animation-graphics">
								<p>First, we create hand-drawn sketches of how the script will play out scene-by-scene. It helps the client and the team to be in sync with how the final video will unfold. <em>The storyboard directs the designer and animator to design scenes, transitions, and progression in the animation.
									Later, a visual style is created based on our client’s brand guidelines. </em>
								   They include <strong>character design, illustrations, text, background color,</strong> and <strong>icons.</strong> We normally create two to three visual style options for the client to choose from, after which we translate
								   the rough sketches to final, colored illustrations.</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="animation-graphics-img mt-50 text-center">
								<img src="https://tentackles.com/images/Floating-Stone-8.png" alt="Animated graphical representation of Waterfall on a Floating Stone">
							</div>
							<div class="animation-graphics-img1 mt-30 text-center">
								<img src="https://tentackles.com/images/Elephants-8.png" alt="Animated graphical representation of Elephants">
							</div>
						</div>
						<div class="col-md-6">
							<div class="animation-graphics-img1 mt-50 text-center">
								<img src="https://tentackles.com/images/Clouds-8.png" alt="Animated graphical representation of Clouds">
							</div>
							<div class="animation-graphics-img mt-30 text-center">
								<img src="https://tentackles.com/images/LightHouse-8.png" alt="Animated graphical representation of Ligh tHouse">
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="s-pb-250">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="strategy-important text-center branding-process mb-0">
								<h2 class="dastkari-about-circle sudhir-circle-bg sudhir-black-text">04</h2>
								<h4 class="strategy-h1 mt20 text-blue">Animation</h4>
							</div>
							<p class="mt-10 text-center animation-animation-text">Now for the much-awaited stage. This is where the animated video starts to take shape! Here, our animators provide the illusion of life to the created visual style.</p>
							<img src="https://tentackles.com/images/water fall.gif" alt="Animation of a Waterfall" class="animation-page-gif">
						</div>
					</div>
				</div>
			</section>                
{% endblock content %}