{% extends "enquiry/branding_base.html" %} {% load static %} {% block title %}
<title>Just Get It | User Interface</title>
{% endblock title %} {% block content %}
    <!-- section 1 -->

    <section class="back_img">
      <img
        src="https://tentackles.com/images/1.png"
        alt="Grphical representation of a team working on the user interface project"
        class="img-fluid ds_none1"
      />
      <div class="ui-ban">
        <div class="container">
          <div class="row rev">
            <div class="col-xl-4 col-lg -12">
              <div class="design_1">
                <h1>UI <br class="ds_none1" />Design</h1>
                <p>
                  <em
                    >We create animations to make our designs
                    <strong>interactive and appealing.</strong></em
                  >
                  The process of designing any great product-app, website, or
                  other- mainly incorporates the best use of colours and design
                  in a proper way. The equally essential visual and interactive
                  elements are covered by UI Design. Put simply, UI makes up the
                  personality and voice of the product; and by extension, it's
                  brand. So, here we provide you with the best possible design
                  solutions.
                </p>
              </div>
            </div>
            <div class="col-xl-8 col-lg-12">
              <div class="ds_none">
                <img
                  src="https://tentackles.com/images/services/890.png"
                  alt="Background wallpaper"
                  class="img-responsive"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- section 2 -->
    <section>
      <div class="container">
        <div class="text_color_2 pb-50">
          <h4>
            PROCESS TO FOLLOWIN <span class="text_color_1">UIELEMENTS</span>
          </h4>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="border_set">
              <div class="bg_white">
                <img
                  src="https://tentackles.com/images/95.png"
                  alt="Mood board visual representation."
                  class="img-fluid"
                />
              </div>
              <h3>MOOD BOARD</h3>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 mt-50">
            <div class="border_set bg-sky">
              <div class="bg_white">
                <img
                  src="https://tentackles.com/images/94.png"
                  alt="Visual Design visual representation."
                  class="img-fluid"
                />
              </div>
              <h3>VISUAL DESIGN</h3>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="border_set">
              <div class="bg_white">
                <img
                  src="https://tentackles.com/images/96.png"
                  alt="User testing visual representation."
                  class="img-fluid"
                />
              </div>
              <h3>USER TESTING</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- section 3 -->

    <section class="back_image_3 s-pt-80 s-pb-100">
      <div class="container">
        <div class="design_set_sc33">
          <h1>MOOD <span class="color_text">BOARD</span></h1>
        </div>
        <div class="row reverse-col">
          <div class="col-lg-5 col-md-12">
            <div class="design_set_sc3 pt-60">
              <p>
                This is a skeletal frame that outlines the numerous aesthetic
                elements, and their corresponding interactions. The basic
                utility of mood board for designers is to translate the ideas
                through a visual medium, for the benefit of all relevant
                stakeholders. This includes reference images/videos, colour
                scheme options, font samples, among others. The ability to find
                gaps in the thought process in the early stages of design is one
                of the greatest advantages of the mood board.
              </p>
            </div>
          </div>
          <div class="col-lg-7 col-md-12">
            <div class="image_design_1">
              <img
                src="https://tentackles.com/images/25.png"
                alt="Skeletal frame of Mood board outlining the numerous aesthetic elements."
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- section 4 -->

    <section class="back_image_4">
      <img
        src="https://tentackles.com/images/5.png"
        alt="Visual Design enhances usability."
        class="img-fluid mb-display-none ds_none1"
      />
      <div class="ui-vis">
        <div class="container">
          <div class="design_set_sc44">
            <h1><span class="color_text_4">VISUAL</span> DESIGN</h1>
          </div>
          <div class="row">
            <div class="col-lg-7 col-md-12">
              <div class="ds_none mt-30">
                <img
                  src="https://tentackles.com/images/888.png"
                  alt="A professional working on a Visual Design project"
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="col-lg-5 col-md-12">
              <div class="design_set_sc4 pt-50">
                <p>
                  We at Tentackles, use variant imagery, color, shapes,
                  typography, and form to enhance usability and improve the user
                  experience. We implement our accredited VD process for all our
                  projects. We design and implement various
                  <strong>principles</strong> of <strong>design</strong> and our
                  team work together to create something that is aesthetically
                  pleasing and optimizes the user experience.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- section 5 -->
    <section class="back_image_5">
      <img
        src="https://tentackles.com/images/6.png"
        alt="User Testing to check the usability, experience, and functioning of the final product."
        class="img-fluid mb-display-none ds_none1"
      />
      <div class="ui-tes">
        <div class="container">
          <div class="design_set_sc55">
            <h1>USER TE<span class="color_text_5">STING</span></h1>
          </div>
          <div class="row rev">
            <div class="col-lg-5 col-md-12">
              <div class="design_set_sc5 mt-50">
                <p>
                  Here we check the usability, experience, and functioning of
                  the final product before it is live. We thoroughly check the
                  product quality from an experience point of view and in terms
                  of UI design. We test our design with active users and find
                  the flaws and then again rework the pain points and come out
                  with the best possible solutions. This is a very flexible
                  approach, so irrespective of the project scope we ensure that
                  we deliver the best with effective results.
                </p>
              </div>
            </div>
            <div class="col-lg-7 col-md-12">
              <div class="ds_none mt-30">
                <img
                  src="https://tentackles.com/images/889.png"
                  alt="Check User Testing"
                  class="img-responsive"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- section 6 -->
    <section class="back_color_1 s-pb-100">
      <div class="container">
        <div class="design_text_2">
          <h3>
            Everything you want to know <br />
            about our work
          </h3>
          <h5>
            We have simplified our terms with the help of our work; they explain
            <br />
            every step towards realizing a winning product.
          </h5>
        </div>
        <div class="row pt-80">
          <div class="col-md-4">
            <div class="paddind_set_3">
              <a href="miljayega-project.html">
                <img
                  src="https://tentackles.com/images/10.png"
                  alt="Tentackle's client- Miljayega."
                />
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="paddind_set_3">
              <a href="infotanks-media-project.html">
                <img
                  src="https://tentackles.com/images/12.png"
                  alt="Tentackle's client- Infotanks Media."
                />
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="paddind_set_3">
              <a href="#">
                <img
                  src="https://tentackles.com/images/7.png"
                  alt="Tentackle's client- Ayurway."
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- section 7 -->

    <section class="s-pt-100 s-pb-200 strategy-footer-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="strategy-footer text-center">
              <h3>Thinking of Design?</h3>
              <h4>Lets make history together</h4>
              <a href="/branding/contact" class="strategy-footer-btn"
                >Get in Touch</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock content %}