{% extends "enquiry/branding_base.html" %} {% load static %} {% block title %}
<title>Just Get It | Content Strategy</title>
{% endblock title %}
{% block content %}

			<section class="page_slider">

				<div class="flexslider">
					<ul class="">
						<li class="strategy-banner uhh">
							<img src="https://tentackles.com/img/contentArtboard24.png" alt="Background image for content marketing service" class="img-fluid ds_none1">
							<img src="https://tentackles.com/images/services/1011.png" alt="Graphical representation of a professional working on content strategy" class=" ds_none ">
							<div class="content-strategy">
												<h1 class="ds_none">Content Strategy</h1>
											</div>
							<div class="cont-st">
								<div class="container">
									<div class="row">
										<div class="col-md-5">
											<div class="content-strategy">
												<h1 class="ds_none1">Content Strategy</h1>
											</div>
										</div>
									</div>	
								</div>
							</div>	
						</li>

					</ul>
				</div> 	
			</section>
			<section class=" s-pt-60 s-pb-80">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="strategy-important text-center">
								<h4 class="strategy-h1 text-blue">Why is it important?</h4>
								<p>A <strong>content strategy</strong> can help you improve your marketing results and <strong>ROI</strong> by allowing you to understand exactly why you're using any given type of content, who you want to reach, what design you're going to create, what goals you're looking to achieve, what channels to leverage etc.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="s-pb-80 aihiki-width">
				<div class="container">
					<div class="row">
						<div class="col-md-12 mb-50">
							<div class="strategy-expertise text-center">
								<h4 class="strategy-h1 text-blue">How can we help?</h4>
								<h4>OUR AREAS OF EXPERTISE</h4>
							</div>
						</div>
						<div class="col-md-4">
							<div class="strategy-important-img">
								<img src="https://tentackles.com/img/content (6).png" alt="Icon for SEO, SMM & Meta-Data">
								<h4>SEO, SMM & METADATA</h4>
							</div>
						</div>
						<div class="col-md-4">
							<div class="strategy-important-img strategy-important-img1 mt-130">
								<img src="https://tentackles.com/img/content (5).png" alt="Icon for Web & UX writing">
								<h4 class="text-white">WEB & UX WRITING</h4>
							</div>
						</div>
						<div class="col-md-4">
							<div class="strategy-important-img">
								<img src="https://tentackles.com/img/content (7).png" alt="Icon for Video Scripting">
								<h4>VIDEO SCRIPTING</h4>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="">
				<img src="https://tentackles.com/img/contentb.png" alt="A team working on content marketing strategy" class="cont-smm-img ds_none1">
				<div class="cont-smm">
					<div class="container">

						<div class="row">
							<div class="col-md-7">
							    <div class="strategy-seo-text">
									<h2 class="ds_none text-center">SEO, SMM & METADATA</h2>
									</div>
							    <div>
							        <img src="https://tentackles.com/images/services/1021.png" alt="content marketing team" class=" ds_none p10">
							    </div>
							</div>
							<div class="col-md-5">
								<div class="strategy-seo-text">
									<h2 class="ds_none1">SEO, SMM & METADATA</h2>
									<p>This is the process of editing and organizing the content on a page or across a website (including metadata) to increase its potential relevance to specific search engine keywords. We make sure it's also important to decide how and where content will be made available to users.
										Eg: Email marketing, social media content, newsletters, etc are a great way to drive traffic.</p>
									<ul class="w100">
										<li>
											<div class="strategy-seo-img-round">
												<img src="https://tentackles.com/img/contentseo1 (3).png" alt="Icon for Emailers" class="img-fluid">
											</div>
											<p>Emailers</p>
										</li>
										<li>
											<div class="strategy-seo-img-round">
												<img src="https://tentackles.com/img/contentseo1 (1).png" alt="Icon for Newsletters" class="img-fluid">
											</div>
											<p>Newsletters</p>
										</li>
										<li>
											<div class="strategy-seo-img-round">
												<img src="https://tentackles.com/img/contentseo1 (2).png" alt="Icon for Social Media" class="img-fluid">
											</div>
											<p>Social Media</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="cs-uxww">
				<img src="https://tentackles.com/img/contentArtboard25.png" alt="A team working on creating content" class="img-fluid ds_none1">
				<div class="css-uxww-text">
					<div class="container">
						<div class="row rev">
							<div class="col-md-5">
								<div class="strategy-seo-text strategy-seo-text1">
									<h2 class="ds_none1">UX AND WEB WRITING</h2>
									<p>This involves writing <strong>useful, usable content</strong> specifically intended for online publication. Our web writers understand the basics of <strong>user experience design,</strong> and are able to translate information architecture documentation, write effective metadata, and manage an ever-changing content inventory. Besides that, our content strategists also team up with the UX designers to plan the type of content that needs to be created and how it will be organized and structured across the site.</p>
									
								</div>
							</div>
							<div class="col-md-7">
							    	<div class="strategy-seo-text strategy-seo-text1">
									<h2 class="ds_none text-center">UX AND WEB WRITING</h2>
									</div>
							    
							    <div>
							        <img src="https://tentackles.com/images/services/1022.png" alt="Graphical representation of a remote content team" class=" ds_none">
							    </div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="cs-vs">
				<img src="https://tentackles.com/img/contentArtboard28.png" alt="A professional working on video scripting" class="img-fluid ds_none1">
				<div class="cs-vs-text">
					<div class="container">
						<div class="row">
							<div class="col-md-7">
							    	<div class="strategy-seo-text strategy-video-scripting">
									<h2 class="ds_none text-center">VIDEO<br class="ds_none1"> SCRIPTING</h2>
									</div>
							    <div>
							        <img src="https://tentackles.com/images/services/1023.png" alt="background image for video scripting" class=" ds_none">
							    </div>
								
							</div>
							<div class="col-md-5">
								<div class="strategy-seo-text strategy-video-scripting">
									<h2 class="ds_none1">VIDEO<br> SCRIPTING</h2>
									<p> Every second video that goes viral these days has written text in it, and the entire message of the video depends on that text. So, it is very crucial how the text is written. The rise of video has dominated the <strong>content marketing</strong> industry for the last couple of years. But there’s increasing evidence that many people still prefer written content. So understanding and skillfully executing the copywriting process will be the key to selling your offerings.</p>
									<h6>EFFECTIVE VIDEO SCRIPTS CAN</h6>
									<ul>
										<li>Position yourself based on your marketing goals.</li>
										<li>Tell your brand story, or share stories of customer success.</li>
										<li>Convince your audience to take quick action.</li>
										<li>Propagate content that is honest, attractively.</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="s-pt-160 s-pb-140 strategy-process-bgimg">
				<div class="container">
					<h4 class="strategy-h1 text-center text-blue">Our Process</h4>
					<div class="row">
						<div class="col-md-3">
							<div class="media content-preocess">
								<div class="media-left ">
									<h1>01</h1>
								</div>
								<div class="media-body">
									<img src="https://tentackles.com/img/content3.png" alt="Icon for- Understanding the Need" class="img-fluid">
									<h4>UNDERSTANDING THE NEED</h4>
									<p>This involves extensive research into the requirements of the company, the gaps, and the target audience.</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="media content-preocess">
								<div class="media-left ">
									<h1>02</h1>
								</div>
								<div class="media-body">
									<img src="https://tentackles.com/img/content2.png" alt="Icon for- Strategy and Planning" class="img-fluid">
									<h4>STRATEGY AND PLANNING</h4>
									<p>Determining the areas of work, taxonomy, and key vocabulary that need to be followed across the site. This also involves setting the voice and tone that need to be followed across the platform.</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="media content-preocess">
								<div class="media-left ">
									<h1>03</h1>
								</div>
								<div class="media-body">
									<img src="https://tentackles.com/img/content4.png" alt="Icon for- Drafting and Framework" class="img-fluid">
									<h4>DRAFTING AND FRAMEWORK</h4>
									<p>Creating a skeletal structure with the basic distribution of the content.</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="media content-preocess">
								<div class="media-left ">
									<h1>04</h1>
								</div>
								<div class="media-body">
									<img src="https://tentackles.com/img/content1.png" alt="Icon for- Feedback and Iteration" class="img-fluid">
									<h4>FEEDBACK AND ITERATION</h4>
									<p>Every copy goes through several edits once drafted and then is further iterated post the design process to compliment the visuals better. Once the core content is finalized, it is optimized and adapted for different channels of distributions; be it a presentation, an explainer video, etc.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-50">
						<div class="col-md-12">
							<div class="strategy-expertise text-center">
								<h4 class="strategy-h1 text-blue">We have created bulletproof <br> strategies for:</h4>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="features s-pb-140 mt--50">
<!--         <h2>Our <span>Features</span></h2> -->
		        <div class="slider-container">
		            <div class="slider-content">
		                <div class="slider-item">
		                    <img src="https://tentackles.com/img/contentArtboard20.png" alt="Tentackles created bulletproof strategies for Mirare Tech" class="img-fluid">
		                </div>
		               <div class="slider-item">
		                    <img src="https://tentackles.com/img/contentArtboard18.png" alt="Tentackles UI/UX Studio created strategies for Aihiki" class="img-fluid">
		                </div>
		                <div class="slider-item">
		                    <img src="https://tentackles.com/img/contentArtboard19.png" alt="Tentackles Design Studio created bulletproof strategies for MilJayega" class="img-fluid">
		                </div>
		                <div class="slider-item">
		                    <img src="https://tentackles.com/img/contentArtboard20.png" alt="Mirare Tech" class="img-fluid">
		                </div>
						<div class="slider-item">
		                    <img src="https://tentackles.com/img/contentArtboard18.png" alt="Aihiki" class="img-fluid">
		                </div>
						<div class="slider-item">
		                    <img src="https://tentackles.com/img/contentArtboard19.png" alt="MilJayega" class="img-fluid">
		                </div>
		            </div>
		            <div class="slider-controls">
		                <button class="left"><i class="fa fa-angle-left"></i></button>
		                <button class="right"><i class="fa fa-angle-right"></i></button>
		            </div>
		        </div>
		    </section>
		    <section class="s-pt-100 s-pb-200 strategy-footer-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="strategy-footer text-center">
                                <h3>Thinking of Design?</h3>
                                <h4>Lets make history together</h4>
                                <a href="/branding/contact" class="strategy-footer-btn">Get in Touch</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

{% endblock content %}