{% extends "enquiry/branding_base.html" %} {% load static %} {% block title %}
<title>Just Get It | Covered Industries</title>
{% endblock title %} {% block style %}
<style>
  html {
    scroll-behavior: smooth;
  }
</style>
{% endblock style %} {% block content %}

<section
  class="
    page_title
    ds
    bg-gradient2
    s-pb-xl-130 s-pb-lg-100 s-pb-md-90 s-pt-md-175 s-pt-220 s-pb-60
  "
>
  <div class="waveWrapper waveAnimation">
    <div class="waveWrapperInner bgTop">
      <div class="wave waveTop"></div>
    </div>
    <div class="waveWrapperInner bgMiddle">
      <div class="wave waveMiddle"></div>
    </div>
    <div class="waveWrapperInner bgMiddle2">
      <div class="wave waveMiddle2"></div>
    </div>
    <div class="waveWrapperInner bgBottom">
      <div class="wave waveBottom"></div>
    </div>
  </div>
  <div class="bubbles"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mb-bnr-text">
        <h1>Industries We Have Covered</h1>
        <p class="text-center">
          We're a design company with in-depth learning and excellent experience
          in various domains; this<br />
          helps us to craft tailored solutions for all types of clients.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="industries-section1 mt-50">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="industries-page-text">
          <h5 class="consulting-p">Consulting</h5>
          <img
            src="https://tentackles.com/img/industries3.png"
            alt="Consulting Industry"
            class="img-fluid consulting-bottom desktop1 industries-responsive"
          />
          <h3 class="consulting-h5 consulting-letter-spacing">
            Disruptive design for dynamic consultants and visionaries.
          </h3>
          <p class="">
            From management consultants with strategic business recommendations
            to maintain a competitive edge to personal development and
            leadership coaches, our clients have only made our designs evolve
            for the better.
          </p>
          <a data-toggle="modal" data-target="#myModal1">
            <button type="button" class="strategy-footer-btn">
              Learn More
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <img
          src="https://tentackles.com/images/asdfds.png"
          alt="Graphical representation of an executive working with the Consulting Industry"
          class="img-fluid mb-display-none"
        />
      </div>
    </div>
  </div>
</section>
<section class="industries-section2">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img
          src="https://tentackles.com/img/industries4.png"
          alt="Visual representation of a professional working with the Recycling Industry"
          class="img-fluid mb-display-none"
        />
      </div>
      <div class="col-md-6">
        <div class="industries-page-text">
          <h5 class="consulting-p">Recycling</h5>
          <img
            src="https://tentackles.com/img/industries4.png"
            alt="Recycling Industry"
            class="img-fluid desktop1 industries-responsive"
          />
          <h3 class="consulting-h5 consulting-letter-spacing">
            Desigs to make the world a little greener than yesterday.
          </h3>
          <p class="">
            Sustainable development is the only possibility of a safe future; so
            it was indeed a self motivating task to create and develop platforms
            that help in recycling and reducing E-Waste or campaign for clean
            energy.
          </p>
          <a data-toggle="modal" data-target="#myModal2">
            <button
              type="button"
              class="strategy-footer-btn"
              data-toggle="collapse"
              data-target="#recycling"
            >
              Learn More
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="industries-section1">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="industries-page-text">
          <h5 class="consulting-p">Data</h5>
          <img
            src="https://tentackles.com/images/asdfdasf.png"
            alt="Graphical representation of a professional working with the Data Industry"
            class="img-fluid data-top desktop1 industries-responsive"
          />
          <h3 class="consulting-h5 consulting-letter-spacing">
            Simple, Straightforward, and Cutting edge websites.
          </h3>
          <p class="">
            It’s always a challenge to design for B2B clients with highly
            technical domains like data services, but a great addition to our
            knowledge repository. Since our successful creations for Global
            Multi-Channel Data Providers, we have never looked back.
          </p>
          <a data-toggle="modal" data-target="#myModal3">
            <button
              type="button"
              class="strategy-footer-btn"
              data-toggle="collapse"
              data-target="#data"
            >
              Learn More
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-6 consulting-right industries-desktop">
        <img
          src="https://tentackles.com/images/asdfdasf.png"
          alt="Data Industry"
          class="img-fluid data-top"
        />
      </div>
    </div>
  </div>
</section>
<section class="industries-section2">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img
          src="https://tentackles.com/img/industries6.png"
          alt="Graphical representation of a senior executive working with the Education Industry"
          class="img-fluid education-top mb-display-none"
        />
      </div>
      <div class="col-md-6">
        <div class="industries-page-text">
          <h5 class="consulting-p">Education</h5>
          <img
            src="https://tentackles.com/img/industries6.png"
            alt="Education Industry"
            class="img-fluid education-top desktop1 industries-responsive"
          />
          <h3 class="consulting-h5 consulting-letter-spacing">
            Re-defining learning with dynamic interfaces
          </h3>
          <p class="">
            Our designs for education and academic requirements have ranged from
            highly complex, multilevel exercise-based mobile applications for
            teachers, parents, and students to skill development platforms for
            outlook enhancement for professionals.
          </p>
          <a data-toggle="modal" data-target="#myModal4">
            <button
              type="button"
              class="strategy-footer-btn"
              data-toggle="collapse"
              data-target="#education"
            >
              Learn More
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="industries-section1">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="industries-page-text">
          <h5 class="consulting-p">Fashion</h5>
          <img
            src="https://tentackles.com/img/industries9.png"
            alt="Background image for Fashion Industry"
            class="img-fluid fasion-top desktop1 industries-responsive"
          />
          <h3 class="consulting-h5 consulting-letter-spacing">
            Interesting interfaces that hook and reel
          </h3>
          <p class="">
            It’s not every day you get the chance to break the rules of
            minimalism. Designing for an eclectic e-commerce store with themed
            apparel and merchandise was a great chance to pepper the site with
            out the box ideas in the form of creative banners and graphics.
          </p>
          <a data-toggle="modal" data-target="#myModal5">
            <button
              type="button"
              class="strategy-footer-btn"
              data-toggle="collapse"
              data-target="#fashion"
            >
              Learn More
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <img
          src="https://tentackles.com/images/indust10.png"
          alt="Visual representation of executives working with the Fashion Industry"
          class="img-fluid fasion-top mb-display-none"
        />
      </div>
    </div>
  </div>
</section>
<section class="industries-section2">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img
          src="https://tentackles.com/img/innoPic.png"
          alt="Graphical representation of an executive working in the Lost and Found Industry"
          class="img-fluid mb-display-none"
        />
      </div>
      <div class="col-md-6">
        <div class="industries-page-text">
          <h5 class="consulting-p">Lost and Found</h5>
          <img
            src="https://tentackles.com/img/innoPic.png"
            alt="Social responsibility"
            class="img-fluid lost-top desktop1 industries-responsive"
          />
          <h3 class="consulting-h5 consulting-letter-spacing">
            Social responsibility is our responsibility.
          </h3>
          <p class="">
            We took immense pleasure in creating a completely comprehensive lost
            and found platform to unite seekers and finders of lost property and
            thus help do our bit to support a great cause that builds hope for
            humanity.
          </p>
          <a data-toggle="modal" data-target="#myModal6">
            <button
              type="button"
              class="strategy-footer-btn"
              data-toggle="collapse"
              data-target="#lost"
            >
              Learn More
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="industries-section1">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="industries-page-text">
          <h5 class="consulting-p">Medical</h5>
          <img
            src="https://tentackles.com/images/indust14.png"
            alt="Graphical representation of executives working with the Medical/Healthcare Industry"
            class="img-fluid medical-top desktop1 industries-responsive"
          />
          <h3 class="consulting-h5 consulting-letter-spacing">
            Soothing palettes and comfortable experiences
          </h3>
          <p class="">
            One can never run a risk of errors in medicine. Our designs included
            complex dashboards for hospital administration for healthcare
            providers to simple and soothing mobile application interfaces for
            holistic wellness centers with unique diagnostic and therapeutic
            approaches.
          </p>
          <a data-toggle="modal" data-target="#myModal7">
            <button
              type="button"
              class="strategy-footer-btn"
              data-toggle="collapse"
              data-target="#medical"
            >
              Learn More
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-6 consulting-right industries-desktop">
        <img
          src="https://tentackles.com/images/indust14.png"
          alt="Healthcare Industry"
          class="img-fluid medical-top mb-display-none"
        />
      </div>
    </div>
  </div>
</section>
<section class="industries-last-coll">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img
          src="https://tentackles.com/img/industries12.png"
          alt="Visual representation of professionals working in the Child Safety Industry"
          class="img-fluid child-top mb-display-none"
        />
      </div>
      <div class="col-md-6">
        <div class="industries-page-text">
          <h5 class="consulting-p">Child Safety</h5>
          <img
            src="https://tentackles.com/img/industries12.png"
            alt="Child Safety Industry"
            class="img-fluid child-top desktop1 industries-responsive"
          />
          <h3 class="consulting-h5 consulting-letter-spacing">
            Integrating the power of technological innovation
          </h3>
          <p class="">
            We have worked on multiple projects which required much
            technological integration and innovation as well. Our solutions for
            devices built to enhance child safety include tracking equipment
            with advanced features that enable linking with mobile applications
            and smartwatch interfaces optimised for children.
          </p>
          <a data-toggle="modal" data-target="#myModal8">
            <button
              type="button"
              class="strategy-footer-btn"
              data-toggle="collapse"
              data-target="#child"
            >
              Learn More
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<div
  id="myModal1"
  class="modal fast animated slideInRight industries-modal"
  role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <button class="close pull-left" type="button" data-dismiss="modal">
        ×
      </button>
      <div class="modal-body no-padding">
        <div class="container">
          <div class="row paddding-50 text4 p-text">
            <div class="col-md-6">
              <div class="industries-card-hover">
                <a href="aihiki-project">
                  <img
                    src="https://tentackles.com/img/industries8.png"
                    alt="Aihiki brand-strategy"
                  />
                  <div class="industries-card-hover1">
                    <h3>Aihiki</h3>
                    <p>
                      A Canadian consulting firm that provides unparalled
                      consulting services, start-up funding and advisory
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  id="myModal2"
  class="modal fast animated slideInRight industries-modal"
  role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <button class="close pull-left" type="button" data-dismiss="modal">
        ×
      </button>
      <div class="modal-body no-padding">
        <div class="container">
          <div class="row paddding-50 text4 p-text">
            <div class="col-md-6">
              <div class="industries-card-hover">
                <a href="your-fayda-project">
                  <img
                    src="https://tentackles.com/img/industries8.png"
                    alt="YourFayda brand-strategy"
                  />
                  <div class="industries-card-hover1">
                    <h3>Your fayda</h3>
                    <p>A Ecommerce platform for electronic gadgets</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  id="myModal3"
  class="modal fast animated slideInRight industries-modal"
  role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <button class="close pull-left" type="button" data-dismiss="modal">
        ×
      </button>
      <div class="modal-body no-padding">
        <div class="container">
          <div class="row paddding-50 text4 p-text">
            <div class="col-md-6">
              <div class="industries-card-hover">
                <a href="infotanks-media-project">
                  <img
                    src="https://tentackles.com/images/infotanks-new1.png"
                    alt="InfotanksMedia brand-strategy"
                  />
                  <div class="industries-card-hover1">
                    <h3>Infotanks</h3>
                    <p>
                      B to B data provides with multi-channel expertise for end
                      -to - end data supply
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  id="myModal4"
  class="modal fast animated slideInRight industries-modal"
  role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <button class="close pull-left" type="button" data-dismiss="modal">
        ×
      </button>
      <div class="modal-body no-padding">
        <div class="container">
          <div class="row paddding-50 text4 p-text">
            <div class="col-md-6">
              <div class="industries-card-hover">
                <a href="ample-project">
                  <img
                    src="https://tentackles.com/images/ample-new1.png"
                    alt="Ample Courses brand-strategy"
                  />
                  <div class="industries-card-hover1">
                    <h3>Ample</h3>
                    <p>
                      An online platform offering online lessons for softskill
                      upgradation
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  id="myModal5"
  class="modal fast animated slideInRight industries-modal"
  role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <button class="close pull-left" type="button" data-dismiss="modal">
        ×
      </button>
      <div class="modal-body no-padding">
        <div class="container">
          <div class="row paddding-50 text4 p-text">
            <div class="col-md-6">
              <div class="industries-card-hover">
                <a href="mojotrack-project">
                  <img
                    src="https://tentackles.com/images/mojotrack-new1.png"
                    alt="mojotrack brand-strategy"
                  />
                  <div class="industries-card-hover1">
                    <h3>Mojotrack</h3>
                    <p>
                      An Ecommerce store with themed apparel and merchandise
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  id="myModal6"
  class="modal fast animated slideInRight industries-modal"
  role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <button class="close pull-left" type="button" data-dismiss="modal">
        ×
      </button>
      <div class="modal-body no-padding">
        <div class="container">
          <div class="row paddding-50 text4 p-text">
            <div class="col-md-6">
              <div class="industries-card-hover">
                <a href="miljayega-project">
                  <img
                    src="https://tentackles.com/images/miljayega-new1.png"
                    alt="Miljayega brand-strategy"
                  />
                  <div class="industries-card-hover1">
                    <h3>Miljayega</h3>
                    <p>
                      Providing technological assistance to create immersive MR,
                      AR and VR experiences
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  id="myModal7"
  class="modal fast animated slideInRight industries-modal"
  role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <button class="close pull-left" type="button" data-dismiss="modal">
        ×
      </button>
      <div class="modal-body no-padding">
        <div class="container">
          <div class="row paddding-50 text4 p-text">
            <div class="col-md-6">
              <div class="industries-card-hover">
                <a href="aihiki-project">
                  <img
                    src="https://tentackles.com/img/industries8.png"
                    alt="Aihiki strategy"
                  />
                  <div class="industries-card-hover1">
                    <h3>Aihiki</h3>
                    <p>
                      A Canadian consulting firm that provides unparalled
                      consulting services, start-up funding and advisory
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  id="myModal8"
  class="modal fast animated slideInRight industries-modal"
  role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <button class="close pull-left" type="button" data-dismiss="modal">
        ×
      </button>
      <div class="modal-body no-padding">
        <div class="container">
          <div class="row paddding-50 text4 p-text">
            <div class="col-md-6">
              <div class="industries-card-hover">
                <a href="aihiki-project">
                  <img
                    src="https://tentackles.com/img/industries8.png"
                    alt="vertiver partner brand-strategy"
                  />
                  <div class="industries-card-hover1">
                    <h3>Aihiki</h3>
                    <p>
                      A Canadian consulting firm that provides unparalled
                      consulting services, start-up funding and advisory
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
