{% extends "enquiry/branding_base.html" %} {% load static %} {% block title %}
<title>Just Get It | Email Marketing</title>
{% endblock title %}
{% block content %}
			<section class="page_slider">

				<div class="flexslider">
					<ul class="">
						<li class="email-marketing-banner ">
							<img src="https://tentackles.com/img/Banner-8.png" alt="Background banner" class="img-fluid em-bnr-img">
							<div class="em-bnr">
								<div class="container mb-pb0">
								    	<h1 class="text-blue ds_none text-center">Email<Br class="ds_none1"> Marketing</h1>
									<div class="row reverse-col">
										<div class="col-md-6">
											<div class="email-marketing-banner-text">
												<h1 class="text-blue ds_none1">Email<Br> Marketing</h1>
												<p class="">It has become an essential tool for Business as it allows you to target particular groups of customers or even specific individuals. We create personalized content and a dynamic series of email marketing campaigns based on your target users' behavior.</p>
											</div>
										</div>
										<div class="col-md-5">
											<img src="https://tentackles.com/img/Banner graphic-8.png" alt="Email Marketing Service visual representation" class="img-fluid ">
										</div>
										<div class="col-md-1"></div>
									</div>	
								</div>	
							</Br>
						</li>
					</ul>
				</div> 	
			</section>
			<section class=" s-pt-80 s-pb-80 bg-ccc">
				<div class="container">
				    	<div class="email-marketing-mailer">
				    <h4 class="ds_none text-center">WHY YOU SHOULD USE IT</h4>
				    </div>
					<div class="row reverse-col">
						<div class="col-md-5 offset-1">
							<div class="email-marketing-mailer">
								<h4 class="ds_none1">WHY YOU SHOULD USE IT</h4>
								<p>It’s the most direct and effective way of <strong>connecting with your leads,</strong> nurturing them, and turning them into customers, consistently winning out over all other marketing channels.</p>
							</div>
						</div>
						<div class="col-md-6">
							<img src="https://tentackles.com/img/Why and How-8.png" alt="Visual representation of- why you should use email marketing service" class="img-fluid email-why-should-img">
						</div>
					</div>
				</div>
			</section>
			<section class="s-pb-50 s-pt-80">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 text-sm-left">
							<div class="">
								<h4 class="heading-fontweight600 text-blue"><span class="thin">Why</span></h4>
							    <img src="https://tentackles.com/img/re-Why-8.png" alt="Visual representation of Low Cost, Success, Measurability, and Flexibility factors of email marketing service" class="img-fluid mt-50">
							</div>
						</div>
						<div class="col-lg-6 text-sm-left">
							<div class="about-our-process1 email-step-p">
							    <div class="about-our-process-research about-our-process-research-bg step1-animation">
							        <h6 class="heading-fontweight600 text-blue">Low Cost</h6>
							        <p><strong>Email marketing is CHEAP.</strong> The reality is that marketing to hundreds of consumers via email is going to cost you tiddlywinks compared to other channels of advertising.</p>
							    </div>
							    <div class="about-our-process-research step1-animation1">
							        <h6 class="heading-fontweight600 text-blue">Success</h6>
							        <p>Emails can be targeted specifically to the ideal consumer. <strong>Email marketing’s ROI</strong> often blows other direct marketing strategies out of the water – The trick is that you have to get it right. And we can help with that.</p>
							    </div>
							    <div class="about-our-process-research border-left-none step1-animation2">
							        <h6 class="heading-fontweight600 text-blue">Measurability and Flexibility</h6>
							        <p><em>Today’s analytics help you to track the responses to the emails,</em> helping you to figure out what’s working and what’s not. With such stats, we can make instant iterations that possibly can bring in better results!</p>
							    </div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="s-pb-100 s-pt-80">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 text-sm-left">
							<div class="">
								<h4 class="heading-fontweight600 text-blue"><span class="thin">How?</span></h4>
							    <img src="https://tentackles.com/img/How-8.png" alt="Visual representation of Creative, Relevance, Timing, Integration, Wireframes, and Landing Page aspects of email marketing service" class="img-fluid mt-50">
							</div>
						</div>
						<div class="col-lg-6 text-sm-left">
							<div class="about-our-process1 about-our-process-pd20 email-marketing-second-step">
							    <div class="about-our-process-research about-our-process-research-bg step1-animation1">
							        <h6 class="text-blue heading-fontweight600">Creative</h6>
							        <p>This refers to the overall email design (layout/images/colour). We try to figure out the preference of the customer<strong>(text vs HTML)</strong> before we send the emails out.</p>
							    </div>
							    <div class="about-our-process-research step1-animation2">
							        <h6 class="text-blue heading-fontweight600">Relevance</h6>
							        <p>Targeting, targeting, and more targeting. <em>We make your emails relevant and personalised to each recipient for great response rates.</em> This may include incentives for them to feel benefitted for responding to a marketing technique.</p>
							    </div>
							    <div class="about-our-process-research step1-animation3">
							        <h6 class="text-blue heading-fontweight600">Timing</h6>
							        <p>We track the best times in a day to send an email so that it is impossible to go unnoticed. We test and measure what timing works best for which email for future reference as well.</p>
							    </div>
							    <div class="about-our-process-research step1-animation4">
							        <h6 class="text-blue heading-fontweight600">Integration</h6>
							        <p>The best marketing practices utilise <strong>integrated marketing communication (IMC),</strong> where all aspects of their promotion work together to create a whole. We make sure that the image, message, and time of circulation of your email campaigns work in conjunction with your entire operations.</p>
							    </div>
							    <div class="about-our-process-research step1-animation5">
							        <h6 class="text-blue heading-fontweight600">Wireframes</h6>
							        <p>Wireframing is a crucial step whereby designers create a skeletal framework of the final product. It will define the hierarchy of items on a screen and communicate what the items on that page should be based on user needs.</p>
							    </div>
							    <div class="about-our-process-research step1-animation6 border-left-none">
							        <h6 class="text-blue heading-fontweight600">Landing Page</h6>
							        <p>Want those <strong>emails</strong> to turn into <strong>sales conversions?</strong> We show the recipients exactly where you want them to go instead of just adding a hyperlink to your home page.</p>
							    </div>
							</div>
						</div>
					</div>
					</div>
				</div>
			</section>
            
{% endblock content %}