{% extends "enquiry/branding_base.html" %} {% block title %}
<title>Just Get It | Presentation</title>{% endblock title %} {% load static %}
{% block nav %}
{% endblock nav %}
{% block content %}
<div class="preloader">
	<div class="preloader_image"></div>
  </div>
  <div id="canvas">
	<div id="box_wrapper">
	  <div class="header_absolute">
		<header class="page_header ds bg-transparent s-py-20">
		  <div class="container">
			<div
			  class="
				row
				d-flex
				align-items-center
				justify-content-center
				white-nav-logo
				brandin-nav
				mb-brand-nv
			  "
			>
			  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8 col-12">
				<a href="/branding" class="logo">
				  <img
					src="https://tentackles.com/images/icon.png"
					alt="Icon for- Tentackleslogo"
				  />
				  <img
					src="{% static 'branding_images/tentackles-logoicon.png' %}"
					alt="Tentackles Logo"
				  />
				  <span class="logo-text color-darkgrey"></span>
				</a>
			  </div>
			  <div class="col-xl-9 col-lg-9 col-md-8 col-sm-4 col-12">
				<!-- main nav start -->
				<nav>
				  <div class="top-nav">
					</div>
				  <div class="overlay-nav">
					<ul>
					  <li>
						<a
						  href="https://www.facebook.com"
						  target="_blank"
						>
						  <i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
					  </li>
					  <li>
						<a
						  href="https://www.linkedin.com"
						  target="_blank"
						>
						  <i class="fa fa-linkedin" aria-hidden="true"></i>
						</a>
					  </li>
					  <li>
						<a
						  href="https://www.instagram.com"
						  target="_blank"
						>
						  <i class="fa fa-instagram" aria-hidden="true"></i>
						</a>
					  </li>
					  <li>
						<a onclick="openNav()">
						  <div class="menu-toggle">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						  </div>
						</a>
					  </li>
					</ul>
				  </div>
				</nav>
				<!-- eof main nav -->
			  </div>
			</div>
		  </div>
		  <!-- header toggler -->
		  <span class="toggle_menu"><span></span></span>
		</header>
	  </div>

<section class="page_slider">
  <div class="flexslider">
    <ul class="">
      <li class="presentation-banner">
        <img
          src="https://tentackles.com/img/presentaionArtboard8.png"
          alt="background image"
          class="img-fluid ds_none1"
        />
        <div class="prsn-bnn">
          <div class="container">
            <div class="content-strategy presentation-banner-text">
              <h1 class="ds_none">Presentation</h1>
              <div class="row mb-row-mlr rev">
                <div class="col-md-6">
                  <div class="content-strategy mt--60 presentation-banner-text">
                    <h1 class="ds_none1">Presentation</h1>
                    <p class="text-white">
                      <em
                        >When you take pains to build a brand, your company
                        presentation has to be very tight, well-organized, and
                        compelling.</em
                      >
                      The best visual format for your company presentation,
                      which is often in <strong>PowerPoint,</strong> and before
                      prospective clients hire you, they want to know what you
                      can do for them and how qualified you are to do it.
                      <em
                        >As a result, your company presentation plays a crucial
                        role in helping you secure new clients.</em
                      >
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <img
                    src="https://tentackles.com/img/presentaionArtboard 14.png"
                    alt="Visual representation of a team working on the PowerPoint Presentation"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="s-pb-60 s-pt-100 mb-elmn">
  <div class="container">
    <div class="text-center presentation-gernral-overview ds_none">
      <h4 class="text-blue heading-fontweight600">
        Elements of a Great Presentation
      </h4>
      <h5>The General Overview</h5>
    </div>
    <div class="row ds_none1">
      <div class="col-md-12">
        <div class="text-center presentation-gernral-overview">
          <h4 class="text-blue heading-fontweight600">
            Elements of a Great Presentation
          </h4>
          <h5>The General Overview</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="s-pt-60 s-pb-60">
  <div class="container presentation-bg px-50">
    <div class="row">
      <div class="col-md-4">
        <div class="presentation-overview">
          <img
            src="https://tentackles.com/img/Artboard 12 copy 3.png"
            alt="Icon for- Your Company Story"
            class="img-fluid"
          />
          <h4>About Yourself</h4>
          <p>Your Company Story</p>
        </div>
        <div class="presentation-overview1 mt-50">
          <img
            src="https://tentackles.com/img/Artboard 12 copy.png"
            alt="Icon for- Case Studies & Clients"
            class="img-fluid"
          />
          <h4>Sample Project</h4>
          <p>Case Studies, Clients</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ptb">
          <div class="presentation-overview1">
            <img
              src="https://tentackles.com/img/presentaionArtboard 10.png"
              alt="Icon for- Services & Solutions"
              class="img-fluid"
            />
            <h4>What You Do</h4>
            <p>Services & Solutions</p>
          </div>
          <div class="presentation-overview mt-50">
            <img
              src="https://tentackles.com/img/Artboard 12.png"
              alt="Icon for- Testimonials"
              class="img-fluid"
            />
            <h4>What People Say</h4>
            <p>Testimonials</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 ds_none1">
        <div class="presentation-overview-img">
          <img
            src="https://tentackles.com/img/pres.png"
            alt="A professional standing with a chart"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="s-pb-60 s-pt-100">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center presentation-gernral-overview">
          <h4 class="text-blue heading-fontweight600">What Sets Us Apart</h4>
          <h5>The Secret</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="s-pb-80">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 cont-pd">
        <div class="service-single right-image ls">
          <div class="side-item">
            <div class="item-media presentation-business-img">
              <img
                src="https://tentackles.com/img/pres1.jpg"
                class="img-fluid"
              />
            </div>
            <div class="item-content presentation-bg">
              <div class="content-center">
                <div
                  class="
                    branding-guid-positioning-text
                    presentation-business-text
                  "
                >
                  <h3 class="strategy-h1 text-white branding-letter-spacing w">
                    Business Storytelling
                  </h3>
                  <p class="text-white w">
                    Our brains are wired to remember stories, but weaving tales
                    alone isn’t enough to spur your customer, prospect, or
                    manager to take action. It’s the arc of a story combined
                    with powerful data and visuals that achieves the right
                    balance of logic and emotion to generate decision-making.<em>
                      We make sure to touch on the basic information about your
                      company without going into too much detail-</em
                    >
                    by simply and succinctly explaining what you do and who you
                    do it for.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="service-single right-image ls">
          <div class="side-item rever">
            <div class="item-content presentation-bg">
              <div class="content-center">
                <div
                  class="
                    branding-guid-positioning-text
                    presentation-business-text
                  "
                >
                  <h3 class="strategy-h1 text-white branding-letter-spacing w">
                    Visual Messaging
                  </h3>
                  <p class="text-white w">
                    <em
                      >Presentations are critical to selling your ideas and
                      driving people to action,</em
                    >
                    yet most fail to connect with their audience due to
                    distracting visuals and poorly displayed data. When this
                    happens, you’re almost guaranteed to lose your audience’s
                    attention and, worse, your one shot at being heard. What you
                    need is a laser-focused approach that promotes your key
                    points through a <strong>cohesive narrative.</strong>
                    <em
                      >We organize ideas into visual messages that are easy to
                      scan with clever use of basic design principles and
                      PowerPoint shortcuts.</em
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="item-media presentation-business-img">
              <img
                src="https://tentackles.com/img/pres2.jpg"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
        <div class="service-single right-image ls">
          <div class="side-item">
            <div class="item-media presentation-business-img">
              <img
                src="https://tentackles.com/img/pres.jpg"
                class="img-fluid mt-90"
              />
            </div>
            <div class="item-content presentation-bg">
              <div class="content-center">
                <div
                  class="
                    branding-guid-positioning-text
                    presentation-business-text
                  "
                >
                  <h3 class="strategy-h1 text-white branding-letter-spacing w">
                    Data Visualization
                  </h3>
                  <p class="text-white w">
                    Expert presenters know that you've got to
                    <strong>illustrate</strong> the meaning behind your data in
                    order for it to produce an impact. When data is used
                    correctly, it will clearly elevate your key insights. When
                    used incorrectly, it will cause confusion or
                    misinterpretation of your message and stall decision-making.
                    Capture the perfect snapshot of your most critical data with
                    a clear visual story and call to action. Leveraging the key
                    principles of <strong>data visualization,</strong> we create
                    <em>compelling, easy-to-scan charts and tables</em> using
                    your organization’s <strong>brand standards</strong> and
                    turn your insights into actionable recommendations that
                    drive the conversation forward.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="s-pb-50">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="strategy-expertise text-center">
          <h4 class="strategy-h1 text-blue">
            We have created client <br />
            winning presentations for:
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features s-pb-140">
  <!--         <h2>Our <span>Features</span></h2> -->
  <div class="slider-container">
    <div class="slider-content">
      <div class="slider-item">
        <img
          src="https://tentackles.com/img/contentArtboard20.png"
          alt="Tentackles created bulletproof strategies for Mirare Tech"
          class="img-fluid"
        />
      </div>
      <div class="slider-item">
        <img
          src="https://tentackles.com/img/contentArtboard18.png"
          alt="Tentackles UI/UX Studio created strategies for Aihiki"
          class="img-fluid"
        />
      </div>
      <div class="slider-item">
        <img
          src="https://tentackles.com/img/contentArtboard19.png"
          alt="Tentackles Design Studio created bulletproof strategies for MilJayega"
          class="img-fluid"
        />
      </div>
      <div class="slider-item">
        <img
          src="https://tentackles.com/img/contentArtboard20.png"
          alt="Mirare Tech"
          class="img-fluid"
        />
      </div>
      <div class="slider-item">
        <img
          src="https://tentackles.com/img/contentArtboard18.png"
          alt="Aihiki"
          class="img-fluid"
        />
      </div>
      <div class="slider-item">
        <img
          src="https://tentackles.com/img/contentArtboard19.png"
          alt="MilJayega"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="slider-controls">
      <button class="left"><i class="fa fa-angle-left"></i></button>
      <button class="right"><i class="fa fa-angle-right"></i></button>
    </div>
  </div>
</section>
<section class="s-pt-100 s-pb-200 strategy-footer-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="strategy-footer text-center">
          <h3>Thinking of Design?</h3>
          <h4>Lets make history together</h4>
          <a href="/branding/contact" class="strategy-footer-btn">Get in Touch</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
