{% extends "enquiry/branding_base.html" %} {% load static %} {% block title %}
<title>Just Get It | Social Media Marketing</title>
{% endblock title %} {% block content %}

    <section class="page_slider">
      <div class="flexslider social-background">
        <ul class="">
          <li class="social-media-banner">
            <img
              src="https://tentackles.com/img/s11.png"
              alt="background image"
              class="img-fluid smm-brn-bck ds_none1"
            />
            <img
              src="https://tentackles.com/img/socialg2-01-01.png"
              alt="colourful background image"
              class="img-fluid smm-bnr-img ds_none1"
            />
            <div class="smm-bnr">
              <div class="container">
                <div class="row rev pt100">
                  <div class="col-md-6">
                    <div class="content-strategy">
                      <h1>Social Media Marketing</h1>
                      <p class="text-white">
                        <em
                          >Social media marketing (SMM) is a form of Internet
                          marketing that utilizes social networking websites as
                          a marketing tool.</em
                        >
                        Our goal of SMM is to
                        <strong>produce content</strong> that our clients will
                        share on their social media which helps them to
                        <strong>build their social network</strong> and help a
                        company <strong>increase brand exposure</strong> and
                        broaden customer reach.
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <img
                      src="https://tentackles.com/img/socialg3-01.png"
                      alt="Graphical representation of a team working on social media marketing"
                      class="img-fluid"
                    />
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="social-media-img">
      <img
        src="https://tentackles.com/img/social-mediya.png"
        alt="blue background image"
        class="img-fluid smm-sg-img ds_none1"
      />
      <div class="smm-sg">
        <div class="container">
          <div class="row social-padding">
            <div class="col-md-3 offset-2">
              <div class="social-overview social-left">
                <p class="setgoal">1.</p>
                <img
                  src="https://tentackles.com/img/s2.png"
                  alt="Icon for Goals"
                  class="img-fluid"
                />
                <h6>SET GOALS</h6>
              </div>
              <div class="social-overview social-boxml social-left">
                <p class="setgoal">2.</p>
                <img
                  src="https://tentackles.com/img/s4.png"
                  alt="Icon for Audience"
                  class="img-fluid"
                />
                <h6>SEE AUDIENCE</h6>
              </div>
            </div>
            <div class="col-md-3">
              <div class="social-overview mt70 social-boxml social-ml">
                <p class="setgoal">3.</p>
                <img
                  src="https://tentackles.com/img/s3.png"
                  alt="Icon for Social Media Audit"
                  class="img-fluid"
                />
                <h6>SOCIAL MEDIA AUDIT</h6>
              </div>
              <div class="social-overview mt-30 social-ml">
                <p class="setgoal">4.</p>
                <img
                  src="https://tentackles.com/img/s5.png"
                  alt="Icon for Evaluate"
                  class="img-fluid"
                />
                <h6>EVALUATE</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="social-learn-img branding-ideation">
      <img
        src="https://tentackles.com/img/s14.png"
        alt="background image for banner"
        class="img-fluid smm-smg-img ds_none1"
      />
      <div class="smm-smg">
        <div class="container">
          <h4
            class="strategy-h1 branding-letter-spacing text-blue text-center0"
          >
            Set Smart Goals
          </h4>
          <div class="row rev">
            <div class="col-md-6">
              <div class="smm-text">
                <p class="branding-textp">
                  Our goal for Social Media Marketing is to create a winning
                  strategy to establish
                </p>
                <p class="branding-textp">
                  Objectives and goals of the company.
                </p>
                <p class="branding-textp">Each of our goals list to :-</p>
                <p class="set-smart">S - Specific</p>
                <p class="set-smart">M - Measurable</p>
                <p class="set-smart">A - Attainable</p>
                <p class="set-smart">R - Relevant</p>
                <p class="set-smart">T - Time- Bound</p>
                <p class="branding-textp">
                  This is the S.M.A.R.T. goal framework. It will guide the
                  actions and ensure they lead to real business results..
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <img
                src="https://tentackles.com/img/socialg9-01.png"
                alt="Visual representation of a professional setting smart goals for social media marketing"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
        <div class="social-media-smm">
          <h4
            class="
              strategy-h1
              branding-letter-spacing
              text-blue text-center
              ds_none
            "
          >
            Learn Your Audience
          </h4>
          <img
            src="https://tentackles.com/img/socialg12-01.png"
            alt="Graphical representation of a team thrilled about creating audience/buyer personas"
          />
          <div class="smm-lya">
            <div class="container social-audiance-img">
              <div class="row social-padding social-padding-bottom0">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                  <h4
                    class="
                      strategy-h1
                      branding-letter-spacing
                      text-blue
                      ds_none1
                    "
                  >
                    Learn Your Audience
                  </h4>
                  <p class="branding-textp">
                    Knowing about the audience—and ideal customer—is and what
                    they want to see on social is key to creating content that
                    they will like, comment on, and share.
                  </p>
                  <p class="branding-textp">
                    Try creating audience/buyer personas. This allows us to
                    think of your potential fans, followers, and customers as
                    real people with real wants and needs.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <h4
            class="
              strategy-h1
              branding-letter-spacing
              text-blue
              ds_none
              text-center
            "
          >
            Social Media Audit
          </h4>
          <div class="row rev">
            <div class="col-md-7">
              <div class="smm-text-audit mt-50">
                <h4
                  class="strategy-h1 branding-letter-spacing text-blue ds_none1"
                >
                  Social Media Audit
                </h4>
                <p class="branding-textp">
                  If social media tools are already being used, then there is a
                  need to take a step back and look at what has already been
                  done and accomplished. Have clarity on the following
                  questions:
                </p>
                <p class="branding-textp">Each of your goals should be:</p>
                <p class="set-smart">Q1. What is working, and what is not ?</p>
                <p class="set-smart">
                  Q2. Who is connecting with you on social ?
                </p>
                <p class="set-smart">
                  Q3. Which network does your target audience use?
                </p>
                <p class="set-smart">
                  Q4. How does your social media presence compare to<span>
                    that of your competitors ?.</span
                  >
                </p>
              </div>
            </div>
            <div class="col-md-5">
              <img
                src="https://tentackles.com/img/socialg15-01.png"
                alt="Visual representation of a professional working on social media audit"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="branding-ideation social-evaluate-img">
      <h4
        class="
          strategy-h1
          branding-letter-spacing
          text-blue
          ds_none
          text-center
        "
      >
        Evaluate Your Strategy
      </h4>
      <img
        src="https://tentackles.com/img/socialg16-01.png"
        alt="Graphical representation for- Evaluate Your Strategy"
        class="img-fluid smm-eys-img"
      />
      <div class="smm-eys">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <!-- <img src="img/socialg16-01.png" alt="Visual representation for- Evaluate Your Strategy" class="img-fluid"> -->
            </div>
            <div class="col-md-6">
              <h4
                class="strategy-h1 branding-letter-spacing text-blue ds_none1"
              >
                Evaluate Your Strategy
              </h4>
              <p class="branding-textp">
                Evaluate and adjust the strategy. This can be done with this
                two-step process:-
              </p>
              <p class="set-smart">Track Your Data</p>
              <p class="branding-textp">
                In addition to the analytics within each social network, using
                UTM parameters to track social visitors. We will be able to
                track the exact traffic of data on this.
              </p>
              <p class="set-smart">Re-evaluate, test, and do it all again</p>
              <p class="branding-textp bp">
                Once this data starts coming in, we use it to re-evaluate your
                strategy regularly. Constant testing allows us to understand
                what works and what doesn’t, can refine your strategy in real
                time.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="back_color_1 s-pb-100">
      <div class="container">
        <div class="design_text_2">
          <h3>
            Everything you want to know <br />
            about our work
          </h3>
          <h5>
            We have simplified our terms with the help of our work; they explain
            <br />
            every step towards realizing a winning product.
          </h5>
        </div>
        <div class="row pt-80">
          <div class="col-md-4">
            <div class="paddind_set_3">
              <a href="miljayega-project.html">
                <img
                  src="https://tentackles.com/images/10.png"
                  alt="Tentackles Strategic Design client- Miljayeg"
                />
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="paddind_set_3">
              <a href="infotanks-media-project.html">
                <img
                  src="https://tentackles.com/images/12.png"
                  alt="Tentackles Strategic Design client- Infotanks Media"
                />
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="paddind_set_3">
              <a href="#">
                <img
                  src="https://tentackles.com/images/7.png"
                  alt="Tentackles Strategic Design client- Ayurway"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="s-pt-100 s-pb-200 strategy-footer-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="strategy-footer text-center">
              <h3>Thinking of Design?</h3>
              <h4>Lets make history together</h4>
              <a href="/branding/contact" class="strategy-footer-btn"
                >Get in Touch</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock content %}
