{% extends "enquiry/branding_base.html" %} {% load static %} {% block title %}
<title>Just Get It | Privacy Policy</title>
{% endblock title %} {% block content %}

    <section
      class="
        ls
        s-overlay
        mobile-overlay
        s-pt-160 s-pb-xl-150 s-pb-lg-130 s-pb-md-90 s-pb-60
      "
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="privacy-text">
              <h1>Privacy Policy</h1>
              <p>
                We, at 'Just Get It Pvt Ltd', are committed to
                respecting your online privacy and recognize your need for
                appropriate protection and management of any personally
                identifiable information you share with us.
              </p>
              <p>
                Your use of our website or any of the services offered therein
                is subjected to the following privacy policy. Your use of our
                website and any associated services offered through Tentackles
                constitutes your acceptance of these terms, including future
                amendments made thereto. At Tentackles, we take utmost care to
                protect your privacy. We operate under a strict data protection
                policy, thereby protecting your credentials at all levels. This
                assures total confidentiality. Our privacy policy helps us as an
                organisation to meet the needs of our clients.
              </p>
              <p>
                In order to provide a personalised browsing experience,
                Just Get It Pvt Ltd may collect information from
                you, this may include technical or other related information
                from the device used to access Tentackles Strategic Design Pvt
                Ltd website, further you may also be asked to complete a
                registration form. When you let us have your preferences, we
                will be able to deliver or allow you to access the most relevant
                information that meets your end.
              </p>
              <p>
                While accessing our website, we collect the following
                information, and use it only as described below:
              </p>
              <h4>Personal information</h4>
              <p>
                Personal information that may be used to identify an individual,
                including, but not limited to, a first and last name, email
                address, citizenship info, a home, postal or other physical
                address, other contact information, title, birth date, gender,
                occupation, industry, personal interests. We use this
                information to set up your Account or contact you.
              </p>
              <h4>Product Related Information</h4>
              <p>
                Just Get It Pvt Ltd will further be requiring
                certain other information such as ideas, plans, invention
                details, diagrams/figures, social media, photo/data sharing,
                patent literature, data science identifiers customised, log
                files, cookies, IP address, search/browsing history, keywords,
                hashtags, third party account/integration data, embedded data,
                for Tentackles applications to offer better services in the
                areas desired by you. The information collected at Tentackles
                Strategic Design Pvt Ltd portal will be used for providing more
                customized & improved client service, facilitating business
                through our partners, operating website, investigating
                complaints, providing better customer service, internal
                analysis, and research.
              </p>
              <h4>Payment Information</h4>
              <p>
                Just Get It Pvt Ltd uses the maximum care as is
                possible to ensure that all or any data / information in respect
                of electronic transfer of money does not fall in the wrong
                hands. For completing online transactions involving payments a
                user is directed to a secured payment gateway. Tentackles
                Strategic Design Pvt Ltd does not store or keep financial data
                such as credit card numbers/passwords/PINs etc "Personal Account
                Related Information". Since the 2 transaction happens on a third
                party network not controlled by Tentackles Strategic Design Pvt
                Ltd, once an online transaction has been completed, the Personal
                Account Related Information is not accessible to anyone at
                Just Get It Pvt Ltd after completion of the
                on-line transaction at the payment gateway, this ensures maximum
                security.
              </p>
              <h4>Information for Blogs/Events/Product launchpad</h4>
              <p>
                Just Get It Pvt Ltd allows you to post, link,
                share and otherwise make available certain information, text,
                graphics, videos, or other material. You are responsible for the
                content posted and further any damage caused to the Purchaser
                because of the product/content posted or sold. Tentackles
                Strategic Design Pvt Ltd will not be responsible for the content
                of or any damage that may result from your access/purchase to or
                reliance on these third-party websites. If you link to
                third-party websites, you do so at your own risk. Tentackles
                Strategic Design Pvt Ltd will try and locate the third party in
                any such event and forward the requisite information to you for
                further actions.
              </p>
              <h4>Communications with Us</h4>
              <p>
                When you send us emails or other communications via any other
                media, we maintain those communications and their contents so
                that we can resolve your inquiries or otherwise assist you.
              </p>
              <h4>Third Party Information</h4>
              <p>
                Just Get It Pvt Ltd have no control over, and
                assumes no responsibility for, the content, privacy policies, or
                practices of any third-party websites or services or links to
                third-party websites. Just Get It Pvt Ltd shall
                not be responsible or liable, directly or indirectly, for any
                damage or loss caused or alleged to be caused by or in
                connection with use of or reliance on any such content, goods,
                or services available on or through any such web sites or
                services. Just Get It Pvt Ltd does not intend to
                transfer Personal Information without your consent to third
                parties who are not bound to act on our behalf unless such
                transfer is legally required. Similarly, it is against our
                policy to sell Personal Information collected online without
                consent.
              </p>
              <h4>Cookies and Other Technologies</h4>
              <p>
                We use these technologies to do things such as remember your
                preferences, keep you safe and improve and promote the Services.
                You can read more about how we use these technologies in our
                Cookie Policy, which is incorporated by reference into this
                Privacy Policy.
              </p>
              <p>
                Just Get It Pvt Ltd takes appropriate security
                measures to protect against unauthorized access to or
                unauthorized alteration, disclosure, or destruction of data.
              </p>
              <ul>
                <li>
                  Just Get It Pvt Ltd does not rent, sell, or
                  share personal information about you with other people (save
                  with your consent) or non-affiliated companies except to
                  provide products or services you've requested, when we have
                  your permission, or under the following circumstances:
                </li>
                <li>
                  We provide the information to trusted service providers who
                  work on behalf of or with Just Get It Pvt Ltd
                  under confidentiality agreements. These Service Providers may
                  use information as provided by you, to help Tentackles
                  Strategic Design Pvt Ltd deliver its services. However, these
                  Service Providers do not have any independent right to share
                  this information.
                </li>
                <li>
                  We respond to subpoenas, court orders, or legal process, or to
                  establish or exercise our legal rights or defend against legal
                  claims;
                </li>
                <li>
                  We believe it is necessary to share information in order to
                  investigate, prevent, or take action regarding illegal
                  activities, suspected fraud, situations involving potential
                  threats to the physical safety of any person, violations of
                  Just Get It Pvt Ltd terms of use, or as
                  otherwise required by law.
                </li>
                <li>
                  We transfer information about you if ‘Tentackles Strategic
                  Design Pvt Ltd’ is acquired by or merged with another company.
                  In this event, Just Get It Pvt Ltd will notify
                  you before information about you is transferred and becomes
                  subject to a different privacy policy.
                </li>
              </ul>
              <p>
                Just Get It Pvt Ltd undertake to maintain strict
                confidentiality and refrain from disclosure thereof, of all or
                any part of the information and data exchanged/generated from
                the Process for any purpose other than in accordance with the
                services offered. It shall be the responsibility of both the
                user and Just Get It Pvt Ltd to ensure
                maintenance of such confidentiality.
              </p>
              <p>
                Just Get It Pvt Ltd have physical, electronic,
                and procedural safeguards that comply with the laws prevalent in
                India to protect information about you. We seek to ensure
                compliance with the requirements of the Information Technology
                Act, 2000 as amended and rules made thereunder to ensure the
                protection and preservation of your privacy.
              </p>
              <p>
                Just Get It Pvt Ltd reserves the right to
                update, change or modify this policy at any time. The policy
                shall come to effect from the date of such update, change, or
                modification.
              </p>
              <p>
                Just Get It Pvt Ltd shall not be liable for any
                loss or damage sustained by reason of any disclosure
                (inadvertent or otherwise) of any information concerning the
                user's account and/or information relating to or regarding
                online transactions using credit cards/debit cards and/or their
                verification process and particulars nor for any error, omission
                or inaccuracy with respect to any information so disclosed and
                used whether or not in pursuance of a legal process or
                otherwise.
              </p>
              <p>
                Just Get It Pvt Ltd welcomes your comments
                regarding this privacy statement at the contact address given on
                the website. Should there be any concerns about contravention of
                this Privacy Policy. Note: The terms in this agreement may be
                changed by Just Get It Pvt Ltd at any time.
                Just Get It Pvt Ltd is free to offer its
                services to any client/prospective client without restriction.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock content %}