{% extends "enquiry/branding_base.html" %}
{% load static %}
{% block title %}
  <title>Just Get It | Explainer Videos</title>
{% endblock title %}
{% block content %}
			<section class="page_slider">

				<div class="flexslider">
					<ul class="">
						<li class="exp-vd">
							<img src="https://tentackles.com/img/Header-8.png" alt="Graphical representation of a team working on a video project" class="img-fluid ds_none1">
							<div class="exp-vd-bnr">
								<div class="container">
								    <div class="Explainer-video-banner-text">
												<h1 class="text-blue ds_none text-center bp">Explainer <br class="ds_none1">Videos</h1>
												</div>
									<div class="row reverse-col row-ml0">
										<div class="col-md-6">
											<div class="Explainer-video-banner-text">
												<h1 class="text-blue ds_none1">Explainer <br>Videos</h1>
												<p class="">How on earth does one market bucket loads of relevant content into bite-sized bits of easily digestible information that 
													speaks to an audience? The best solution: <strong>Explainer videos..</strong>  We follow a meticulous and yet creative process to make sure that your videos are genuine and inject
												    your personality into the message such that they become true assets for your brand presentation.</p>
											</div>
										</div>
										<div class="col-md-6">
										    <div>
										        <img src="https://tentackles.com/img/Header-8.png" alt="A team working on a video project" class="img-fluid ds_none HH">
										    </div>
											
										</div>
									</div>	
								</div>
							</div>
						</li>

					</ul>
				</div> 	
			</section>
			<section class=" s-pt-60 s-pb-80 ">
				<div class="container mb-pt10 mb-pb0">
					<div class="row">
						<div class="col-md-12">
							<div class="strategy-important text-center explainer-video-process">
								<h3 class="text-black">Process we follow in making</h3>
								<h4 class="strategy-h1 mt-10 text-blue">Why is it important?</h4>
								<ul>
									<li>
										<img src="https://tentackles.com/img/videosmall Storyboard-8.png" alt="Storyboard" class="img-fluid">
										<p>Storyboard</p>
									</li>
									<li>
										<img src="https://tentackles.com/img/videoSmall timeline-8.png" alt="Timeline" class="img-fluid">
										<p>Timeline</p>
									</li>
									<li>
										<img src="https://tentackles.com/img/videoSmall Content-8.png" alt="Content" class="img-fluid">
										<p>Content</p>
									</li>
									<li>
										<img src="https://tentackles.com/img/videoSmall Illustations-8.png" alt="Illustrations" class="img-fluid">
										<p>Illustrations</p>
									</li>
									<li>
										<img src="https://tentackles.com/img/videosmall Storyboard-8.png" alt="Animation" class="img-fluid">
										<p>Animation</p>
									</li>
									<li>
										<img src="https://tentackles.com/img/videoSmall Voice Over-8.png" alt="Voice Over" class="img-fluid">
										<p>Voice Over</p>
									</li>
									<li>
										<img src="https://tentackles.com/img/videoSmall Final Production-8.png" alt="Final Production" class="img-fluid">
										<p>Final Production </p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class=" s-pt-10 s-pb-80">
				<div class="container mb-pb0">
					<div class="row">
						<div class="col-md-12">
							<div class="explariner-storyboard">
								<h2 class="dastkari-about-circle sudhir-circle-bg sudhir-black-text">01</h2>
								<h4 class="strategy-h1 text-center mt20 text-blue">Storyboard</h4>
								<p>A <strong>storyboard</strong> is the set of graphic assets organized in the sequence of their flow for the video. <em>We do it because it helps to visualize our ideas, giving a better understanding of the future video flow.</em> This way, our design team, and the client discuss details of the visual part as well as the sequence of scenes before the <strong>motion design</strong> process begins. It may include images of various fidelity, from simple sketches to detailed illustrations. 
									The choice usually depends on the requirements and the urgency of the project.</p>
								<p>Due to the set of quick sketches, our designers manage to present our ideas to the client and quickly make a decision on the essential points which had to be included in the promo. After several discussions and considering all the aspects such as the specifics of the <strong>target audience, clients</strong> etc.,
								   our designers agree upon the stylistic preferences and the message of the story.</p>
								<img src="https://tentackles.com/img/videoStory board-8.png" alt="A Storyboard helps to visualize ideas." class="img-fluid mt-50">
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class=" s-pt-10 s-pb-80">
				<div class="container mb-pb0">
					<div class="row">
						<div class="col-md-12">
							<div class="explariner-storyboard">
								<h2 class="dastkari-about-circle sudhir-circle-bg sudhir-black-text">02</h2>
								<h4 class="strategy-h1 text-center mt20 text-blue">Timeline</h4>
								<p>After the client is satisfied with the provided <strong>storyboard,</strong> we finalize the <strong>timeline.</strong> This will represent with clarity what is going to happen at what time mark. Here, we provide a <strong>rough timeline</strong> and the <strong>detailed timeline.</strong> In the rough timeline, we provide the action and time, whereas, in a detailed timeline, we provide the action, time as well as graphics.</p>
								<h5 class="text-blue head">Rough Timeline</h5>
								<p>00:13 to 00:22 Tech giants like Google & Facebook are cashing 100s of Billions of dollars from data that regular consumers produce and in-turn give them back only pennies on a dollar with the rationale of "free" services</p>
								<h5 class="text-blue head">Detailed Timeline</h5>
								<p>00:13 to 00:22 That’s right! Just by going about your routine lives, you are generating a digital trail that’s worth billions in today’s data-driven economy</p>
								<img src="https://tentackles.com/img/videoTimeline-8.png" alt="The Timeline gives clarity on what is going to happen at what time mark." class="img-fluid mt-50 mb-mt10">
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class=" s-pt-10 s-pb-80">
				<div class="container mb-pb0">
					<div class="explariner-storyboard">
						<h2 class="dastkari-about-circle sudhir-circle-bg sudhir-black-text">03</h2>
						<h4 class="strategy-h1 text-center mt20 text-blue">Content</h4>
					</div>
					<div class="row">
						<div class="col-md-12 mt-50 mb-mt10">
							<div class="explariner-content">
								<img src="https://tentackles.com/img/videovideoContent-8.png" alt="Content will finalize the story." class="img-fluid">
								<p><em>Before we start gathering images, drawing storyboards, or doing any nuts-and-bolts illustration or previsualization work — we will finalize the story we are going to tell.</em> This means considering the details of every scene. Physical space, wardrobe, blocking, staging, action, etc. This phase is considered as breaking down the script (aka "marking the script"), where we highlight all of the key elements that will affect the storyboards. And so, the very first step is to read the script and visualize it as an audience would.</p>
								<ul>
									<li>How long have you been online today?</li>
									<li>Facebook and Google are already collecting a lot of data from you.</li>
									<li>Shocked? We've got an easy yet impactful solution…</li>
									<li>All you need to do is download the Datagets App!</li>
									<li>Isn’t that amazing?</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class=" s-pt-10 s-pb-80">
				<div class="container mb-pb0">
					<div class="row">
						<div class="col-md-12">
							<div class="explariner-storyboard">
								<h2 class="dastkari-about-circle sudhir-circle-bg sudhir-black-text">04</h2>
								<h4 class="strategy-h1 text-center mt20 text-blue">Illustrations</h4>
								<p>Having decided the style, color palette, and patterns, our designers go onto the creation of <strong>digital illustrations.</strong> For instance, the bright color palette sets the happy mood of the video showing how the app can make the world a better place.</p>
								<img src="https://tentackles.com/img/videoIllus(1)-8.png" alt="Digital illustrations showing control your date and get paid for it." class="img-fluid mt-50 mb-mt10">
								<img src="https://tentackles.com/img/videoIllus(2)-8.png" alt="Digital illustrations showing DATAGETS app." class="img-fluid mt-50 mb-mt10">
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class=" s-pt-10 s-pb-80">
				<div class="container mb-pb0">
					<div class="row">
						<div class="col-md-12">
							<div class="explariner-storyboard explariner-video">
								<h2 class="dastkari-about-circle sudhir-circle-bg sudhir-black-text">05</h2>
								<h4 class="strategy-h1 text-center mt20 text-blue">Animation</h4>
								<p>We are almost done! All the scenes represented in the digital illustrations are animated into a united story that is bright and attractive. More interaction brings more people to the website or app.</p>
								<video id="video" autoplay="" muted="">
			             			<source src="https://tentackles.com/img/DATAGETS_facebook_HD.mp4" type="video/mp4" class="">
			           			</video>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class=" s-pt-10 s-pb-80">
				<div class="container">
					<div class="explariner-storyboard mb-explainer-video-voice">
						<h2 class="dastkari-about-circle sudhir-circle-bg sudhir-black-text">06</h2>
						<h4 class="strategy-h1 text-center mt20 text-blue">Voice Over</h4>
					</div>
					<div class="row">
						<div class="col-md-6 mt-50 mb-mt10">
							<p><em>Recording the voice over is an important part of the animation.</em> The animation itself will, in many ways, be influenced by the voice over in areas like timing and focus. If the VO talks about a specific object or process, that object or process must be clearly shown at that point in time. After this, we come to the final step of adding the audio to the video.</p>
							<p>We follow the content which is finalized by the client and create the voiceover. <strong>We provide both British and US accents for the voice over depending upon the client's prerogative.</strong></p>
						</div>
						<div class="col-md-6">
							<img src="https://tentackles.com/img/Voice Over-8.png" alt="Voice over with British and US accents." class="img-fluid">
						</div>
					</div>
				</div>
			</section>
			<section class=" s-pt-10 s-pb-80">
				<div class="container">
					<div class="explariner-storyboard mb-explainer-video-voice">
						<h2 class="dastkari-about-circle sudhir-circle-bg sudhir-black-text">07</h2>
						<h4 class="strategy-h1 text-center mt20 text-blue">Final-production</h4>
					</div>
					<div class="row">
						<div class="col-md-6 mt-50 mb-mt10">
							<p>Once the visual part is created, the client provides the designers with the music and the voice-over made by professional voice-artists. While choosing the voice for a video, it’s important to make sure that it corresponds to the offer and mood of the video and that the tone matches the preferences of the target audience. Take a look at an animated promo video for OffCents that followed all the above steps.</p>
						</div>
						<div class="col-md-6">
							<img src="https://tentackles.com/img/videoFinal Production-8.png" alt="Visual representation of the final production stage of the video." class="img-fluid">
						</div>
					</div>
				</div>
			</section>
			<section class=" s-pt-60 s-pb-80">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="strategy-important text-center explainer-video-process">
								<h3 class="text-blue">Have a look at one of our</h3>
								<h4 class="strategy-h1 text-blue mt-10">Why is it important?</h4>
								<video id="video" autoplay="" muted="" loop="loop" class="mt-50 mb-mt10 mb-video-final">
			             			<source src="https://tentackles.com/img/DATAGETS_Video_empty pocket.mp4" type="video/mp4" class="">
			           			</video>
							</div>
						</div>
					</div>
				</div>
			</section>
		    <section class="s-pt-100 s-pb-200 strategy-footer-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="strategy-footer text-center">
                                <h3>Thinking of Design?</h3>
                                <h4>Lets make history together</h4>
                                <a href="/branding/contact" class="strategy-footer-btn">Get in Touch</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
              
{% endblock content %}