
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/gdpr/gdprscript.js?buildTime=1601575060&hasRemindMe=true&stealth=false"></script>
    <title>Our Services - Kcreative Writing</title><meta property="og:site_name" content="Kcreative Writing" />
    <meta property="og:title" content="Our Services" />
    <meta property="og:description" content="We Listen. We Deliver. That&#039;s our motto for all the content writing and content marketing projects that we undertake." />

    <div id="fb-root" class="fb_reset"></div>
    <style type="text/css">
        .title-header {
            text-align: center;
        }

        .links {
            margin:100px 100px;
        }

        .link-items {
            display: inline-block;
            margin-left: 20px;
            border: 1px solid grey;
            padding: 5px;
        }

        .link-items:hover {
            background-color: aqua;
        }

        .link-items a {
            text-decoration: none;
            color: black;
            width: 100%;
            height: 100%;
        }

        .link-items a:hover {
            text-decoration: underline;
        }
    </style>    
</head>
<body class="header-page  wsite-page-services  wsite-theme-light">
	<div id="content">		
		<div id="main">
			<div id="wsite-content" class="wsite-elements wsite-not-footer">
                <div class="title-header">        		                    
                    <div>                                                         
                        <h1>Our Content Services</h1>                                            
                        <div style="clear:both;"></div>                                       
                    </div>
                    <div>                                                 	    
                        <h2>We Listen. We Deliver.</h2>
                        <div style="clear:both;"></div>                                    
                    </div>
                </div>                     
                <div class="wsite-section-wrap">                                          
                    <div style="margin:0 -15px;">
                        <table>
                            <tbody>
                                <tr>
                                    <td style="width:9.5959595959596%; padding:0 15px;">
                                        <div style="height:50px;"></div>
                                    </td>
                                    <td style="width:40.40404040404%; padding:0 15px;">                                     
                                        <div style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                                            <a>
                                                <img src="{% static 'img/portfolio/page-layouts-9299453_orig.jpeg' %}" alt="Picture" style="width:100%;max-width:1100px" />
                                            </a>
                                            <div style="display:block;font-size:90%"></div>
                                        </div>                                   				
                                    </td>
                                    <td style="width:40%; padding:0 15px;">
                                        <div>
                                            <h2>Copywriting Services</h2>
                                            <div style="clear:both;"></div>
                                        </div>
                                        <div class="paragraph" style="text-align:justify;">&#8203;&#8203;'Content is King&rsquo;! It is important to create dynamic content to be seen as a vibrant and growing concern. You may have dealt with agencies in the past only to realize that there is a gap in understanding the business perspective.<br /><br />With an understanding of both business and sales and with skill and experience in marketing and copy-writing, we are able to bridge the gap, and bring about an effective output.</div>
                                    </td>
                                     <td style="width:18.181818181818%; padding:0 15px;">
                                        <div style="height:50px;"></div>
                                    </td>
                                </tr>
                            </tbody>
                    	</table>
                    </div>                         
                    <div>
                        <div style="margin:0 -15px;">
                        	<table>
                        		<tbody>
                        			<tr>
                                    	<td style="width:9.5920840064621%; padding:0 15px;">
                                            <div style="height:50px;"></div>
                                        </td>
                                        <td style="width:40.393663250761%; padding:0 15px;">
                                            <div>
                                                <h2 class="title-header">Online Content Shop</h2>
                                                <div style="clear:both;"></div>                    
                                            </div>
                                            <div style="text-align:center;">Blogs<br />Articles<br /><span>Article Rewriting</span><br />Website Content<br />Marketing Collaterals<br /><span>Copywriting for Brochures<br />Product Descriptions</span><br />Academic Writing<br /><span>Press Releases</span><br />News Articles<br /><span>Emailers</span><br /><br /></div>
                                        </td>
                                        <td style="width:42.817283045807%; padding:0 15px;">
                                            <div style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                                                <a>
                                                    <img src="{% static 'img/portfolio/page-layouts-5274136_orig.jpeg' %}" alt="Picture" style="width:auto;max-width:100%" />
                                                </a>
                                                <div style="display:block;font-size:90%"></div>
                                            </div>
                                        </td>
                                        <td style="width:7.1969696969697%; padding:0 15px;">
                                            <div style="height:50px;"></div>
                                        </td>
                                    </tr>
                        		</tbody>
                        	</table>
                        </div>                                     
                    </div>
                    <div class="wsite-spacer" style="height:50px;"></div>
                    <div>                                        
                        <div style="margin:0 -15px;">
                            <table>
                                <tbody>
                                    <tr>
                                        <td style="width:10.734463276836%; padding:0 15px;">
                                            <div style="height:50px;"></div>
                                        </td>
                                        <td style="width:39.224267552194%; padding:0 15px;">
                                            <div>
                                                <div style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                                                    <a>
                                                        <img src="{% static 'img/portfolio/page-layouts-7172401_orig.jpeg' %}" alt="Picture" style="width:auto;max-width:100%" />
                                                    </a>
                                                    <div style="display:block;font-size:90%"></div>
                                                </div>
                                            </div>					
                                        </td>
                                        <td style="width:50.04126917097%; padding:0 15px;">          
                                            <div style="margin:0 -15px;">
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td style="width:81.818181818182%; padding:0 15px;">              
                                                                <div>
                                                                    <h2>Content Strategy</h2>
                                                                    <div style="clear:both;"></div>              
                                                                </div>                 
                                                                <div style="text-align:justify;">&#8203;Building a connect 'quickly' with the audience is the trick when it comes to marketing. Our content marketing strategies helps you do just that. The right strategy married with the best content helps you build a robust funnel that transforms a ToFu (Top of the Funnel) to BoFu (Bottom of the Funnel) customer and ultimately a lifelong brand ambassador.<br /><br />While big companies are spending millions and billions in marketing, sometimes all you need is a smart strategy to reach out without shelling out those greens.&nbsp;</div>
                                                            </td>
                                                            <td style="width:18.181818181818%; padding:0 15px;">
                                                                <div style="height:50px;"></div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>                                                 
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>                                        
                    </div>
                    <div style="height:50px;"></div>                                                    
                    <div style="margin:0 -15px;">
                        <table>
                            <tbody>
                                <tr>
                                    <td style="width:9.5920840064621%; padding:0 15px;">
                                        <div style="height:50px;"></div>
                                    </td>
                                    <td style="width:40%; padding:0 15px;">                                            
                                        <div>                                                
                                            <h2>Content Audit</h2>                          
                                            <div style="clear:both;"></div>                
                                        </div>                                            
                                        <div style="text-align:justify;">You can't reach the top if you don't know where you stand. Our content audit marrying the efficiency of technology along with expertise of a specialist intervention helps you carve out the right marketing journey that not only saves costs but can also lead to increased conversions weeding out the gaps that are causing you a drain of resources. With over 10 years of experience in jobs related to content marketing and a team of seasoned professionals from the industry, we assure you of unparalleled performance.<br /><br />We offer to assist you in your marketing efforts by auditing:
                                            <ul>
                                                <li>Your Website and On-Page content</li>
                                                <li>Your Sales Funnel Content</li>
                                                <li>Your Emailers content</li>
                                                <li>Your Sales Proposals, Brochures</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:40.372670807453%; padding:0 15px;">         
                                        <div style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:left">
                                            <a>
                                                <img src="{% static 'img/portfolio/186637908_orig.jpg' %}" alt="Picture" style="width:auto;max-width:100%" />
                                            </a>
                                            <div style="display:block;font-size:90%"></div>
                                        </div>                                                 
                                    </td>
                                    <td style="width:9.6273291925466%; padding:0 15px;">
                                        <div style="height:50px;"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                         
                </div>
            </div>
        </div>       
        <div class="links">
            <div class="link-items">
                <a href="https://in.pinterest.com/elanicin/newsletter/">Sample link 1</a>
            </div>
            <div class="link-items">
                <a href="https://in.pinterest.com/elanicin/quotes/">Sample link 2</a>
            </div>
            <div class="link-items">
                <a href="http://blog.elanic.in/author/sukanya-senapaty/">Sample link 3</a>
            </div>
            <div class="link-items">
                <a href="https://pin.it/rfqmrrhxeowmzf">Sample link 4</a>
            </div>
            <div class="link-items">
                <a href="https://sukanyasenapaty.wordpress.com/tag/happily-unmarried">Sample link 5</a>
            </div>
            <div class="link-items">
                <a href="https://instagram.com/plabita.manu?igshid=1jrtt08p4md6a">Sample link 6</a>
            </div>
            <div class="link-items">
                <a href="https://instagram.com/dailyhuntapp?igshid=1hvaa9ie10b3o">Sample link 7</a>
            </div>
            <div class="link-items">
                <a href="https://instagram.com/officialjoshapp?igshid=1eklh72v0eons">Sample link 8</a>
            </div>
            <div class="link-items">
                <a href="https://www.ratanjaipur.com/women/women-clothing/kurta-long">Sample link 9</a>
            </div>
        </div>
    </div>
    <div class="overlay w-navpane-close"></div>
    <script type="text/javascript" src="{% static 'js/portfolio/plugins_content.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/portfolio/custom.js' %}"></script>
    <div id="customer-accounts-app"></div>
    <script src="//cdn2.editmysite.com/js/site/main-customer-accounts-site.js?buildTime=1594748560"></script>  
</body>
</html>
