{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <form id="search" method="get" action="{% url 'product' %}">
        <label for="searchBy">Search by:</label>
        <select name="searchBy" id="id_searchBy" class="form-control" placeholder="abc">
          <option value="product">Product Name</option>
          <option value="nutrient">Nutrient Name</option>
        </select><br>
        <input type="text" class="form-control" id="txtSearch" name="txtSearch" placeholder="search product"><br>
        <button type="submit" class="btn btn-default btn-submit">Search</button>
      </form>
    </div>
    <div style="text-align: center;" class="col-6">
      <h1 class="mt-2" style="background-color: burlywood;color: aliceblue;">All Nutrition Product</h1>
      <h5 class="mt-2">Select a product to see it's nutritional content:</h5>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Product ID</th>
            <th scope="col">Product Name</th>
          </tr>
        </thead>
        <tbody>
          {% for i,j in output %}
          <tr>
            <th scope="row">{{i}}</th>
            <td><a href="{% url 'product' %}?txt={{j}}">{{j}}</a></td>
          </tr>
          {% endfor %}
          <hr class="mt-0 mb-4">
    </div>
  </div>
</div>
{% endblock %}