



{% extends 'base.html' %}
{% load qr_code %}
{% load static %}





{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/products/detailview.css' %}">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-markdown/css/bootstrap-markdown.min.css' %}">

<!-- Slick -->
<link type="text/css" rel="stylesheet" href="{% static 'css/products/slick.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'css/products/slick-theme.css' %}"/>


<link rel="stylesheet" href="{% static 'css/products/font-awesome.min.css' %}">
<!-- nouislider -->
<link type="text/css" rel="stylesheet" href="{% static 'css/products/nouislider.min.css' %}"/>
<!-- userrating -->
<link type="text/css" rel="stylesheet" href="{% static 'css/products/user_rating.css' %}"/>

<style>
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
	}

	/* Firefox */
	input[type=number] {
	-moz-appearance: textfield;
	}
	.item {
    position:relative;
    padding-top:20px;
    display:inline-block;
}
.notify-badge{
    position: absolute;
    
    top:10px;
    background:red;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 10px;
    font-size:20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
</style>

<script type="text/javascript">
	var selectedB2Bsizes=[];
	function increaseQuant(){
		var quant_div = document.getElementById('quantity');
		prev_val = quant_div.value;
		if(prev_val == ""){
			prev_val=1;
		}
		else{
			prev_val = parseInt(prev_val);
			prev_val ++;
		}
		
		quant_div.value = prev_val;
	}
	function decreaseQuant(){
		var quant_div = document.getElementById('quantity');
		prev_val = quant_div.value;
		if(prev_val == ""){
			prev_val=1;
		}
		prev_val = parseInt(prev_val);
		if(prev_val > 1){
			prev_val --;
		}
		quant_div.value = prev_val;
		
	}
	function putQuant2(linked_product,size,color){

		var quant_div = document.getElementById('quantity-'+linked_product+'-'+size+'-'+color);
		prev_val = quant_div.value;
		if(prev_val == ""){
			prev_val=1;
		}
		else{
			prev_val = parseInt(prev_val);
		}
		quant_div.value = prev_val;
		var flag =false
		if(selectedB2Bsizes.length == 0){
			var obj2 = {
					size:size,
					linked_product:linked_product,
					color:color,
					quantity:quant_div.value,
				}
				selectedB2Bsizes.push(obj2)
		}
		for(var i=0;i<selectedB2Bsizes.length;i++){
			if(selectedB2Bsizes[i]['size']==size && selectedB2Bsizes[i]['color']==color){

				selectedB2Bsizes[i]['quantity']=quant_div.value
				flag=true
				break;
			} else{

				flag = false
			}
		}
		if(flag===false){

			var obj2 = {
					size:size,
					linked_product:linked_product,
					color:color,
					quantity:quant_div.value,
				}
				selectedB2Bsizes.push(obj2)
		}
		console.log(selectedB2Bsizes)
		getTotalQty()
	}
	function increaseQuant2(linked_product,size,color){
		var quant_div = document.getElementById('quantity-'+linked_product+'-'+size+'-'+color);
		prev_val = quant_div.value;
		if(prev_val == ""){
			prev_val=1;
		}
		else{
			prev_val = parseInt(prev_val);
			prev_val ++;
		}
		quant_div.value = prev_val;
		var flag =false
		if(selectedB2Bsizes.length == 0){
			var obj2 = {
					size:size,
					linked_product:linked_product,
					color:color,
					quantity:quant_div.value,
				}
				selectedB2Bsizes.push(obj2)
		}
		for(var i=0;i<selectedB2Bsizes.length;i++){
			if(selectedB2Bsizes[i]['size']==size && selectedB2Bsizes[i]['color']==color){

				selectedB2Bsizes[i]['quantity']=quant_div.value
				flag=true
				break;
			} else{

				flag = false
			}
		}
		if(flag===false){

			var obj2 = {
					size:size,
					linked_product:linked_product,
					color:color,
					quantity:quant_div.value,
				}
				selectedB2Bsizes.push(obj2)
		}
		console.log(selectedB2Bsizes)
		getTotalQty()
	}
	function decreaseQuant2(linked_product,size,color){
		var quant_div = document.getElementById('quantity-'+linked_product+'-'+size+'-'+color);
		prev_val = quant_div.value;
		if(prev_val == ""){
			prev_val=1;
		}
		prev_val = parseInt(prev_val);
		if(prev_val > 1){
			prev_val --;
		}
		quant_div.value = prev_val;
		var flag =false
		if(selectedB2Bsizes.length == 0){
			var obj2 = {
					size:size,
					linked_product:linked_product,
					color:color,
					quantity:quant_div.value,
				}
				selectedB2Bsizes.push(obj2)
		}
		for(var i=0;i<selectedB2Bsizes.length;i++){
			if(selectedB2Bsizes[i]['size']==size && selectedB2Bsizes[i]['color']==color){

				selectedB2Bsizes[i]['quantity']=quant_div.value
				flag=true
				break;
			} else{

				flag = false
			}
		}
		if(flag===false){

			var obj2 = {
					size:size,
					linked_product:linked_product,
					color:color,
					quantity:quant_div.value,
				}
				selectedB2Bsizes.push(obj2)
		}
		console.log(selectedB2Bsizes)
		getTotalQty()
	}
	function getTotalQty(){
		total = 0
		var elements = document.getElementsByName("b2b-qty")
		elements.forEach(function (element){
			total =total + parseInt(element.value)
		})
		document.getElementById("quantity").value=total
		
	}
	
</script>

<script type="text/javascript">
	var selected_size = '';
	var selected_color = '';
	var sizeselected=false;
	var defaultImg = '';
	var defaultThumb = '';
	var defaultAbsent = true;
	function selectcolor(){
		var a,ele;
		console.log(arguments);
		selected_color = arguments[0];
		selected_size = arguments[arguments.length-1];
		console.log('SIZE ' + selected_size + ' COLOR ' + selected_color);
		console.log(selected_size);
		for(a=0;a<arguments.length;a++){
			ele=document.getElementById(arguments[a]);
			if(a==0){
				ele.style.borderColor="#253031";
				ele.classList.add("removehover");
			}
			else{
				ele.style.borderColor="#30c5ff";
			}
		}
		$.ajax({
			type:'POST',
			url:'/products/{{obj.slug}}/',
			data:{
				size_value : selected_size,
				color_value : selected_color,
				csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
			},
			cache:false,
			dataType: "json",
			success:function(data){
				console.log(data)
				var price = data.data
				var imgUrls = data.images
				var priceElem = document.getElementById('price_val').innerText=price
				var discount = document.getElementById('discount').innerText
				discount = parseInt(discount, 10);
				var res=(price * (100 - discount))/100;
				var hj=document.getElementById('offer_price').innerHTML="Rs. "+res.toString();
				var i;
				var mainImgDiv = document.getElementById("product-main-img");
				var thumbImgDiv = document.getElementById("product-imgs");
				if (defaultAbsent){
						defaultImg = mainImgDiv.innerHTML;
						defaultThumb = thumbImgDiv.innerHTML;
						defaultAbsent = false;
					}
				if (imgUrls.length > 0){
					console.log('Def');
					console.log(defaultImg);
					console.log(defaultThumb);
					mainImgDiv.innerHTML = "";
					thumbImgDiv.innerHTML = "";
					var mainInsert = "";
					var thumbInsert = "";
				}
				else{
					mainImgDiv.innerHTML = defaultImg;
					thumbImgDiv.innerHTML = defaultThumb;
				}
				
                for (i = 0; i < imgUrls.length; i++) {
                    tabIndex = ((i == 0) ? 0 : -1);
					zIndex = ((i == 0) ? 999 : 998);
					console.log(imgUrls[i])
					mainInsert = mainInsert + `<div class="product-preview zoom" opacity: 0;">
					<img src="`+ imgUrls[i] + `" onerror="this.src='{% static 'img/noimage.png' %}'" style="height:600px;" alt="">
					</div>`
					thumbInsert = thumbInsert + `<div class="product-preview thumbb-img">
					<img src="`+ imgUrls[i] + `" onerror="this.src='{% static 'img/noimage.png' %}'" style="height:100px;" alt="">
					</div>`
				}
				
				if (imgUrls.length > 0){
					mainImgDiv.innerHTML = mainInsert;
					thumbImgDiv.innerHTML = thumbInsert;
				}
			}
		});
	}
	function selectsize(){
		sizeselected=true;
		var a;
		var ele;
		var selected_size;
		console.log(arguments[0]);
		for(a=0;a<arguments.length;a++){
			ele=document.getElementById(arguments[a])
			if (a==0){
				ele.style.backgroundColor="#30c5ff";
				ele.style.borderColor="#30c5ff";
				ele.classList.add("removehover");
				selected_size = arguments[a]
			}
			else{
				ele.style.backgroundColor="white";
			}
		}
		$.ajax({
			type:'POST',
			url:'/products/{{obj.slug}}/',
			data:{
				sizes_ajax:arguments[0],
				csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
			},
			cache:false,
			dataType: "json",
			success:function(data){
				console.log(data)
				var ht=`<div class="container-fluid">
							<div class="row mt-2">
								<h6><b>SELECT COLOR</b></h6>
							</div>
							<div class="row">`;
				if (data.data){
                    var first_col = data.data[0];
					$.each(data.data,function(index,value){
						var hr=``;
						$.each(data.data,function(i,v){
							if(v!=value){
								hr=hr+`'`+v+`',`
							}
						});
						ht=ht+`<div class="col-1 centered fontcabin size" id="`+value+`" onclick="selectcolor('`+value+`',`+hr+`'`+selected_size+`',);" style="background:`+value+`;height:20px;">
						</div>`;
					});
					ht=ht+'</div></div>'
					$('#colors').html(ht);
				}
				var a=document.getElementById('colors');
				a.style.display="";
                document.getElementById(first_col).click();
			}
		});

	}

	function preselectSize(sizeId){
		console.log("Preselecting " + sizeId);
		document.getElementById(sizeId).click();
		// $('#'+sizeId).click();
	}

/*	function addtocart(){
		if (sizeselected){
			window.location="/cart/addtocart?slug={{obj.slug}}";
		}
		else{
			var fd=document.getElementById('tovib');
			fd.classList.add('vibrate');
			setTimeout(function(){
				fd.classList.remove('vibrate');
			},1000);
		}
	}
	function addtocart(){
		var action="add";
		var idstr="{{product_code}}";
		console.log(idstr);
		updateuserorder(idstr,action);
		var quant="quant"+"{{product_code}}";
		quantity=document.getElementById(quant);
		quantity.value=1;
	}*/

	function wishlist(){
		var idstr="{{product_code}}";
		var sdd=document.getElementById('wish');
		sdd.classList.add('visi');
		setTimeout(function(){
			sdd.classList.remove('visi');
		},1000);
		console.log(addwishlist(idstr));

	}
</script>

{% endblock %}


{% block content %}
<br>


<div class="wish" id="wish">
	<img src="{% static 'img/heart.gif' %}" onerror="this.src='{% static 'img/noimage.png' %}'">
	<!-- <img src="{% static 'img/heart1.gif' %}"> -->
</div>


{% csrf_token %}
<div class="row">
	<div class="container-fluid">
		<div class="row mt-2 ml-2" style="border-bottom: 1px solid grey;">
			<h6 style="color: grey; cursor: pointer;" class="fontcabin">{{ obj.product_Category.all|join:", "}}/ {{obj.product_Subcategory.first}} / {{obj.product_Supercategory.first}} / </h6><h6 class="fontcabin" style="cursor: pointer;"><b>{{obj.title}}</b></h6>
			{% if obj.seller.email == request.user.email %}
			<a href="/products/{{obj.slug}}/edit" class="hov-a" style="margin-left: auto;margin-right: 5vw">Edit Product</a>
			{% endif %}
		</div>
				<!-- SECTION -->
				<div class="section" style="margin-top: 10px;">
					<!-- container -->
					<div class="container-fluid">
						<!-- row -->
						<div class="row">
							<!-- Product main img -->
							<div class="col-md-4 col-md-push-2">
								<div id="product-main-img">
									<div class="product-preview zoom ">
										{% if obj.image1 %}
										<img id='image-primary' src="{{obj.image1.url}}" onerror="this.src='{% static 'img/noimage.png' %}'" style="height:600px;" alt="">
										{% endif %}

									</div>
										{% for i in images %}
										<div class="product-preview zoom item">
										{% if i.is_actual %}
										<span class="notify-badge">ACTUAL IMAGE</span>
										{% endif %}
										<img id='image-{{forloop.counter}}' src="{{i.image.url}}" onerror="this.src='{% static 'img/noimage.png' %}'" style="height:600px;" alt="">
										</div>
										{% endfor %}
									<!--<div class="product-preview zoom ">
										{%for i in images%}
										<img src="{{i.image.url}}" alt="">
										{%endfor%}
									</div>-->


									<!--
									<div class="product-preview zoom ">
										{% if obj.image2 %}
										<img src="{{obj.image2.url}}" alt="">
										{%endif%}
									</div>

									<div class="product-preview zoom">
										{% if obj.image3 %}
										<img src="{{obj.image3.url}}" alt="">
										{%endif%}
									</div>

									<div class="product-preview zoom">
										{% if obj.image4 %}
										<img src="{{obj.image4.url}}" alt="">
										{%endif%}
									</div>

									<div class="product-preview zoom">
										{% if obj.image5 %}
										<img src="{{obj.image5.url}}" alt="">
										{%endif%}
									</div>
								-->
								</div>
							</div>
							<!-- /Product main img -->

							<!-- Product thumb imgs -->
							<div class="col-md-1 thumb-img">
								<div id="product-imgs">
									<div class="product-preview thumbb-img">
										{% if obj.image1 %}
										<img src="{{obj.image1.url}}" onerror="this.src='{% static 'img/noimage.png' %}'" style="height:100px;" alt="">
										{%endif%}
									</div>
								{%for i in images%}
								<div class="product-preview thumbb-img">
										<img id='image-{{forloop.counter}}' src="{{i.image.url}}" onerror="this.src='{% static 'img/noimage.png' %}'" style="height:100px;" alt="">

									</div>
								{%endfor%}
								</div>
							</div>
							<!-- /Product thumb imgs -->

							<!-- Product details -->
							<div class="col-md-6 productdet">
								<div class="row fontcabin" id="name{{obj.product_code}}">
									<h2>{{obj.title}}</h2>

								</div>
								<div class="row fontcabin" style="border-bottom: 1px solid #c0bdba;">
									<h4 style="color: grey">{{obj.notes}}</h4>
								</div>
								<div class="row mt-2 fontcabin">
									<h4 id="offer_price" style="color: #27ae60;"></h4><h5 style="color: grey; text-decoration: line-through; margin-top: 5px; margin-left: 10px;" id="price{{obj.product_code}}">MRP. <span id='price_val'>{{obj.price}}</span></h5>
									
									{% if isAvailableForSubscription %}
										<h4 style="color: #30c5ff;">(<span id='discount'>{{obj.subscription_discount}}</span>% Off)</h4>
										<p class="fontcabin" style="color: grey">*</p>
										<script type="text/javascript">
											var	tet="{{obj.price}}";
											var tr="{{obj.subscription_discount}}";
											tet=parseInt(tet,10);
											tr=parseInt(tr,10);
											var res=(tet * (100 - tr))/100;
											console.log(res);
											var hj=document.getElementById('offer_price').innerHTML="Rs. "+res.toString();
										</script>
									{% else %}
										<!-- Discount and final price based on whether user is vendor or customer -->
										{% if is_user_vendor %}
										<h4 style="color: #30c5ff;">(<span id='discount'>{{obj.B2Boffer}}</span>% Off)</h4>
										<p class="fontcabin" style="color: grey">*</p>
										<script type="text/javascript">
											var	tet="{{obj.price}}";
											var tr="{{obj.B2Boffer}}";
											tet=parseInt(tet,10);
											tr=parseInt(tr,10);
											var res=(tet * (100 - tr))/100;
											console.log(res);
											var hj=document.getElementById('offer_price').innerHTML="Rs. "+res.toString();
										</script>
										
										
										{% else %}
										<h4 style="color: #30c5ff;">(<span id='discount'>{{obj.offer}}</span>% Off)</h4>
										<p class="fontcabin" style="color: grey">*</p>
										<script type="text/javascript">
											var	tet="{{obj.price}}";
											var tr="{{obj.offer}}";
											tet=parseInt(tet,10);
											tr=parseInt(tr,10);
											var res=(tet * (100 - tr))/100;

											console.log(res);
											var hj=document.getElementById('offer_price').innerHTML="Rs. "+res.toString();
										</script>
										{% endif %}
									{% endif %}
									{% if isAvailableForSubscription %}
									<div style="margin-top: 50px; display: flex;">
										<div style=" padding: 5px;">
											<input type="radio" id="buy_now" name="buy_option" value="buy" checked>
											<label for="buy_now"><h6>Buy now</h6></label><br>
										</div>
										<div style=" padding: 5px;">
											<input type="radio" id="subscribe_now" name="buy_option" value="subscribe">
											<label for="subscribe_now"><h6>Subscribe(<span id='discount'>{{discount}}</span>% discount)</h6></label><br>
										</div>
									</div>
									{% endif %}

								{% comment %} SUBSCRIBE BLOCK {% endcomment %}

								<div id="subscribe" class="container-fluid" style="display: none;">
									<form action='{% url 'cart' %}' method='GET'>
											 {% comment %} QUANTITY {% endcomment %}
											<div class="form-group row" style="width: 600px;">
												<label for="quantity" class="col-sm-2 col-form-label">Quantity</label>
												{% if unit_of_measurement == 'K' %}
													<div class="col-sm-8">
														<input type="number" min="0.25" step="0.25" name="quantity" value="{{quantity}}" class="form-control" >
													</div>
													<h6>Kg(s)</h6>
												{% elif unit_of_measurement == 'L' %}
													<div class="col-sm-4">
														<input type="number" min="0.5" step="0.5" name="quantity" value="{{quantity}}" class="form-control" >
													</div>
													<h6>litre(s)</h6>
												{% else %}
													<div class="col-sm-4">
														<input type="number" min="1" name="quantity" value="{{quantity}}" class="form-control" >
													</div>
													<h6>Piece(s)</h6>
												{% endif %}
											</div>
											 {% comment %} AMOUNT {% endcomment %}
											<div class="form-group row" style="width: 500px;">
												<div class="form-group-row">
													<div class="col-sm-12">
														<h6> Price = Rs.<span id="amount">{{amount}}</span></h6>
													</div>
													<input type="number" step="0.25" name="amount" value="{{amount}}" style="display: none;">
												</div>
											</div>
											<input type="number" name="base_price" value="{{base_price}}" style="display: none;">
											{% comment %} START DATE {% endcomment %}
                                            <div class="form-row" style="width: 500px;">
												<label for="date" class="col-sm-2 col-form-label">Start Date</label>
												<div class="col-sm-8">
													<input type="date" name="start_date" class="form-control"  min="{{min_start_date|date:"Y-m-d"}}">
												</div>
                                            </div>
											 {% comment %} END DATE {% endcomment %}
											<div class="form-row" style="width: 500px;">
												<label for="date" class="col-sm-2 col-form-label">End Date</label>
												<div class="col-sm-8">
													<input type="date" name="end_date" class="form-control" >
												</div>
                                            </div>
											 {% comment %} FREQUENCY {% endcomment %}
											<div class="form-group row" style="width: 500px;">
												<label for="interval" class="col-sm-2 col-form-label">Frequency</label>
												<div class="col-sm-4">
													<input type="number" min="1" name="interval" class="form-control" >
												</div>
												<br>
												<div>
													<strong>Note:</strong> <span>frequency=2 means you will get delivery every 2 days. So for weekly delivery enter 7 which means you will recieve delivery every 7 days.</span>
												</div>
											</div>
											 {% comment %} TIME {% endcomment %}
											<div class="form-row" style="width: 500px;">
												<label for="shift" class="col-sm-2 col-form-label">Time for delivery: </label>
												<div class="col-sm-4">
													<select id="shift" class="form-control" name="shift">
														<option value='M'> Morning </option>
														<option value='A'> Afternoon </option>
														<option value='E'> Evening </option>
													</select>
												</div>
											</div>
											 {% comment %} REMARK {% endcomment %}
											<div class="form-row" style="width: 500px;">
												<label for="remark" class="col-sm-2 col-form-label">Remarks</label>
												<div class="col-sm-8">
													<input type="text" min="1" name="remark" class="form-control" >
												</div>
                                            </div>
											 {% comment %} AJAXIFY {% endcomment %}
											<div id="finalSubscription" style="display: none;">
												<h4> Shipping address </h4>
												<div class="row">
												<label for="name">Full name</label>
													<div class="col-sm-6">
														<input type="text" class="form-control" placeholder="name" name="fullname" value="{{full_name}}" readonly>
													</div>
													
												</div>
												<br>    
												<div class="row">
												<label for="address">Address</label>
													<div class="col-sm-6">
														<input type="text" class="form-control" placeholder="Address" name="address" value="{{address}}" readonly>
													</div>
												</div>
											</div>
												<br>
                                                <input type='text' value={{obj.slug}} name="slug" style="display: none" />
												<a class="btn btn-primary" id="proceedToPayFinal" style="display: none;" href="{% url 'cart' %}" role="button">Proceed to pay</a>
                                        </form>
											<input type="text" value="" name="transaction_id" style="display: none">
										<br>
											<button id="subscribe_cart" class="btn btn-primary btn-action" data-target="#exampleModalCenter"> Add to subscribe cart </button>
								
										<div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLongTitle">Subscription</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
														</button>
													</div>
														<div class="modal-body">
															
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
														</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							{% if is_user_vendor %}
								<div class="row">
								<div class="col-3">
								<h4>{{obj.get_moq1_price}}</h4>
								<small>{{obj.Moq_range1.lower}} - {{obj.Moq_range1.upper}} Pieces</small>
								</div>
								<div class="col-3">
								<h4>{{obj.get_moq2_price}}</h4>
								<small>{{obj.Moq_range2.lower}} - {{obj.Moq_range2.upper}} Pieces</small>
								</div>
								<div class="col-3">
								<h4>{{obj.get_moq3_price}}</h4>
								<small>{{obj.Moq_range3.lower}} - {{obj.Moq_range3.upper}} Pieces</small>
								</div>
								</div>
							{% endif %}
							<div class="row mt-1 mb-1">
								<div class="">
									<span class="fa fa-star" style="color: orange;"></span> {% if obj.product_stars >= 2 %}
									<span class="fa fa-star" style="color: orange;"></span> {% else %}
									<span class="fa fa-star"></span> {% endif %} {% if obj.product_stars >= 3 %}
									<span class="fa fa-star" style="color: orange;"></span> {% else %}
									<span class="fa fa-star"></span> {% endif %} {% if obj.product_stars >= 4 %}
									<span class="fa fa-star" style="color: orange;"></span> {% else %}
									<span class="fa fa-star"></span> {% endif %} {% if obj.product_stars == 5 %}
									<span class="fa fa-star" style="color: orange;"></span> {% else %}
									<span class="fa fa-star"></span> {% endif %}
									{% if obj.product_total_reviews > 1 %}
									<a class="user_review" href="#new">   {{ obj.product_total_reviews }} Ratings</a>
									{% else %}
									<a class="user_review" href="#new">   {{ obj.product_total_reviews }} Rating</a>
									{% endif %}
								</div>	
							</div>	
							{% if is_user_vendor %}
								<div id="buy">
									<table>
										<thead>
											<th>Size</th>
											<th>Color</th>
											<th>Qty.</th>
										</thead>
										<tbody>
											{% for i in sizes %}
											<tr>
												<td>{{i.size}}</td>
												<td>
												<div class="col-3 centered fontcabin size removehover" id="#ffe11f" style="background: {{i.color}}; height: 20px; border-color: black;"></div>
												</td>
												<td>
													<div class="row mt-3">
														<div class="col-sm-1">
															<button style="border-radius: 20px; background-color: deepskyblue; font-weight: bold;"  onclick="decreaseQuant2('{{i.linked_product}}','{{i.size}}','{{i.color}}');" id="{{i.size}}-{{i.color}}">-</button>
														</div>
														<div class="col-sm-1" style="text-align:center;">
															<input type="number" name="b2b-qty" id="quantity-{{i.linked_product}}-{{i.size}}-{{i.color}}" value=0 oninput="putQuant2('{{i.linked_product}}','{{i.size}}','{{i.color}}');" onchange="getTotalQty()" style="text-align:center; width : 35px;">
														</div>
														<div class="col-sm-1">
														
															<button style="border-radius: 20px; background-color: deepskyblue; font-weight: bold;"  onclick="increaseQuant2('{{i.linked_product}}','{{i.size}}','{{i.color}}');" id="{{i.size}}-{{i.color}}">+</button>
														</div>
													</div>
												</td>
											</tr>
											{%endfor%}
											<tr>
												<td colspan="2"></td>
												<td>
													Total Qty.= <input type="number" readonly disabled id="quantity" value=0 class="col-2">
												</td>
											</tr>
										</tbody>
									</table>
									<div class="row mt-3">
										<div class="col-6 ml-auto mr-auto" name="before" id="before">
											<!-- <button class="addtocart" id="{{obj.product_code}}" name="{{obj.product_code}}" data-action="add"  onclick="updatecart(3,{{obj.product_code}})">Add to cart</button> -->
											<button class="addtocart" id="{{obj.product_code}}" name="{{obj.product_code}}" data-action="add"  onclick="addToB2BCart('{{obj.slug}}');">Add to cart</button>
										</div>
										<div class="col-6 ml-auto mr-auto row" id="after" name="after" hidden="true">
	
											<button style="width: 150px;background-color:white;border-color:#F08080;color: black;"  id="delete{{obj.product_code}}" data-action="delete" onclick="updatecart(2,{{obj.product_code}})"  class="btn-sm btn-dark cart"><b>Remove</b></button>
	
											<div style="margin-left: 10px;font-size: 15px;width: 150px;" >
	
											<div style="margin-left: 10px;border-color: gray;border-width: 0.3px;border-style: solid;height: 50px;" >
									 <img data-product="{{obj.product_code}}" data-action="add" id="add{{obj.product_code}}" class="chg-quantity cart" onclick="updatecart(0,{{obj.product_code}})" style="display: inline; width: 30px;height: 30px;" alt="up"   src="https://img.icons8.com/ios/50/000000/plus.png"/>
										<b>QTY:</b>
										<input type="text" class="quantity" id="quant{{obj.product_code}}" name="quant{{obj.product_code}}" style="width: 30px;display: inline;height: 40px;font-size: 20px;margin-top: 3px;" disabled="true">
										<img data-product="{{obj.product_code}}" data-action="remove" id="remove{{obj.product_code}}" class="chg-quantity updatethecart" onclick="updatecart(1,{{obj.product_code}})" style="display: inline;width: 30px;height: 30px;" alt="down" src="https://img.icons8.com/pastel-glyph/100/000000/minus.png"/>
										</div>
	
										</div>
										</div>
	
										{%if wishlist == "true" %}
										<div class="col-6 ml-auto mr-auto">
											<button class="wishlist" style="width: 100px;" onclick="wishlist();" disabled="true">Wishlisted</button>
										</div>
										{% else %}
										<div class="col-6 ml-auto mr-auto" >
											<button class="wishlist" onclick="wishlist();">Wishlist</button>
										</div>
										{%endif%}
									</div>
								</div>
							{% else %}
								{% if sizes %}
							<div id="buy">	
								<div class="row mt-2">
									<h6><b>SELECT VARIATION</b></h6>
								</div>
								<div class="row mt-2" id="tovib">
									{% for i in sizes %}
										<div  style="width: 100px;" class="col-2 centered fontcabin size" id="{{i.size}}" onclick="selectsize('{{i.size}}',{% for j in sizes %}{% if j.size == i.size %}{% else %}'{{j.size}}',{% endif %}{% endfor %});">
										{{i.size}}
										</div>
									{% endfor %}
								</div>
								{% endif %}
								<div class="row colors" id="colors" style="display: none;">
									<div class="container-fluid">
										<div class="row mt-2">
											<h6><b>SELECT COLOR</b></h6>
										</div>

									</div>
								</div>
								<!-- CURRWORK -->
								<div class="row mt-3">
									<div class="col-sm-1">
										<button style="border-radius: 20px; background-color: deepskyblue; font-weight: bold;" onclick="decreaseQuant();">-</button>
									</div>
									<div class="col-sm-1" style="text-align:center;">
										<input type="number" id="quantity" value=1  style="text-align:center; width : 35px;">
									</div>
									<div class="col-sm-1">
										<button style="border-radius: 20px; background-color: deepskyblue; font-weight: bold;" onclick="increaseQuant();">+</button>
									</div>
									<!-- <button style="border-radius: 20px; background-color: deepskyblue; font-weight: bold;">-</button>
									<br><br>
									<input type="text" id="quantity" size="3"><br><br>
									<button style="border-radius: 20px; background-color: deepskyblue; font-weight: bold;">+</button>
									 -->
								</div>
								<div class="row mt-3">
									<div class="col-6 ml-auto mr-auto" name="before" id="before">
										<!-- <button class="addtocart" id="{{obj.product_code}}" name="{{obj.product_code}}" data-action="add"  onclick="updatecart(3,{{obj.product_code}})">Add to cart</button> -->
										<button class="addtocart" id="{{obj.product_code}}" name="{{obj.product_code}}" data-action="add"  onclick="addToCart('{{obj.slug}}');">Add to cart</button>
									</div>
									<div class="col-6 ml-auto mr-auto row" id="after" name="after" hidden="true">

										<button style="width: 150px;background-color:white;border-color:#F08080;color: black;"  id="delete{{obj.product_code}}" data-action="delete" onclick="updatecart(2,{{obj.product_code}})"  class="btn-sm btn-dark cart"><b>Remove</b></button>

										<div style="margin-left: 10px;font-size: 15px;width: 150px;" >

										<div style="margin-left: 10px;border-color: gray;border-width: 0.3px;border-style: solid;height: 50px;" >
								 <img data-product="{{obj.product_code}}" data-action="add" id="add{{obj.product_code}}" class="chg-quantity cart" onclick="updatecart(0,{{obj.product_code}})" style="display: inline; width: 30px;height: 30px;" alt="up"   src="https://img.icons8.com/ios/50/000000/plus.png"/>
									<b>QTY:</b>
									<input type="text" class="quantity" id="quant{{obj.product_code}}" name="quant{{obj.product_code}}" style="width: 30px;display: inline;height: 40px;font-size: 20px;margin-top: 3px;" disabled="true">
									<img data-product="{{obj.product_code}}" data-action="remove" id="remove{{obj.product_code}}" class="chg-quantity updatethecart" onclick="updatecart(1,{{obj.product_code}})" style="display: inline;width: 30px;height: 30px;" alt="down" src="https://img.icons8.com/pastel-glyph/100/000000/minus.png"/>
									</div>

									</div>
									</div>

									{%if wishlist == "true" %}
									<div class="col-6 ml-auto mr-auto">
										<button class="wishlist" style="width: 100px;" onclick="wishlist();" disabled="true">Wishlisted</button>
									</div>
									{% else %}
									<div class="col-6 ml-auto mr-auto" >
										<button class="wishlist" onclick="wishlist();">Wishlist</button>
									</div>
									{%endif%}
								</div>

							</div>	
							{% endif %}
				

								<div class="row mt-3">
									<h6><b>BEST OFFERS</b></h6>
								</div>
								<div class="container-fluid" style="border-bottom: 1px solid #c0bdba;">
								{% for o in obj.bestoffers.all %}
								<a href="/products/offers/{{o.slug}}" class="hov-a"><div class="container-fluid my-3" style="box-shadow: 0 0 3px solid black; cursor: pointer;">
									<div class="row">
										<h6><b>{{o.title}}</b></h6>
									</div>
									<div class="row">
										<h6>{{o.note}}</h6>
									</div>
								</div></a>
								{% endfor %}
								</div>
								{% if attributes %}
								<div class="row mt-4">
									<h6><b>Product Attributes</b></h6>
								</div>
								<div class="row">
									<div class="col-6">
										{% for attr in attributes %}
										<div class="row">
											<p style="color: grey; margin-bottom: 0;"><b>{{ attr.0 }}</b> : {{attr.1 }}</p>
										</div>
										{% endfor %}
									</div>
								</div>
								{% endif %}
								<div class="row mt-4">
									<h6><b>Product Description</b></h6>
								</div>
								<div class="row mt-2" id="final_description">
									{{obj.description|safe}}
								</div>
								<div class=" sec_img" style="margin-left: 5px; text-align:center;">
									{% qr_from_text 'http://retail.justgetit.in/products/'|add:obj.slug %}
									{{ obj.product_code }}
								</div>
							</div>
							<!-- /Product details -->


						</div>
						<!-- /row -->
					</div>
					<!-- /container -->
				</div>
		<!-- UserReview -->
		<div id="new" class="row">
			<div class="col-3">
					{% if other_sellers %}
					<div class="card">
						<h5 class="card-header">Other Sellers</h5>
						<div class="overflow-auto" style="height: 200px;">
							{% for product in other_sellers %}
							<div class="card-body">
							<h6 class="card-title">Rs. {{product.price}} <a href="/products/{{product.slug}}" class="btn btn-primary" style="float: right;">View</a></h6>
							<p class="card-text">Sold By: <strong>{{product.seller}}</strong></p>
							</div>
							{% endfor %}
						</div>
					</div>
					{% endif %}
			</div>
			<div class="col-2">

			</div>
			<div class="col-6">
				<p style="font-size: large;"><span style="font-size: x-large;"><strong>Ratings and Reviews </strong></span><kbd style="color: black; background-color: yellow; font-size: medium;"><strong>{{ obj.product_stars }}★</kbd></strong> based on {{ obj.product_total_reviews }} Reviews</p>
				{% if not old_review %}
				<button type="button" class="btn btn-primary" onclick="addReview('new');"><small>Add Review</small></button>
				{% endif %}
			</div>
		</div>
		{% if old_review %}
		<div class="row" id="old">
			<div class="col-5"></div>
			<div class="col-6">
				<hr/>
				<p><kbd style="color: black; background-color: yellow; font-size: medium;"><strong>{{ old_review.stars }}★</kbd></strong> {{ old_review.description }}</p>
				{% if old_review.review_image %}
				<div class="product-preview zoom">
					<img width="120" height="120" style="height: auto; padding: 10px; display:block; margin: 0px;" src="{{ old_review.review_image.url }}">
				</div>
				{% endif %}
				<p>by <strong>{{ old_review.user.email }}</strong> on {{ old_review.posted_on }}</p>
				<button type="button" class="btn btn-link" onclick="addReview('old');"><small>Edit</small></button>
			</div>
		</div>
		{% endif %}
		{% if all_reviews %}
		{% for review in all_reviews %}
		{% if forloop.counter == 3 %}
		<div class="row">
			<div class="col-5"></div>
			<div class="col-6">
				<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo">All Reviews</button>
			</div>
		</div>
		  <div id="demo" class="collapse">
		{% endif %}
		<div class="row">
			<div class="col-5"></div>
			<div class="col-6">
				<hr/>
				<p><kbd style="color: black; background-color: yellow; font-size: medium;"><strong>{{ review.stars }}★</kbd></strong> {{ review.description }}</p>
				{% if review.review_image %}
				<div class="product-preview zoom">
					<img width="120" height="120" style="height: auto; padding: 10px; display:block; margin: 0px;" src="{{ review.review_image.url }}">
				</div>
				{% endif %}
				<p>by <strong>{{ review.user.email }}</strong> on {{ review.posted_on }}</p>
				</div>
		</div>
		{% if forloop.last %}
		</div>
		{% endif %}
		{% endfor %}
		{% endif %}

	<!-- /UserReview-->
	<!-- /SECTION -->
		<div class="row mt-4 mb-4 ml-2">
			<h5><b>Similiar Products</b></h5>
		</div>
		<div class="row">
			{% for ob in similiar %}
			<div class="col-6 col-xs-6 col-sm-4 col-md-2 col-lg-2 product_card">

				<div class="container-fluid">
					<div class="row">
						<div class="product_image">
							{% if ob.image1 %}
							<a href="/products/{{ob.slug}}"><img style="height: auto;" src="/media/{{ob.image1}}" onerror="this.src='{% static 'img/noimage.png' %}'" id="{{ob.slug}}" onclick="detailpage();"></a>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="row">
					<h6 class="ml-4 mt-2 fontcabin"><b>{{ob.title}}</b></h6><br><br>

				</div>
				<div class="row">
					<h6 class="ml-4 fontcabin" style="color: grey">Price: <b>{{ob.price}}</b></h6>
				</div>
			</div>
			{% endfor %}
		</div>


		{% if recent.0 %}
		<div class="row mt-4 mb-4 ml-2">
			<h5><b>Recently Viewed Products</b></h5>
		</div>
		<div class="row">
			{% for ob in recent %}
			<div class="col-6 col-xs-6 col-sm-4 col-md-2 col-lg-2 product_card">

				<div class="container-fluid">
					<div class="row">
						<div class="product_image">
						{% if ib.prod.image1 %}
							<a href="/products/{{ob.prod.slug}}"><img  style="height: auto;" src="/media/{{ob.prod.image1}}" onerror="this.src='{% static 'img/noimage.png' %}'" id="{{ob.prod.slug}}" onclick="detailpage();"></a>
						{% endif %}
						</div>
					</div>
				</div>
				<div class="row">
					<h6 class="ml-4 mt-2 fontcabin"><b>{{ob.prod.title}}</b></h6><br><br>

				</div>
				<div class="row">
					<h6 class="ml-4 fontcabin" style="color: grey">Price: <b>{{ob.prod.price}}</b></h6>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endif %}


		{% if tred.0 %}
		<div class="row mt-4 mb-4 ml-2">
			<h5><b>Trending Products</b></h5>
		</div>
		<div class="row">
			{% for ob in tred %}
			<div class="col-6 col-xs-6 col-sm-4 col-md-2 col-lg-2 product_card">

				<div class="container-fluid">
					<div class="row">
						<div class="product_image">
						{% if ob.image1 %}
							<a href="/products/{{ob.slug}}"><img  style="height: auto;" src="{{ob.image1.url}}" onerror="this.src='{% static 'img/noimage.png' %}'" id="{{ob.slug}}" onclick="detailpage();"></a>
						{% endif %}
						</div>
					</div>
				</div>
				<div class="row">
					<h6 class="ml-4 mt-2 fontcabin"><b>{{ob.title}}</b></h6><br><br>

				</div>
				<div class="row">
					<h6 class="ml-4 fontcabin" style="color: grey">Price: <b>{{ob.price}}</b></h6>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endif %}
	</div>
</div>
 <!-- NEW CART JAVASCRIPT -->
<script type="text/javascript" src="{% static 'js/cartnew/cartnew.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap-markdown/js/bootstrap-markdown.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap-markdown/locale/bootstrap-markdown.fr.js' %}"></script>
<script src="{% static 'css/products/jquery.min.js'%}"></script>
<!-- <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script> -->
<script src="{% static 'css/products/slick.min.js' %}"></script>
<script src="{% static 'css/products/nouislider.min.js'%}"></script>
<script src="{% static 'css/products/main.js'%}"></script>

<script src="{% static 'css/products/jquery.zoom.min.js' %}"></script>

<script type="text/javascript">

	$('#final_description').html("`{{obj.description}}`");
</script>

 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.10.13/dist/sweetalert2.all.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script data-require="bootstrap@3.1.1" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script data-require="marked@*" data-semver="0.3.1" src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.1/marked.js"></script>
<script type="text/javascript" src="{% static 'js/products/upload_product.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script type="text/javascript">

		function added(id){
		console.log(id);
		var pressed=id.toString();
		localStorage.setItem("pressed_pro", pressed);
		localStorage.setItem("flag_pro","1");
		var x="quantity";
		var quan=document.getElementsByClassName(x);
		console.log(quan[0]);
		var flag=localStorage.getItem("flag_pro");
		quan[0].value=flag;
	//	localStorage.removeItem("flag");
		//console.log(quan.value);
		//alert('done');

Swal.fire({
  position: 'top-end',

  html: '<b>Item has been added to your cart!</b><br>',
  showConfirmButton: false,
  width: '400px',
  timer: 3500
});

	}



	function removepro(){
		localStorage.setItem("flag_pro","0");
		location.reload();
	}

	var pressed = localStorage.getItem("pressed_pro");
	var flag=localStorage.getItem("flag_pro");
	if (pressed!=null && flag!=0 && pressed=="{{product_code}}"){
		console.log('called');
		strid="before";
		x=document.getElementById(strid);
		//console.log(x);
		x.hidden=true;
		newid="after";
		y=document.getElementById(newid);
		y.hidden=false;
	}
	if(flag!=null){
		//console.log('in flag');
		var x="quant"+pressed.toString();
		var quan=document.getElementById(x);
		var flag=localStorage.getItem("flag_pro");
		quan.value=flag;
		//localStorage.removeItem("flag_pro");
		//console.log(quan);
	}

	if (flag=="0"){
				strid="before";
				x=document.getElementById(strid);
				x.hidden=false;
				newid="after";
				y=document.getElementById(newid);
				y.hidden=true;
			}


	function updatecart(act,idstr){
		console.log(idstr.id);
		idstr=idstr.id;
		var action;
	if (act==0){
		ids="add"+idstr;
		var flag=localStorage.getItem("flag_pro");
        	var str=Number(flag)+1;
        	localStorage.setItem("flag_pro", str.toString());
        	action="add"

	}
	if (act==1){
		ids="remove"+idstr;
			var flag=localStorage.getItem("flag_pro");
        	if(flag>0){
        	var rem=Number(flag)-1;
        	localStorage.setItem("flag_pro", rem.toString());
        	action="remove"
	}
	}
	if (act==2){
		ids="delete"+idstr;
			//var flag=localStorage.getItem("flag");
        	localStorage.setItem("flag_pro", "0");
        	action="delete"
	}
	if (act==3){
		ids="add"+idstr;
		var flag=localStorage.getItem("flag_pro");
        	var str=Number(flag)+1;
        	localStorage.setItem("flag_pro", str.toString());
        	added(idstr);
        	action="add"
	}
	//var x=document.getElementById(ids);
    //var action=x.dataset.action;
        if (user=='AnonymousUser'){
            console.log("user:",user);
             if (cart[idstr] != undefined){
                cart[idstr][0]+=1;                                 // if cart has item then +1

             }
            else {
                qty = document.getElementById('quantity'+idstr).innerHTML;
                name = document.getElementById('name'+idstr).innerHTML;          //namepr1 id given to card title
                price = document.getElementById('price'+idstr).innerHTML;
                cart[idstr]=[qty, name, parseInt(price.slice(3, ))];

            }
            updateCart(cart);

        }
        else{
            updateuserorder(idstr,action);
        }


        }
</script>

{% comment %} /***************************************
					START DATE
***************************************/ {% endcomment %}
<script>
	$("input[name=start_date]").change(function(e) {
		e.preventDefault();
		start_date = $(this).val();
		end_date = new Date(start_date);
		end_date.setDate(end_date.getDate() + 10);
		month = String(end_date.getMonth() + 1);
		day = String(end_date.getDate());
		year = String(end_date.getFullYear());

		if(month.length < 2)
			month = '0' + month;
		if(day.length < 2)
			day = '0' + day;

		end_date = [year, month, day].join('-')
		$("input[name=end_date]").attr("min", end_date);
	})
</script>

{% comment %} /*******************************
		PRICE
*******************************/ {% endcomment %}
<script>
	var base_price = $("input[name=base_price]").val()
	$("input[name=quantity]").change(function(e) {
		var quantity = $("input[name=quantity]").val();
		var price = quantity*base_price;
		$("#amount").text(price);
		$("input[name=amount]").val(price);
	})
</script>

{% comment %} /************************************************
				SUBSCRIPTION HANDLING
	************************************************/ {% endcomment %}
<script>
	$('#buy_now').click(function() {
		$("#subscribe").css("display", "none");
		$("#buy").css("display", "block");
	});

	$('#subscribe_now').click(function() {
		$('#subscribe').css("display", "block");
		$("#buy").css("display", "none");
	});
</script>
{% comment %} /******************************
		SUBSCRIPTION CART
******************************/ {% endcomment %}
<script>
	$("#subscribe_cart").click(function(e) {
		e.preventDefault();
		console.log('Clicked');
		var quantity = $("input[name=quantity]").val();
		var amount = $("input[name=amount]").val();
		var start_date = $("input[name=start_date]").val();
		var end_date = $("input[name=end_date]").val();
		var interval = $("input[name=interval]").val();
		var shift = $("#shift").val();
		var remark = $("input[name=remark]").val();
		var slug = $("input[name=slug]").val();
		console.log(quantity);
		if(quantity == "" || amount == "" || start_date == "" || end_date == "" || interval == "" || shift == "") {
			alert("Please fill the form");
		} else {
		$.ajax({
			url: "{% url 'subscriptionCart' %}",
			data: {
				'quantity': quantity,
				'amount': amount,
				'start_date': start_date,
				'end_date': end_date,
				'interval': interval,
				'shift': shift,
				'remark': remark,
				'slug': slug
			},
			success: function(data) {
				console.log(data);
				$("input[name=transaction_id").val(data.transaction_id);
				jQuery.noConflict();
				$(".modal-body").html(
					"<h5> Product: " + data.product_name + "</h5>" +
					"<h5> Quantity: " + data.quantity + "</h5>" +
					"<h5> Amount: " + data.amount + "</h5>" +
					"<h5> Frequency: " + data.interval + "</h5>" +
					"<h5> start date: " + data.start_date + " end date: " + data.end_date + "</h5>" +
					"<h5> Delivery time: " + data.shifts + "</h5>" +
					"<input type='number' value='" + data.quantity +"' name='quantity' style='display: none;'>"
				);
				$("#exampleModalCenter").modal("show");
				$("#subscribe_cart").css("display", "none");
				$("#proceedToPayFinal").css("display", "block");
				
			}
		});
		}
	});
	// Clicking "Proceed to Pay" on modal
	/*$("#proceedToPaySubscription").click(function(e) {
		e.preventDefault();
		jQuery.noConflict();
		$("#exampleModalCenter").modal('hide');
		var quantity = $("input[name=quantity]").val();
		var start_date = $("input[name=start_date]").val();
		var end_date = $("input[name=end_date]").val();
		var interval = $("input[name=interval]").val();
		var shift = $("#shift").val();
		var remark = $("input[name=remark]").val();
		var slug = $("input[name=slug]").val();
		var transaction_id = $("input[name=transaction_id]").val()

		$.ajax({
			url: ,
			data: {
				'quantity': quantity,
				'start_date': start_date,
				'end_date': end_date,
				'interval': interval,
				'shift': shift,
				'remark': remark,
				'slug': slug,
				'src': 'SUBSCRIBE_CART',
				'transaction_id': transaction_id
			},
			success: function(data) {
				$("#finalSubscription").css("display","block");
				$("input[name=fullname]").val(data.full_name);
				$("input[name=address]").val(data.address);

				$("#subscribeBtn").css("display", "none");
				$("#subscribe_cart").css("display", "none");
				$("#proceedToPayFinal").css("display", "block");
			}
		});
	})*/
</script>
{% comment %} /*******************************
				SUBSCRIPTION BUY
*******************************/ {% endcomment %}
<script>
	/*$("#subscribeBtn").click(function(e) {
		e.preventDefault();
		var quantity = $("input[name=quantity]").val();
		var start_date = $("input[name=start_date]").val();
		var end_date = $("input[name=end_date]").val();
		var interval = $("input[name=interval]").val();
		var shift = $("#shift").val();
		var remark = $("input[name=remark]").val();
		var slug = $("input[name=slug]").val();
		$.ajax({
			url: ,
			data: {
				'quantity': quantity,
				'start_date': start_date,
				'end_date': end_date,
				'interval': interval,
				'shift': shift,
				'remark': remark,
				'slug': slug
			},
			success: function(data) {
				$("#finalSubscription").css("display","block");
				$("input[name=fullname]").val(data.full_name);
				$("input[name=address]").val(data.address);

				$("#subscribeBtn").css("display", "none");
				$("#subscribe_cart").css("display", "none");
				$("#proceedToPayFinal").css("display", "block");
			}
		})
	})*/
</script>
<script>
	// ADD NEW REVIEW
function addReview(id) {
  console.log('The function has fired')
  if (document.contains(document.getElementById('newForm'))) {
  document.getElementById('newForm').remove();
  }
  var a = document.getElementById(id);
  a.insertAdjacentHTML('afterend',
  "<div class='row' id='newForm'> \
    <div class='col-5'></div> \
    <div class='col-6'> \
      <div class='card my-4'> \
        <h5 class='card-header'>Leave a Review:</h5> \
        <div class='card-body'> \
          <form method='POST' enctype='multipart/form-data'> \
            {% csrf_token %} \
            <div class='form-group'> \
			  <fieldset style='float: left'> \
				{% if old_review.stars == 5 %} \
                <input class='star star-5' id='star-5' type='radio' name='star' value='5' checked='checked'/> \
				<label class='star star-5' for='star-5'></label> \
				{% else %} \
				<input class='star star-5' id='star-5' type='radio' name='star' value='5'/> \
				<label class='star star-5' for='star-5'></label> \
				{% endif %} \
				{% if old_review.stars == 4 %} \
                <input class='star star-4' id='star-4' type='radio' name='star' value='4' checked='checked'/> \
                <label class='star star-4' for='star-4'></label> \
				{% else %} \
				<input class='star star-4' id='star-4' type='radio' name='star' value='4'/> \
                <label class='star star-4' for='star-4'></label> \
				{% endif %} \
				{% if old_review.stars == 3 %} \
                <input class='star star-3' id='star-3' type='radio' name='star' value='3' checked='checked'/> \
                <label class='star star-3' for='star-3'></label> \
				{% else %} \
				<input class='star star-3' id='star-3' type='radio' name='star' value='3'/> \
                <label class='star star-3' for='star-3'></label> \
				{% endif %} \
				{% if old_review.stars == 2 %} \
                <input class='star star-2' id='star-2' type='radio' name='star' value='2' checked='checked'/> \
                <label class='star star-2' for='star-2'></label> \
				{% else %} \
				<input class='star star-2' id='star-2' type='radio' name='star' value='2'/> \
                <label class='star star-2' for='star-2'></label> \
				{% endif %} \
				{% if old_review.stars == 1 %} \
                <input class='star star-1' id='star-1' type='radio' name='star' value='1' checked='checked'/> \
                <label class='star star-1' for='star-1'></label> \
				{% else %} \
				<input class='star star-1' id='star-1' type='radio' name='star' value='1'/> \
                <label class='star star-1' for='star-1'></label> \
				{% endif %} \
                </fieldset> \
              <textarea name='review_description' class='form-control' rows='3'>{{ old_review.description }}</textarea> \
              <br/> \
              <h6>Upload image:</h6> \
              <input type='file' id='myfile' name='review_image'> \
            </div> \
            {%if user.is_authenticated %} \
            <button type='submit' class='btn btn-primary'>Submit</button> {% else %} \
            <button type='submit' class='btn btn-primary' disabled='disabled'>Submit</button> \
            <a style='color: red' href={% url 'login_page'  %}?next={{request.path}}> Please log in to review!</a> \
            {% endif %} \
          </form> \
        </div> \
      </div> \
    </div> \
  </div>");
  document.getElementById('old').remove();
}
</script>
{% if sizes.0 %}
<script>
	preselectSize('{{sizes.0}}');
</script>
{% endif %}
<script>
	getCartItems(function(d) {
        console.log("GETTING CART ITEMS! total_cart_items");
		console.log("Cart Items: " + d);
        $('#total_cart_items').text(d);
    });
</script>
{% endblock %}

