<br>
<br>

<div class="container-fluid">
	<div class="row">
		<div class="col py-2 centered pro_head" style="font-weight: bold;font-family: 'Cabin', sans-serif; color: white;background: #30c5ff;">
			<a href="/userdetail/seller_profile/" class="hov-a" style="color: white;">Profile & Settings</a>
		</div>
		<div class="col py-2 centered noti_head" style="font-weight: bold;font-family: 'Cabin', sans-serif; color: white;background: #30c5ff;">
			<a href="/userdetail/seller_profile/notifications" class="hov-a" style="color: white;">Notifications</a>
		</div>
		<div class="col py-2 centered b2b_head" style="font-weight: bold;font-family: 'Cabin', sans-serif; color: white;background: #30c5ff;" >
			<a href="/userdetail/seller_profile/b2b_customer" class="hov-a" style="color: white;">B2B Customers</a>
		</div>
		<div class="col py-2 centered vend_head" style="font-weight: bold;font-family: 'Cabin', sans-serif; color: white;background: #30c5ff;" >
			<a href="/userdetail/seller_profile/vendors" class="hov-a" style="color: white;">Vendors</a>
		</div>
		<div class="col py-2 centered vend_head" style="font-weight: bold;font-family: 'Cabin', sans-serif; color: white;background: #30c5ff;" >
			<a href="/userdetail/staff_profile/message" class="hov-a" style="color: white;">Messages</a>
		</div>
		<div class="col py-2 centered vend_head" style="font-weight: bold;font-family: 'Cabin', sans-serif; color: white;background: #30c5ff;" >
			<a href="/userdetail/seller_profile/products" class="hov-a" style="color: white;">Products</a>
		</div>
		<div class="col py-2 centered vend_head" style="font-weight: bold;font-family: 'Cabin', sans-serif; color: white;background: #30c5ff;" >
			<a href="/userdetail/seller_profile/store" class="hov-a" style="color: white;">Store</a>
		</div>
		<div class="col py-2 centered vend_head"
			style="font-weight: bold;font-family: 'Cabin', sans-serif; color: white;background: #30c5ff;">
			<a href="/daily_report/generate" class="hov-a" style="color: white;">Generate Link For Form</a>
		</div>
		<div class="col py-2 centered vend_head"
			style="font-weight: bold;font-family: 'Cabin', sans-serif; color: white;background: #30c5ff;">
			<a href="/daily_report/display_report_user" class="hov-a" style="color: white;">Display Report</a>
		</div>
		<div class="col py-2 centered vend_head"
			style="font-weight: bold;font-family: 'Cabin', sans-serif; color: white;background: #30c5ff;">
			<a href="/controladmin" class="hov-a" style="color: white;">Dashboard</a>
		</div>
	</div>



</div>
