{% load static %}

<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>JUSTGETIT | Fashion</title>
	<meta charset="UTF-8">
	<meta name="description" content=" JUSTGETIT | Fashion">
	<meta name="keywords" content="justgetit, eCommerce, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link rel="icon" type="logo/png" href="{% static 'img/logo.png' %}" />

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">


	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/factory-profile/jeans/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/factory-profile/jeans/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/factory-profile/jeans/flaticon.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/factory-profile/jeans/slicknav.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/factory-profile/jeans/jquery-ui.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/factory-profile/jeans/owl.carousel.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/factory-profile/jeans/animate.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/factory-profile/jeans/style.css' %}"/>


	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<style>
		.contact-widget a {
			color: #8f8f8f!important;
		}
	</style>
</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 text-center text-lg-left">
						<!-- logo -->
						<a href="../jeans/" class="site-logo">
							<img src="{% static 'img/factory-profile/jeans/logo.png' %}" alt="">
						</a>
					</div>
					<div class="col-xl-6 col-lg-5">
						<form class="header-search-form">
							<input type="text" placeholder="Search on divisima ....">
							<button><i class="flaticon-search"></i></button>
						</form>
					</div>
					<div class="col-xl-4 col-lg-5">
						<div class="user-panel">
							<div class="up-item">
								<i class="flaticon-profile"></i>
								<a href="#">Sign</a> In or <a href="#">Create Account</a>
							</div>
							<div class="up-item">
								<div class="shopping-card">
									<i class="flaticon-bag"></i>
									<span>0</span>
								</div>
								<a href="#">Shopping Cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="main-navbar">
			<div class="container">
				<!-- menu -->
				<ul class="main-menu">
					<li><a href="../jeans/">Home</a></li>
					<li><a href="#">Women</a></li>
					<li><a href="#">Men</a></li>
					<li><a href="#">
						<span class="new">New</span>
					</a></li>
					<li><a href="#"></a>
						<ul class="sub-menu">
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
						</ul>
					</li>
					<li><a href="#"></a>
						<ul class="sub-menu">
							<li><a href="../jeans-product/"></a></li>
							<li><a href="../jeans-category/"></a></li>
							<li><a href="../jeans-cart/"></a></li>
							<li><a href="../jeans-checkout/"></a></li>
							<li><a href="../jeans-contact/"></a></li>
						</ul>
					</li>
					<li><a href="#"></a></li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- Header section end -->



	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg" data-setbg="{% static 'img/factory-profile/jeans/bg.jpg' %}">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span></span>
							<h2></h2>
							<p> </p>
							<a href="#" class="site-btn sb-line">Denim</a>
							<a href="#" class="site-btn sb-white">Jacket</a>
						</div>
					</div>
				<!--<div class="offer-card text-white">
						<span></span>
						<h2></h2>
						<p></p>
					</div>-->
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="{% static 'img/factory-profile/jeans/bg-2.jpg' %}">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span></span>
							<h2></h2>
							<p> </p>
							<a href="#" class="site-btn sb-line">Denim</a>
							<a href="#" class="site-btn sb-white">Jeans</a>
						</div>
					</div>
				<!--<div class="offer-card text-white">
						<span>from</span>
						<h2></h2>
						<p></p>
					</div>-->
				</div>
			</div>
		</div>
		<div class="container">
			<div class="slide-num-holder" id="snh-1"></div>
		</div>
	</section>
	<!-- Hero section end -->



	<!-- Features section -->
	<section class="features-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="{% static 'img/factory-profile/jeans/icons/1.png' %}" alt="#">
						</div>
						<h2>Fast Secure Payments</h2>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="{% static 'img/factory-profile/jeans/icons/2.png' %}" alt="#">
						</div>
						<h2>Premium Products</h2>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="{% static 'img/factory-profile/jeans/icons/3.png' %}" alt="#">
						</div>
						<h2>Free & fast Delivery</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Features section end -->


	<!-- letest product section -->
	<section class="top-letest-product-section">
		<div class="container">
			<div class="section-title">
				<h2>LATEST PRODUCTS</h2>
			</div>
			<div class="product-slider owl-carousel">
				<div class="product-item">
					<div class="pi-pic">
						<img src="{% static 'img/factory-profile/jeans/product/1.jpg' %}" alt="">
						<div class="pi-links">
							<a href="#" class="add-card"><i class="flaticon-bag"></i><span></span></a>
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6></h6>
						<p> </p>
					</div>
				</div>
				<div class="product-item">
					<div class="pi-pic">
						<div class="tag-new">New</div>
						<img src="{% static 'img/factory-profile/jeans/product/2.jpg' %}" alt="">
						<div class="pi-links">
							<a href="#" class="add-card"><i class="flaticon-bag"></i><span></span></a>
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6></h6>
						<p></p>
					</div>
				</div>
				<div class="product-item">
					<div class="pi-pic">
						<img src="{% static 'img/factory-profile/jeans/product/3.jpg' %}" alt="">
						<div class="pi-links">
							<a href="#" class="add-card"><i class="flaticon-bag"></i><span></span></a>
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6></h6>
						<p> </p>
					</div>
				</div>
				<div class="product-item">
						<div class="pi-pic">
							<img src="{% static 'img/factory-profile/jeans/product/4.jpg' %}" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span></span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6></h6>
							<p> </p>
						</div>
					</div>
				<div class="product-item">
						<div class="pi-pic">
							<img src="{% static 'img/factory-profile/jeans/product/6.jpg' %}" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span></span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6></h6>
							<p> </p>
						</div>
					</div>
			</div>
		</div>
	</section>
	<!-- letest product section end -->



	<!-- Product filter section -->
	<section class="product-filter-section">
		<div class="container">
			<div class="section-title">
				<h2>BROWSE TOP SELLING PRODUCTS</h2>
			</div>
			<ul class="product-filter-menu">
				<li><a href="#">TOPS</a></li>
				<li><a href="#">JUMPSUITS</a></li>
				<li><a href="#">LINGERIE</a></li>
				<li><a href="#">JEANS</a></li>
				<li><a href="#">DRESSES</a></li>
				<li><a href="#">COATS</a></li>
				<li><a href="#">JUMPERS</a></li>
				<li><a href="#">LEGGINGS</a></li>
			</ul>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="{% static 'img/factory-profile/jeans/product/5.jpg' %}" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span></span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6></h6>
							<p> </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<div class="tag-sale">ON SALE</div>
							<img src="{% static 'img/factory-profile/jeans/product/6.jpg' %}" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span></span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6></h6>
							<p></p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="{% static 'img/factory-profile/jeans/product/7.jpg' %}" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span></span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6></h6>
							<p> </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="{% static 'img/factory-profile/jeans/product/8.jpg' %}" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span></span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6></h6>
							<p> </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="{% static 'img/factory-profile/jeans/product/9.jpg' %}" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span></span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6></h6>
							<p> </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="{% static 'img/factory-profile/jeans/product/10.jpg' %}" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span></span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6></h6>
							<p></p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="{% static 'img/factory-profile/jeans/product/11.jpg' %}" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span></span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6></h6>
							<p> </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="{% static 'img/factory-profile/jeans/product/12.jpg' %}" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span></span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6></h6>
							<p> </p>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center pt-5">
				<button class="site-btn sb-line sb-dark">LOAD MORE</button>
			</div>
		</div>
	</section>
	<!-- Product filter section end -->


	<!-- Banner section -->
	<section class="banner-section">
		<div class="container">
			<div class="banner set-bg" data-setbg="{% static 'img/factory-profile/jeans/banner-bg.jpg' %}">
				<div class="tag-new">NEW</div>
				<span>New Arrivals</span>
				<h2>STRIPED SHIRTS</h2>
				<a href="#" class="site-btn"></a>
			</div>
		</div>
	</section>
	<!-- Banner section end  -->


	<!-- Footer section -->
	<section class="footer-section">
		<div class="container">
			<div class="footer-logo text-center">
				<a href="index.html"><img src="{% static 'img/factory-profile/jeans/logo-light.png' %}" alt=""></a>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>About</h2>
						<p></p>
						<img src="{% static 'img/factory-profile/jeans/cards.png' %}" alt="">
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>Questions</h2>
						<ul>
							<li><a href="">About Us</a></li>
							<li><a href="">Track Orders</a></li>
							<li><a href="">Returns</a></li>
							<li><a href="">Jobs</a></li>
							<li><a href="">Shipping</a></li>
							<li><a href="">Blog</a></li>
						</ul>
						<ul>
							<li><a href="">Partners</a></li>
							<li><a href="">Bloggers</a></li>
							<li><a href="">Support</a></li>
							<li><a href="">Terms of Use</a></li>
							<li><a href="">Press</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>Questions</h2>
						<div class="fw-latest-post-widget">
							<div class="lp-item">
								<div class="lp-thumb set-bg" data-setbg="{% static 'img/factory-profile/jeans/blog-thumbs/1.jpg' %}"></div>
								<div class="lp-content">
									<h6></h6>
									<span>Oct 21, 2018</span>
									<a href="#" class="readmore">Read More</a>
								</div>
							</div>
							<div class="lp-item">
								<div class="lp-thumb set-bg" data-setbg="{% static 'img/factory-profile/jeans/blog-thumbs/2.jpg' %}"></div>
								<div class="lp-content">
									<h6></h6>
									<span>Oct 21, 2018</span>
									<a href="#" class="readmore">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget contact-widget">
						<h2>Questions</h2>
						<div class="con-info">
							<span>C.</span>
							<p>JUSTGETIT </p>
						</div>
						<div class="con-info">
							<span>B.</span>
							<p>Thane, Maharashtra </p>
						</div>
						<div class="con-info">
							<span>T.</span>
							<p><a href="tel:+919619348557">+91 9619348557</a></p>
						</div>
						<div class="con-info">
							<span>E.</span>
							<p><a href="mailto:sales@justgetit.in">sales@justgetit.in</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="social-links-warp">
			<div class="container">
				<div class="social-links">
					<a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
					<a href="" class="google-plus"><i class="fa fa-google-plus"></i><span>g+plus</span></a>
					<a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
					<a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
					<a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
					<a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
					<a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
				</div>

<!-- Link back to Justgetit can't be removed. Template is licensed under CC BY 3.0. --> 
<p class="text-white text-center mt-5">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://justgetit.in" target="_blank">JUSTGETIT</a></p>
<!-- Link back to Justgetit can't be removed. Template is licensed under CC BY 3.0. -->

			</div>
		</div>
	</section>
	<!-- Footer section end -->



	<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'js/factory-profile/jeans/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/factory-profile/jeans/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/factory-profile/jeans/jquery.slicknav.min.js' %}"></script>
	<script src="{% static 'js/factory-profile/jeans/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/factory-profile/jeans/jquery.nicescroll.min.js' %}"></script>
	<script src="{% static 'js/factory-profile/jeans/jquery.zoom.min.js' %}"></script>
	<script src="{% static 'js/factory-profile/jeans/jquery-ui.min.js' %}"></script>
	<script src="{% static 'js/factory-profile/jeans/main.js' %}"></script>

	</body>
</html>
