{% extends 'basecut.html' %}

{% block content%}
<h2 style="text-align: center">Roll Allocation Data 1</h2><br>
<table class="table table-light table-striped table-bordered mytable" style="margin-left:10%; max-width:80%;">
    <thead class="thead-dark">
    <tr>
        <!--<th scope="col">ID</th>-->
        <th scope="col">Roll No</th>
        <th scope="col">Roll Length</th>
        <th scope="col">Fabric Width</th>
        <th scope="col">CSV</th>
        <th scope="col">Shade Grade</th>
        <th scope="col">Shrinkage</th>
        <th scope="col">Lay Length</th>
        <th scope="col" style=" background-color: green;">Roll Lay Height</th>
        <th scope="col" style=" background-color: green;">Utilised Fabric</th>
        <th scope="col" style=" background-color: green;">End Bits</th>
    </tr>
    </thead>
    {% for values in objects %}
    <tr>
        <!--<td>{{ values.id }}</td>-->
        <td>{{ values.Roll_No }}</td>
        <td>{{ values.Roll_Length }}</td>
        <td>{{ values.Fabric_Width }}</td>
        <td>{{ values.CSV }}</td>
        <td>{{ values.Shade_Grade }}</td>
        <td>{{ values.Shrinkage }}</td>
        <td>{{ values.Lay_Length }}</td>
        <td>{{ values.Roll_Lay_Height }}</td>
        <td>{{ values.Utilised_Fabric }}</td>
        <td>{{ values.End_Bits }}</td>
    </tr>
    {% endfor %}
</table><br>
    <a href="/cut/temp/" class="btn btn-primary" role="button" style="margin-left: 45%;">Final Roll Allocation <span class="glyphicon">&#xe093;</span> </a>

<br><br><br><br>
{% endblock%}