{% extends 'vendor/vendor_profile_orders_list.html' %}
{% block content %}
<style type="text/css">

    .hover-col{
        padding-top: 15px;
        padding-bottom: 15px;
        transition: all .3s ease-out;
    }
    .hover-col:hover{
        box-shadow: 0 0 2px rgba(0,0,0,.5);
    }
</style>

<script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
   createTable();
}, false);

        </script>

<div class="row">
	<div class="col-2 right_menu">
		<div class="container">
			
		</div>
	</div>
	<br>
	<div class="col-10" id="content">
        <div class="container my-3 mt-5" style="border-bottom: 2px solid rgba(0,0,0,.5);">
            <div class="row">
                <h3 style="font-family: 'Cabin',sans-serif;" class="text-center"><br><br>TRIM INSPECTION<br></h3>

            </div>
        </div>
		<br><br>
		<div class="form-group row">
		 <div class="col-sm-4">
			 <input type="button" class="btn btn-primary" value="Inspection Records Summary" id="view_summary_but" name="view_summary_but" onclick="viewsummary()">
		</div>
				<script type="text/javascript">
                         function viewsummary() {
                                      location="{% url 'tinspsummary' %}";
                                    }
                        </script>
	 </div>

        <div class="container">

				<form action="{% url 'updateorderinspection' %}" method="post" onsubmit="return f_orderNo()">
						{% csrf_token %}
				<div class="form-group row">
					<label for="orderNo" class="col-sm-2 col-form-label">Order Number</label>
					<div class="col-sm-4">
						 <select class="form-control" id="orderNo" name="orderNo">
							 <option value="">Select an order</option>
							{% for item in f %}
							    {% if item.orderNo == f2.orderNo %}
            					<option value="{{item.orderNo}}" selected>{{item.orderNo}}</option>
							 {% else %}
          					<option value="{{item.orderNo}}">{{item.orderNo}}</option>
          						{% endif %}

 {%endfor %}
						</select>

						 <div id="orderNodiv"></div>
						<input type="submit" value="Update Fields" >

					</div>
			<script type="text/javascript">
                         function f_orderNo() {
                                       if (document.getElementById("orderNo").value=="")
                                            {document.getElementById("orderNodiv").innerHTML="<font color=red>Select an order No<font>";
                                            return false;
                                            }
                                        else
											{document.getElementById("orderNodiv").innerHTML="";

											return true;
											}
                                    }
                        </script>
				</div>
</form>


 <form action="{% url 'up_roll' %}" method="post">
				{% csrf_token %}

				<div class="form-group row">
					<label for="supplier" class="col-sm-2 col-form-label">Supplier Name</label>
					<div class="col-sm-4">
						  <input type="text" name="supplier" class="form-control" id="supplier" value="{{f2.supplier}}" readonly>
					</div>
				</div>

				<div class="form-group row">
					<label for="lotNo" class="col-sm-2 col-form-label">Lot Number</label>
					<div class="col-sm-4">
						  <input type="text" class="form-control" name="lotNo" id="lotNo" value="{{f2.lotNo}}" readonly>
					</div>
				</div>
				<div class="form-group row">
					<label for="category" class="col-sm-2 col-form-label">Category</label>
					<div class="col-sm-4">
						  <input type="text" class="form-control" name="category" id="category" value="{{f2.cat}}" readonly>
					</div>
				</div>
	 	<div class="form-group row">
					<label for="subcategory" class="col-sm-2 col-form-label">Sub Category</label>
					<div class="col-sm-4">
						  <input type="text" class="form-control" name="subcategory" id="subcategory" value="{{f2.subcat}}" readonly>
					</div>
				</div>

	 	<div class="form-group row">
					<label for="subcategory2" class="col-sm-2 col-form-label">Super Category</label>
					<div class="col-sm-4">
						  <input type="text" class="form-control" name="subcategory2" id="subcategory2" value="{{f2.supcat}}" readonly>
					</div>
				</div>

	 	<div class="form-group row">
					<label for="noC" class="col-sm-2 col-form-label">Number of Cartons</label>
					<div class="col-sm-4">
						  <input type="text" class="form-control" name="noC" id="noC" value="{{f2.noc}}" readonly>
					</div>
				</div>

	 	<div class="form-group row">
					<label for="tqty" class="col-sm-2 col-form-label">Total Quantity</label>
					<div class="col-sm-4">
						  <input type="text" class="form-control" name="tqty" id="tqty" value="{{f2.tqty}}" readonly>
					</div>
				</div>
		<div class="form-group row">
                    <label for="aql" class="col-sm-2 col-form-label">AQL</label>
                    <div class="col-sm-4">

                        <select  name="aql" class="form-control" id="aql" onchange="set_aacep()">
                               <option value="2.5" selected>2.5</option>
							<option value="4">4</option>
                            <option value="6.5">6.5</option>
                        </select>
					</div>
	</div>

	 		<div class="form-group row">
                    <label for="ilevel" class="col-sm-2 col-form-label">Inspection Level</label>
                    <div class="col-sm-4">

                        <select  name="ilevel" class="form-control" id="ilevel" onchange="f_ilevel()">
                               <option value="G1" >G1</option>
							<option value="G2"selected>G2</option>
                            <option value="G3">G3</option>
							<option value="S1">S1</option>
							<option value="S2">S2</option>
							<option value="S3">S3</option>
							<option value="S4">S4</option>
                        </select>
					</div>
	</div>
	 <div class="form-group row">
					<label for="insqty" class="col-sm-2 col-form-label">Inspection Quantity</label>
					<div class="col-sm-4">
						  <input type="text" name="insqty" class="form-control" id="insqty" value="" readonly value="{{cartonobject.insqty}}">
					</div>
				</div>

	 <script type="text/javascript">
					        document.addEventListener('DOMContentLoaded', function() { f_ilevel() }, false);

							function f_ilevel()
							 		{
 										//var sel_op=select.options[select.selectedIndex].getAttribute("value");
										var sel_op=document.getElementById("ilevel").value;
 										var total_quan=parseInt(document.getElementById("tqty").value);

 										var ins_quan=document.getElementById("insqty");

											if(total_quan>=2 && total_quan<=8 )
											{
											if(sel_op=="G1")
												{
													ins_quan.value=2;
												}
											else if(sel_op=="G2")
												{
												ins_quan.value=2;
												}
											else if(sel_op=="G3")
												{
												ins_quan.value=3;
												}
											else if(sel_op=="S1")
												{
												ins_quan.value=2;
												}
											else if(sel_op=="S2")
												{
												ins_quan.value=2;
												}
											else if(sel_op=="S3")
												{
												ins_quan.value=2;
												}
											else if(sel_op=="S4")
												{
												ins_quan.value=2;
												}
											}
									else if(total_quan>=9 && total_quan<=15 )
											{
											if(sel_op=="G1")
												{
													ins_quan.value=2;
												}
											else if(sel_op=="G2")
												{
												ins_quan.value=3;
												}
											else if(sel_op=="G3")
												{
												ins_quan.value=5;
												}
											else if(sel_op=="S1")
												{
												ins_quan.value=2;
												}
											else if(sel_op=="S2")
												{
												ins_quan.value=2;
												}
											else if(sel_op=="S3")
												{
												ins_quan.value=2;
												}
											else if(sel_op=="S4")
												{
												ins_quan.value=2;
												}
											}
										else if(total_quan>=16 && total_quan<=25 )
											{
											if(sel_op=="G1")
												{
												ins_quan.value=3;
												}
											else if(sel_op=="G2")
												{
												ins_quan.value=5;
												}
											else if(sel_op=="G3")
												{
												ins_quan.value=8;
												}
											else if(sel_op=="S1")
												{
												ins_quan.value=2;
												}
											else if(sel_op=="S2")
												{
												ins_quan.value=2;
												}
											else if(sel_op=="S3")
												{
											ins_quan.value=3;
												}
											else if(sel_op=="S4")
												{
												ins_quan.value=3;
												}

											}
											else if(total_quan>=26 && total_quan<=50 )
											{
											if(sel_op=="G1")
												{
													ins_quan.value=5;
												}
											else if(sel_op=="G2")
												{
												ins_quan.value=8;
												}
											else if(sel_op=="G3")
												{
												ins_quan.value=13;
												}
											else if(sel_op=="S1")
												{
												ins_quan.value=2;
												}
											else if(sel_op=="S2")
												{
												ins_quan.value=3;
												}
											else if(sel_op=="S3")
												{
												ins_quan.value=3;
												}
											else if(sel_op=="S4")
												{
											ins_quan.value=5;
												}

											}
											else if(total_quan>=51 && total_quan<=90 )
											{

											if(sel_op=="G1")
												{
													ins_quan.value=5;
												}
											else if(sel_op=="G2")
												{
												ins_quan.value=13;
												}
											else if(sel_op=="G3")
												{
												ins_quan.value=20;
												}
											else if(sel_op=="S1")
												{
												ins_quan.value=3;
												}
											else if(sel_op=="S2")
												{
											ins_quan.value=3;
												}
											else if(sel_op=="S3")
												{
												ins_quan.value=5;
												}
											else if(sel_op=="S4")
												{
												ins_quan.value=5;
												}

											}
											else if(total_quan>=91 && total_quan<=150 )
											{

											if(sel_op=="G1")
												{
													ins_quan.value=8;
												}
											else if(sel_op=="G2")
												{
												ins_quan.value=20;
												}
											else if(sel_op=="G3")
												{
												ins_quan.value=32;
												}
											else if(sel_op=="S1")
												{
												ins_quan.value=3;
												}
											else if(sel_op=="S2")
												{
												ins_quan.value=3;
												}
											else if(sel_op=="S3")
												{
												ins_quan.value=5;
												}
											else if(sel_op=="S4")
												{
												ins_quan.value=8;
												}

											}
											else if(total_quan>=151 && total_quan<=280 )
											{
												if(sel_op=="G1")
												{
													total_quan.value=13;
												}
											else if(sel_op=="G2")
												{
												ins_quan.value=32;
												}
											else if(sel_op=="G3")
												{
												ins_quan.value=50;
												}
											else if(sel_op=="S1")
												{
												ins_quan.value=3;
												}
											else if(sel_op=="S2")
												{
												ins_quan.value=5;
												}
											else if(sel_op=="S3")
												{
												ins_quan.value=8;
												}
											else if(sel_op=="S4")
												{
												ins_quan.value=13;
												}

											}
											else if(total_quan>=281 && total_quan<=500 )
											{		if(sel_op=="G1")
												{
													ins_quan.value=20;
												}
											else if(sel_op=="G2")
												{
												ins_quan.value=50;
												}
											else if(sel_op=="G3")
												{
												ins_quan.value=80;
												}
											else if(sel_op=="S1")
												{
												ins_quan.value=3;
												}
											else if(sel_op=="S2")
												{
												ins_quan.value=5;
												}
											else if(sel_op=="S3")
												{
												ins_quan.value=8;
												}
											else if(sel_op=="S4")
												{
												ins_quan.value=13;
												}

											}
											else if(total_quan>=501 && total_quan<=1200 )
											{
												if(sel_op=="G1")
												{
													ins_quan.value=32;
												}
											else if(sel_op=="G2")
												{
												ins_quan.value=80;
												}
											else if(sel_op=="G3")
												{
												ins_quan.value=125;
												}
											else if(sel_op=="S1")
												{
												ins_quan.value=5;
												}
											else if(sel_op=="S2")
												{
												ins_quan.value=5;
												}
											else if(sel_op=="S3")
												{
												ins_quan.value=13;
												}
											else if(sel_op=="S4")
												{
												ins_quan.value=20;
												}

											}
											else if(total_quan>=1201 && total_quan<=3200 )
											{	if(sel_op=="G1")
												{
													ins_quan.value=50;
												}
											else if(sel_op=="G2")
												{
												ins_quan.value=125;
												}
											else if(sel_op=="G3")
												{
												ins_quan.value=200;
												}
											else if(sel_op=="S1")
												{
												ins_quan.value=5;
												}
											else if(sel_op=="S2")
												{
												ins_quan.value=8;
												}
											else if(sel_op=="S3")
												{
												ins_quan.value=13;
												}
											else if(sel_op=="S4")
												{
												ins_quan.value=32;
												}
											}
											else if(total_quan>=3201 && total_quan<=10000 )
											{if(sel_op=="G1")
												{
													ins_quan.value=80;
												}
											else if(sel_op=="G2")
												{
												ins_quan.value=200;
												}
											else if(sel_op=="G3")
												{
												ins_quan.value=315;
												}
											else if(sel_op=="S1")
												{
												ins_quan.value=5;
												}
											else if(sel_op=="S2")
												{
												ins_quan.value=8;
												}
											else if(sel_op=="S3")
												{
												ins_quan.value=20;
												}
											else if(sel_op=="S4")
												{
												ins_quan.value=32;
												}
											}
											else if(total_quan>=10001 && total_quan<=35000 )
											{
											if(sel_op=="G1")
												{
													ins_quan.value=125;
												}
											else if(sel_op=="G2")
												{
												ins_quan.value=315;
												}
											else if(sel_op=="G3")
												{
												ins_quan.value=500;
												}
											else if(sel_op=="S1")
												{
												ins_quan.value=5;
												}
											else if(sel_op=="S2")
												{
												ins_quan.value=8;
												}
											else if(sel_op=="S3")
												{
												ins_quan.value=20;
												}
											else if(sel_op=="S4")
												{
												ins_quan.value=50;
												}
											}
											else if(total_quan>=35001 && total_quan<=150000 )
											{
												if(sel_op=="G1")
												{
													ins_quan.value=200;
												}
											else if(sel_op=="G2")
												{
												ins_quan.value=500;
												}
											else if(sel_op=="G3")
												{
												ins_quan.value=800;
												}
											else if(sel_op=="S1")
												{
												ins_quan.value=8;
												}
											else if(sel_op=="S2")
												{
												ins_quan.value=13;
												}
											else if(sel_op=="S3")
												{
												ins_quan.value=32;
												}
											else if(sel_op=="S4")
												{
												ins_quan.value=80;
												}
											}
											else if(total_quan>=150001 && total_quan<=500000 )
											{
											if(sel_op=="G1")
												{
													ins_quan.value=315;
												}
											else if(sel_op=="G2")
												{
												ins_quan.value=800;
												}
											else if(sel_op=="G3")
												{
												ins_quan.value=1250;
												}
											else if(sel_op=="S1")
												{
												ins_quan.value=8;
												}
											else if(sel_op=="S2")
												{
												ins_quan.value=13;
												}
											else if(sel_op=="S3")
												{
												ins_quan.value=32;
												}
											else if(sel_op=="S4")
												{
												ins_quan.value=80;
												}
											}
											else if(total_quan>=500001)
											{
											if(sel_op=="G1")
												{
													ins_quan.value=500;
												}
											else if(sel_op=="G2")
												{
												ins_quan.value=1250;
												}
											else if(sel_op=="G3")
												{
												ins_quan.value=2000;
												}
											else if(sel_op=="S1")
												{
												ins_quan.value=8;
												}
											else if(sel_op=="S2")
												{
												ins_quan.value=13;
												}
											else if(sel_op=="S3")
												{
												ins_quan.value=50;
												}
											else if(sel_op=="S4")
												{
												ins_quan.value=125;
												}
											}
										set_aacep();
                                  }

						</script>

	<div class="form-group row">
					<label for="qeachbox" class="col-sm-2 col-form-label">Quantity to be taken form each box</label>
					<div class="col-sm-4">
						  <input type="text" class="form-control" name="qeachbox" id="qeachbox" onblur="f_calcea()" value="{{cartonobject.qeachbox}}">
					</div>
				</div>
<script type="text/javascript">
	 function f_calcea()
	 {
	 	var iq=parseFloat(document.getElementById('insqty').value);
	 	var qeb=parseInt(document.getElementById('qeachbox').value);
		document.getElementById('cti').value=parseInt((iq/qeb)*100);
	 }

	 function f_passqty()
	 {
	    var iq=parseInt(document.getElementById('insqty').value);
	 	var fq=parseInt(document.getElementById('faqty').value);
	 	var temp=iq-fq;
	 	if (temp<0)
	 		temp*=-1;
		document.getElementById('paqty').value=temp;
	 }

	 function set_aacep()
	 {
	 	var ins_quan=document.getElementById("insqty").value;

	 	var aql=document.getElementById("aql").value;
	 	if(aql=="2.5")
	 	{
			if(ins_quan=="2")
			{
			document.getElementById("acr").value=0;
			}
			else if(ins_quan=="3")
			{
			document.getElementById("acr").value=0;
			}
			else if(ins_quan=="5")
			{
			document.getElementById("acr").value=0;
			}
			else if(ins_quan=="8")
			{
			document.getElementById("acr").value=1;
			}
			else if(ins_quan=="13")
			{
			document.getElementById("acr").value=1;
			}
			else if(ins_quan=="20")
			{
			document.getElementById("acr").value=1;
			}
			else if(ins_quan=="32")
			{
			document.getElementById("acr").value=2;
			}
			else if(ins_quan=="50")
			{
			document.getElementById("acr").value=3;
			}
			else if(ins_quan=="80")
			{
			document.getElementById("acr").value=5;
			}
			else if(ins_quan=="125")
			{
			document.getElementById("acr").value=7;
			}
			else if(ins_quan=="200")
			{
			document.getElementById("acr").value=10;
			}
			else if(ins_quan=="315")
			{
			document.getElementById("acr").value=14;
			}
			else if(ins_quan=="500")
			{
			document.getElementById("acr").value=21;
			}
			else if(ins_quan=="800")
			{
			document.getElementById("acr").value=21;
			}
			else if(ins_quan=="1250")
			{
			document.getElementById("acr").value=21;
			}
			else if(ins_quan=="2000")
			{
			document.getElementById("acr").value=21;
			}
	 	}
	 	else if(aql=="4")
	 	{
	 	if(ins_quan=="2")
			{
			document.getElementById("acr").value=0;
			}
			else if(ins_quan=="3")
			{
			document.getElementById("acr").value=0;
			}
			else if(ins_quan=="5")
			{
			document.getElementById("acr").value=1;
			}
			else if(ins_quan=="8")
			{
			document.getElementById("acr").value=1;
			}
			else if(ins_quan=="13")
			{
			document.getElementById("acr").value=1;
			}
			else if(ins_quan=="20")
			{
			document.getElementById("acr").value=2;
			}
			else if(ins_quan=="32")
			{
			document.getElementById("acr").value=3;
			}
			else if(ins_quan=="50")
			{
			document.getElementById("acr").value=5;
			}
			else if(ins_quan=="80")
			{
			document.getElementById("acr").value=7;
			}
			else if(ins_quan=="125")
			{
			document.getElementById("acr").value=10;
			}
			else if(ins_quan=="200")
			{
			document.getElementById("acr").value=14;
			}
			else if(ins_quan=="315")
			{
			document.getElementById("acr").value=21;
			}
			else if(ins_quan=="500")
			{
			document.getElementById("acr").value=21;
			}
			else if(ins_quan=="800")
			{
			document.getElementById("acr").value=21;
			}
			else if(ins_quan=="1250")
			{
			document.getElementById("acr").value=21;
			}
			else if(ins_quan=="2000")
			{
			document.getElementById("acr").value=21;
			}
	 	}
	 	else if(aql=="6.5")
	 	{
	 	if(ins_quan=="2")
			{
			document.getElementById("acr").value=0;
			}
			else if(ins_quan=="3")
			{
			document.getElementById("acr").value=1;
			}
			else if(ins_quan=="5")
			{
			document.getElementById("acr").value=1;
			}
			else if(ins_quan=="8")
			{
			document.getElementById("acr").value=1;
			}
			else if(ins_quan=="13")
			{
			document.getElementById("acr").value=2;
			}
			else if(ins_quan=="20")
			{
			document.getElementById("acr").value=3;
			}
			else if(ins_quan=="32")
			{
			document.getElementById("acr").value=5;
			}
			else if(ins_quan=="50")
			{
			document.getElementById("acr").value=7;
			}
			else if(ins_quan=="80")
			{
			document.getElementById("acr").value=10;
			}
			else if(ins_quan=="125")
			{
			document.getElementById("acr").value=14;
			}
			else if(ins_quan=="200")
			{
			document.getElementById("acr").value=21;
			}
			else if(ins_quan=="315")
			{
			document.getElementById("acr").value=21;
			}
			else if(ins_quan=="500")
			{
			document.getElementById("acr").value=21;
			}
			else if(ins_quan=="800")
			{
			document.getElementById("acr").value=21;
			}
			else if(ins_quan=="1250")
			{
			document.getElementById("acr").value=21;
			}
			else if(ins_quan=="2000")
			{
			document.getElementById("acr").value=21;
			}
	 	}

	 }
 </script>



	<div class="form-group row">
					<label for="cti" class="col-sm-2 col-form-label">No. of cartons to be inspected</label>
					<div class="col-sm-4">
						  <input type="text" class="form-control" name="cti" id="cti" value="{{cartonobject.inspcar}}" readonly>
					</div>
				</div>


		  <input type="text" class="form-control" name="hid_on" value="{{f2.orderNo}}" id="hid_on" hidden>
	 <div class="form-group row">
		 <div class="col-sm-4">
			 <input type="submit" class="btn btn-primary" value="Next" id="final_submiy_but" name="final_submiy_but" formaction="{% url 'tinspection2' %}">&nbsp;&nbsp;&nbsp;&nbsp;

		</div>
	 </div>

 </form>

			<br>
		</div>
	</div>
</div>
{% endblock %}
