{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>JUSTGETIT | </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/factory-profile/gowns/favicon.ico' %}">

		<!-- CSS here -->
        <link rel="stylesheet" href="{% static 'css/factory-profile/gowns/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/factory-profile/gowns/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/factory-profile/gowns/slicknav.css' %}">
        <link rel="stylesheet" href="{% static 'css/factory-profile/gowns/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/factory-profile/gowns/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'css/factory-profile/gowns/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/factory-profile/gowns/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/factory-profile/gowns/slick.css' %}">
        <link rel="stylesheet" href="{% static 'css/factory-profile/gowns/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'css/factory-profile/gowns/style.css' %}">
   </head>

   <body class="body-bg">
        <!-- Preloader Start -->
        <div id="preloader-active">
            <div class="preloader d-flex align-items-center justify-content-center">
                <div class="preloader-inner position-relative">
                    <div class="preloader-circle"></div>
                    <div class="preloader-img pere-text">
                        <img src="{% static 'img/factory-profile/gowns/logo/logo.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- Preloader Start -->
        <header>
            <!-- Header Start -->
        <div class="header-area header-sticky">
                <div class="header-wrapper  d-flex flex-wrap align-items-center justify-content-between">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="../gowns/"><img src="{% static 'img/factory-profile/gowns/logo/logo.png' %}" alt=""></a>
                    </div>
                    <!-- Main-menu -->
                    <div class="main-menu d-none d-lg-block">
                        <nav>
                            <ul id="navigation">                                                                                                                               
                                <li><a href="../gowns/">Home</a></li>
                                <li><a href="../gowns-services/">Services</a></li>
                                <li><a href="../gowns-about/">History</a></li>
                                <li><a href="../gowns-gallery/">Gallery</a></li>
                                <li><a href="../gowns-blog/">Blog</a>
                                    <ul class="submenu">
                                        <li><a href="../gowns-blog/">Blog</a></li>
                                        <li><a href="../gowns-single-blog/">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Pages</a>
                                    <ul class="submenu">
                                        <li><a href="../gowns-elements/">Element</a></li>
                                    </ul>
                                </li>
                                <li><a href="../gowns-contact/">Contact</a></li>
                            </ul>
                        </nav>
                    </div>          
                    <!-- Header-btn -->
                    <div class="d-none d-xl-block">
                        <a href="#" class="btn btn2">Visit Us</a>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
        </div>
            <!-- Header End -->
        </header>
        <main>
            <!-- slider Area Start-->
            <div class="slider-area ">
                <!-- Mobile Menu -->
                <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'img/factory-profile/gowns/hero/gallery.jpg' %}">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="hero-cap">
                                    <h2>Gallery</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- slider Area End-->
            <!-- Clients testimonial Start  -->
            <div class="clients-testimonial testimonial-padding01 fix">
                <div class="container">
                    <!-- Section Tittle -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-tittle text-center mb-100">
                                <span class="wow fadeInUp" data-wow-delay=".2s">Client Feedback</span>
                                <h2 class="wow fadeInUp" data-wow-delay=".4s">Our Work For Clients</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="clients-speech-active dot-style">
                                <div class="single-clients-speech">
                                    <img src="{% static 'img/factory-profile/gowns/gallery/speech-client1.jpg' %}" alt="">
                                </div>
                                <div class="single-clients-speech">
                                    <img src="{% static 'img/factory-profile/gowns/gallery/speech-client1.jpg' %}" alt="">
                                </div>
                                <div class="single-clients-speech">
                                    <img src="{% static 'img/factory-profile/gowns/gallery/speech-client1.jpg' %}" alt="">
                                </div>
                                <div class="single-clients-speech">
                                    <img src="{% static 'img/factory-profile/gowns/gallery/speech-client1.jpg' %}" alt="">
                                </div>
                                <div class="single-clients-speech">
                                    <img src="{% static 'img/factory-profile/gowns/gallery/speech-client1.jpg' %}" alt="">
                                </div>
                                <div class="single-clients-speech">
                                    <img src="{% static 'img/factory-profile/gowns/gallery/speech-client1.jpg' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Clients testimonial End  -->
            <!-- Testimonial Start -->
            <div class="testimonial-area testimonial-padding3">
                <div class="container">
                    <!-- Section Tittle 02 -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-tittle02  wow fadeInUp" data-wow-delay=".2s">
                                <h2>Testimonial</h2>
                            </div>
                        </div>
                    </div>
                <div class="row d-flex justify-content-center">
                        <div class="col-lg-12">
                            <div class="h1-testimonial-active dot-style wow fadeInUp" data-wow-delay=".5s">
                                <!-- Single Testimonial -->
                                <div class="single-testimonial text-center">
                                    <!-- Testimonial Content -->
                                    <div class="testimonial-caption ">
                                        <div class="testimonial-top-cap">
                                            <img src="{% static 'img/factory-profile/gowns/icon/testimonial.png' %}" alt="">
                                            <p>A dress (also known as a frock or a gown) is a garment traditionally worn by women or girls consisting of a skirt with an attached bodice (or a matching bodice giving the effect of a one-piece garment)</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Testimonial -->
                                <div class="single-testimonial text-center">
                                    <!-- Testimonial Content -->
                                    <div class="testimonial-caption ">
                                        <div class="testimonial-top-cap">
                                            <img src="{% static 'img/factory-profile/gowns/icon/testimonial.png' %}" alt="">
                                            <p>A dress (also known as a frock or a gown) is a garment traditionally worn by women or girls consisting of a skirt with an attached bodice (or a matching bodice giving the effect of a one-piece garment)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                </div>
            </div>
            <!-- Testimonial End -->
        </main>
        <footer>
                <div class="footer-area fix">
                    <!-- Footer Caption -->
                    <div class="footer-caption wow fadeInRight" data-wow-delay=".6s">
                        <div class="footer-tittle">
                            <h3>The joy of dressing<br> is an art</h3>
                        </div>
                        <div class="footer-menu ">
                            <div class="single-menu">
                                <div class="single-menu1">
                                    <div class="single-footer-caption mb-50">
                                        <div class="footer-tittle">
                                            <h4>Contact</h4>
                                            <div class="footer-pera">
                                                <p>Urbano L, Lodha palava lakeshore green Dombivli, Thane, Maharashtra, India, 421204.</p>
                                                <p><a href="tel:+919619348557"> +91-9619348557</a></p>
                                                <p><a href="mailto:support@justgetit.in"> support@justgetit.in</a></p>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-menu2">
                                    <div class="single-footer-caption mb-50">
                                        <div class="footer-tittle">
                                            <h4>Links</h4>
                                            <ul>
                                                <li><a href="/gowns">Home</a></li>
                                                <li><a href="/gowns-about"> About Us</a></li>
                                                <li><a href="#"> Our History</a></li>
                                                <li><a href="/gowns-contact">Contact</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-menu3">
                                    <div class="single-footer-caption">
                                        <div class="footer-tittle">
                                            <h4>Social</h4>
                                            <!-- Social -->
                                            <div class="footer-social">
                                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                <a href="#"><i class="fab fa-twitter"></i></a>
                                                <a href="#"><i class="fas fa-globe"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="copyright pt-40">
                            <p><!-- Link back to Justgetit can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://justgetit.in" target="_blank">Justgetit</a>
  <!-- Link back to Justgetit can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                </div>
        </footer>
    
	<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static 'js/factory-profile/gowns/vendor/modernizr-3.5.0.min.js' %}"></script>
		
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static 'js/factory-profile/gowns/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'js/factory-profile/gowns/popper.min.js' %}"></script>
        <script src="{% static 'js/factory-profile/gowns/bootstrap.min.js' %}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static 'js/factory-profile/gowns/jquery.slicknav.min.js' %}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static 'js/factory-profile/gowns/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/factory-profile/gowns/slick.min.js' %}"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="{% static 'js/factory-profile/gowns/wow.min.js' %}"></script>
		<script src="{% static 'js/factory-profile/gowns/animated.headline.js' %}"></script>
        <script src="{% static 'js/factory-profile/gowns/jquery.magnific-popup.js' %}"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="{% static 'js/factory-profile/gowns/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'js/factory-profile/gowns/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'js/factory-profile/gowns/jquery.sticky.js' %}"></script>
        
        <!-- contact js -->
        <script src="{% static 'js/factory-profile/gowns/contact.js' %}"></script>
        <script src="{% static 'js/factory-profile/gowns/jquery.form.js' %}"></script>
        <script src="{% static 'js/factory-profile/gowns/jquery.validate.min.js' %}"></script>
        <script src="{% static 'js/factory-profile/gowns/mail-script.js' %}"></script>
        <script src="{% static 'js/factory-profile/gowns/jquery.ajaxchimp.min.js' %}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static 'js/factory-profile/gowns/plugins.js' %}"></script>
        <script src="{% static 'js/factory-profile/gowns/main.js' %}"></script>
        
    </body>
</html>