<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrer option</title>
    <style>
*{
    padding: 0;
    margin: 2px;
}
.main .menu1{
    
    height: 70VH;
    /* border: 2px solid black; */

}
.main .menu1 .Emenu ul li{
    list-style: none;
    float: left;
    padding-left: 9.4rem;
    
}
.main .Emenu ul li ul li{
    padding: 0;
    position: relative;

}
.dropbtn {

  color: white;
  margin-top: 0.01rem;
  font-size:1rem;


  border-radius: 30PX;
  width: 18vw;
  height: 5vh;
}

.dropdown {
  
 
}

.dropdown-content {
  display: none;
  margin-top: 0.5srem;
min-width: 160px;
 
 
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



 .dropdown-content {display: block;}
h6{
    text-align: center;
            font-size: 70px;
            font-style: italic;
            color: snow;
            text-shadow: 2px 2px 8px rgb(47, 34, 231);
            
}

    </style>
</head>
<body>
    <h6>Ignite India</h6>
    <p style="color: rgb(61, 142, 153); padding: 10px; font-size: larger;"><u> We WIll Help you To Choose correct way to fulfill your dream</u></p>

<div class="main">
    <div class="menu1">
    <h1>Engineering and Architecture</h1>
        <div class="Emenu">
        <ul>
            <li><b>Exam</b>
                <div class="dropdown">
                   
                    <div class="dropdown-content">
                    <a href="#">JEE Main 2021</a>
                    <a href="#">JEE Advanced 2021</a>
                    <a href="#">GATE 2021</a>
                    <a href="#">MET 2021</a>
                    <a href="#">BITSAT 2021</a>
                    <a href="#">VITEEE 2021</a>
                    <a href="#">SRMJEEE 2021</a>
                    <a href="#">View All Engineering Exams</a>
                    </div>
                </div>
            </li>
            <li><b> Colleges </b><div class="dropdown">
                   
                <div class="dropdown-content">
                <a href="#">Top Engineering Colleges in India 2020</a>
                <a href="#">B.Tech College Applications</a>
                <a href="#">Engineering Colleges in India</a>
                <a href="#">Engineering Colleges in Tamil Nadu</a>
                <a href="#">Engineering Colleges Accepting JEE Main</a>
                <a href="#">Top Engineering Colleges in Hyderabad</a>
                <a href="#">Top Engineering Colleges in Bangalore</a>
                <a href="#">Compare Colleges</a>
                                                        
       
                </div>
            </div>

            <li><b> Resources </b><div class="dropdown">
                   
                <div class="dropdown-content">
                <a href="#">JEE Main online Preparation</a> 
                <a href="#">JEE Main One Month Course</a>

               <a href="#">FREE Previous Year Sample Papers</a>

               <a href="#">FREE Engineering Ebooks</a>
               <a href="#">List of Popular Branches</a>

               <a href="#">NCERT Solutions</a>

                <a href="#">NCERT</a>
                </div>
            </div>
            </li>
        </ul>
        </div>
    </div>
</div>

<div class="main">
    <div class="menu1">
    <h1 >Management and Business Administration</h1>
        <div class="Emenu">
        <ul>
            <li><b>Exam</b>
                <div class="dropdown">
                   
                    <div class="dropdown-content">
                 

                    <a href="">CAT 2021</a>
                                            
                    <a href="">XAT 2021</a>
    
                    <a href="#">CMAT 2021</a>
                    <a href="#">MAT 2021</a>
                    <a href="#">NMAT by GMAC 2020</a>
                    <a href="#">SNAP 2020</a>
                    <a href="#">IIFT 2021</a>
                    <a href="#">View All Management Exams</a>
                    



                    </div>
                </div>
            </li>
            <li>
                <b> Colleges </b><div class="dropdown">
                   
                <div class="dropdown-content">
                       <a href="#">College Admissions 2021</a>
                                            
                <a href="#">Top MBA Colleges in India 2021</a>
                                            
                <a href="#">MBA Colleges accepting CAT 2020</a>
                                            
                <a href="#">BBA Colleges in India 2021</a>
                                                            
                <a href="#">List of IIMs in India 2021</a>
                <a href="#">Compare Colleges</a>
                  
                </div>
            </div>
        </li>
            <li><b> Resources </b><div class="dropdown">
                   
                <div class="dropdown-content">
                <a href="#">FREE Previous Year Sample Papers</a>
                                            
                <a href="#">Download Helpful Ebooks</a>
                    <a href="#">List of Popular Branches</a>
                    <a href="#">QnA - Get answers to your doubts</a>
                    <a href="#">CAT 2021 Registration</a>
                    <a href="#">SNAP 2020 Result</a>
                    <a href="#">CMAT 2021 Registration</a>
                </div>
            </div>
            </li>
        </ul>
        </div>
    </div>
</div> 


<div class="main">
    <div class="menu1">
    <h1>Law</h1>
        <div class="Emenu">
        <ul>
            <li><b>Exam</b>
                <div class="dropdown">
                   
                    <div class="dropdown-content">
                 

                 
                        <a href="#">CLAT 2021</a>
                                            
                        <a href="#">AILET 2021</a>
        
                        <a href="#">LSAT INDIA 2021</a>
        
                        <a href="#">IPU CET 2021</a>
        
                        <a href="#">DU LLB 2021</a>
        
                        <a href="#">NPAT 2021</a>
        
                        <a href="#">View All</a>
                        



                    </div>
                </div>
            </li>
            <li>
                <b> Colleges </b><div class="dropdown">
                   
                <div class="dropdown-content">
                      
                    <a href="#">Compare Colleges</a>
                                            
                    <a href="#">Colleges Accepting Admissions</a>    
                    <a href="#">Top Law Colleges in India 2020</a>
                    <a href="#">Law College Accepting CLAT Score</a>
    
                    <a href="#">List of Law Colleges in India</a>
    
                    <a href="#">View All</a>
    
                  
                </div>
            </div>
        </li>
            <li><b> Resources </b><div class="dropdown">
                   
                <div class="dropdown-content">
                                                
                <a href="#">Download FREE Sample Papers</a>
                                            
                <a href="#">Download E-books</a>

                <a href="#">QnA - Get answers to your doubts</a>

                <a href="#">Careers360 Youtube Channel</a>

                <a href="#">NCERT Solutions</a>

                <a href="#">NCERT</a>
                </div>
            </div>
            </li>
        </ul>
        </div>
    </div>
</div> 



</body>
</html>