{% extends "op_base.html" %}
{% block body_block %}
  <style type="text/css">
    td,th{
      border: 1px solid white;
    }
  </style>
  <div class="container text-center">
    <h1>DPR REPORT</h1>
  </div><br>
  <br>
          <div class="container">
            <div class="row">
              <div class="col-md">
                <table id="myTable1" class="table">
                  <thead style="background-color: #2E2D2D;color: white">
                    <tr>
                      <th>S.No</th>
                      <th>Operation</th>
                      <th>No of Operator</th>
                      <th>Operator ID</th>
                      <th>Operator Name</th>
                      <th>1 HPR</th>
                      <th>2 HPR</th>
                      <th>3 HPR</th>
                      <th>4 HPR</th>
                      <th>5 HPR</th>
                      <th>6 HPR</th>
                      <th>7 HPR</th>
                      <th>8 HPR</th>
                    </tr>
                  </thead>
                  <tbody style="background-color: #E5DFDF;color: black">
                        <tr >
                          <td>ABC</td>
                          <td>ABC</td>
                          <td>ABC</td>
                          <td>ABC</td>
                          <td>ABC</td>
                          <td>ABC</td>
                          <td>ABC</td>
                          <td>ABC</td>
                          <td>ABC</td>
                          <td>ABC</td>
                        </tr>
                  </tbody>
              </div>
            </div>
    </div>
  
{% endblock %}
