{% extends "op_base.html" %}
{% block body_block %}
<div class="container text-center">
        <h1>OPERATORS</h1>
    </div>
<div class="container">
        <a class="btn btn-primary btn-lg btn-block" href="login" role="button">LOGIN</a>
        <a class="btn btn-primary btn-lg btn-block" href="register" role="button">REGISTER</a>
        <a class="btn btn-primary btn-lg btn-block" href="takeattendence" role="button">TAKE ATTENDENCE</a>
        <a class="btn btn-primary btn-lg btn-block" href="takeleave" role="button">TAKE LEAVE</a>
        <a class="btn btn-primary btn-lg btn-block" href="operatorskillmatrix" role="button">OPERATOR SKILL MATRIX</a>
        <a class="btn btn-primary btn-lg btn-block" role="button" href="windowreportindex" >OPERATOR WINDOW REPORT</a>
        <a class="btn btn-primary btn-lg btn-block" role="button" href="operationbulletin" >OPERATION BULLETIN</a>
    </div>
{% endblock %}
