{% extends "archplan/base.html" %} {% block title %}
<title>Just Get It | Contact</title> {% endblock title %} {% block content %}

<body class="page-template page-template-page-templates page-template-contact-template page-template-page-templatescontact-template-php page page-id-67">

<section class="next-section-contact section-padding">
    <div class="container">
        <div class="row">
            <!-- Title -->
            <div class="section-head col-md-12 animate-box" data-animate-effect="fadeInUp">
                <h4>Contact <span>Us</span></h4>
            </div>
            <!-- Firm -->
            <div class="col-md-4 mb-60 animate-box" data-animate-effect="fadeInUp">
                <p><b>Just Get It</b></p>
                <p>Our firm nisl sodales sit amet sapien idea placerat sodales orcite. Vivamus ne miss rhoncus felis bauen architecture.</p>
            </div>
            <!-- Info -->
            <div class="col-md-4 mb-60 animate-box" data-animate-effect="fadeInUp">
                <p><b>Contact Details</b></p>
                <p><b>Phone :</b> +91 9619348557</p>
                <p><b>Email :</b> support@justgetit.in</p>
                <p><b>Address :</b> Urbano L, Lodha palava lakeshore green Dombivli, Thane, Maharashtra, India, 421204</p>
            </div>
            <!-- Form -->
            <!-- <div class="col-md-4 mb-60 animate-box" data-animate-effect="fadeInUp">
                <div>
                    <p><b>Drop me a line!</b></p>
                </div>
                <div role="form" class="wpcf7" id="wpcf7-f5-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
<form action="/demosd/nextarchwp/?page_id=67#wpcf7-f5-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="5" />
<input type="hidden" name="_wpcf7_version" value="5.0.2" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5-o1" />
<input type="hidden" name="_wpcf7_container_post" value="0" />
</div>
<div class="row">
<div class="col-md-12">
<div class="next-form-component">
            <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text" id="name" aria-invalid="false" placeholder="Full Name" /></span>
        </div>
</p></div>
<div class="col-md-12">
<div class="next-form-component">
            <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" id="email" aria-required="true" aria-invalid="false" placeholder="Your Email" /></span>
        </div>
</p></div>
<div class="col-md-12">
<div class="next-form-component">
            <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" id="message" aria-invalid="false" placeholder="Your Message"></textarea></span>
        </div>
</p></div>
<div class="col-md-12">
        <input type="submit" value="Send." class="wpcf7-form-control wpcf7-submit" />
    </div>
</div>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div>            </div>
        </div> -->
    </div>

        <!-- Map -->
        <div class="row">
            <div class="col-md-12 animate-box" data-animate-effect="fadeInUp">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.6452862909628!2d73.10943451421416!3d19.16699815408823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7bfe8d704d241%3A0x6d68733653057cf3!2sLakeshore%20Greens%2C%20LODHA%20Palava%2C%20Phase%202!5e0!3m2!1sen!2sin!4v1635136920166!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
</section>

<!-- Live Whatsapp Chat -->

<script src="https://getchat.app/assets/js/min/getchatapp.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
  var gcaMain = new GetChatApp({
    'mobileNumber' : '+91 88619 91781',
    'titleMessage' : '👋 Chat with us on WhatsApp!',
    'welcomeMessage': 'Hey there! 😃<br /> <br /> Get in touch with us by typing a message here. It will go straight to Just Get It team! 🔥<br /> <br /> - Just Get It',
    'position' : 'right',
    'platforms' : {
        'whatsapp' : true,
        'facebook' : false,
        'email' : false,
        'instagram' : false,
        'telegram' : false,
    },
    'facebookPageId' : '',
    'gcaEmailAddress' : '',
    'gcaEmailSubject' : '',
    'gcaInstagramUsername' : '',
    'gcaTelegramUsername' : '',
  });
});
</script>

{% endblock content %}