{% extends 'base1.html' %}

    {% block content %}
    <div class="container text-center">
        <h1>LOADING PLAN</h1>
    </div>
    <div class="container">

        <a class="btn btn-primary btn-lg btn-block" href="orderdetails" role="button">ORDER DETAILS</a>
        <a class="btn btn-primary btn-lg btn-block" href="availablecapacity" role="button">AVAILABLE CAPACITY</a>
        <a class="btn btn-primary btn-lg btn-block" href="capreqd" role="button">CAPACITY REQUIRED</a>
        <a class="btn btn-primary btn-lg btn-block" href="material" role="button">MATERIAL IN HOUSE</a>
        <a class="btn btn-primary btn-lg btn-block" href="exp" role="button">LOADING SUGGESTION</a>
    </div>
    
    
    {% endblock %}
