{% extends 'base1.html' %}

    {% block content %}
    <div class="container text-center">
        <h1>
          Material in House table
        </h1>
    </div>
    <table class="table table-hover table-striped table-bordered" style="width: 97%; margin-left: 20px">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Order No</th>
            <th scope="col">Fabric in House</th>
            <th scope="col">Threads</th>
            <th scope="col">Sewing Trims</th>
            <th scope="col">Finishing Trims</th>
            <th scope="col">Packing Trims</th>
          </tr>
        </thead>
    {% for a in allmat %}
        <tbody>
          <tr>
            <td>{{a.orderno}}</td>
            <td>{{a.fin}}</td>
            <td>{{a.threads}}</td>
            <td>{{a.sewtrim}}</td>
            <td>{{a.fintrim}}</td>
            <td>{{a.packtrim}}</td>
          </tr>
        </tbody>
    {% endfor %}
      </table>

    
{% endblock %}