{% load static %}
{% load productfilters %}
<!DOCTYPE html>
<html>

<head>
	<title> JUSTGETIT</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- ======================================================================== -->
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#253031">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#253031">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#253031">
	<!-- ============================================================================ -->
	<link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
	<!-- ======================================================================== -->
	<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->
	<!-- ======================================================================== -->
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
	<!-- ======================================================================== -->
	<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
	<!-- ======================================================================== -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
	<!-- ======================================================================== -->
	<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
	<!-- ======================================================================== -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Cabin|Pacifico" rel="stylesheet"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<!-- ======================================================================== -->
	<link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fontawesome/less/fontawesome.less' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fontawesome/scss/fontawesome.scss' %}">
	<script type="text/javascript" src="{% static 'jQuery/jQuery.js' %}"></script>
	<script type="text/javascript" src="{% static 'fontawesome/js/all.js' %}"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-grid.css' %}"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-grid.min.css' %}"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-reboot.css' %}"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-reboot.min.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"> -->
	<!-- <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script> -->
	<!-- <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script> -->
	<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
	<!-- <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script> -->
	<script src='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js'></script>

	<link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css' rel='stylesheet' />
	<link href='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css' rel='stylesheet' />
	<link href='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css' rel='stylesheet' />
	<title>Document</title>
	<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js"></script>
	<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css" type="text/css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>

	<script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		var csrftoken = getToken('csrftoken')
	</script>
	<style type="text/css">
		#nav-link-scroll{

			height: 300px;
			overflow-y: scroll;
			overflow-x: hidden;
		}
		.dropdown {
			position: relative;
			display: inline-block;
		}

		.modal-backdrop {
			position: static;
		}

		.dropdown-content {
			display: none;
			position: absolute;
			background-color: #343A40;
			border: 1px solid rgb(70, 77, 85);
			min-width: 90px;
			font-size: 12px;
			box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
			padding: 10px 10px 10px 10px;
			z-index: 1;
			overflow-y: scroll;
			overflow-x: scroll;
		}

		.dropdown:hover .dropdown-content {
			display: block;
		}

		@font-face {
			font-family: 'Cabin';
			src: url('/static/fonts/Cabin/Cabin-Regular.ttf');
		}

		@font-face {
			font-family: 'Pacifico';
			src: url('/static/fonts/Pacifico/Pacifico-Regular.ttf');
		}

		body {
			font-size: 0.8em !important;
		}
	</style>
	{% block customcss %}
	{% endblock %}
</head>

<body onload="myfuc();">

	{% if request.GET.unauth %}

	<script type="text/javascript">
		alert("Sorry You Don't Have Permission");
	</script>

	{% endif %}


	<!-- =================================================================================== -->
	<!-- Loader -->

	<div class="loader" id="loader">
		<img src="{% static 'img/loader.gif' %}">
	</div>

	<script type="text/javascript">

	</script>

	<!-- ======================================================================== -->
	<!-- Navbar -->


	<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-0 fixed-top navbar1" style="height: 60px;">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo4" aria-controls="navbarTogglerDemo4"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class=""><i class="fas fa-bars"></i></span>
		</button>

		<!-- responsive serch -->

		<form method='get' class=" form-inline d-flex md-form form-sm my-2 my-lg-0 ml-3 d-none d-sm-block d-md-block d-lg-none serch_input" style="width: 50%" action='/search'>
            {% comment %} <input class="form-control mr-sm-2" type="search" placeholder="Product Search" aria-label="Search"> {% endcomment %}
            <input class="form-control form-control-sm mr-3 w-75" type="search" placeholder="Product Search" aria-label="Search" name='query' id='query'>
		</form>
			{% if request.user.is_authenticated %}
			<i class="nav-item py-2 .d-none .d-md-block d-lg-none "><a href="/cart" class="h4">
					<i class="fas fa-shopping-cart color-white hov-a cursor-pointer .d-none .d-md-block d-lg-none"></i><sup><span
							class="badge badge-dark">{{ cartItems }}</span></sup></a></i>
			{% else %}
			<i class="nav-item py-2 .d-none .d-md-block d-lg-none "><a href="/cart" class="h4">
					<i class="fas fa-shopping-cart color-white hov-a cursor-pointer .d-none .d-md-block d-lg-none"></i><sup><span
							class="badge badge-dark" id="cart_counter"></span></sup></a></i>
			{% endif %}
			<!-- responsive serch end-->

		<a class="navbar-brand px-1" href="/">
			<!--<img src="{{logo.image.url}}" alt="">-->
			<img src="{% static 'img/logo.png' %}" alt="" width="30px" height="30px">
		</a>

		<form method='get' class=" form-inline md-form form-sm d-none d-sm-none d-md-none d-lg-block  " action='/search'>
            {% comment %} <input class="form-control mr-sm-2" type="search" placeholder="Product Search" aria-label="Search"> {% endcomment %}
            <input class="form-control form-control-sm mr-3 w-75" type="search" placeholder="Product Search" aria-label="Search" name='query' id='query'>
            <button type="submit" class="fas fa-search" style="color: white;" aria-hidden="true"></button>
         </form>

		<div class="collapse navbar-collapse mr-auto justify-content-center bg-dark" id="navbarTogglerDemo4">

			<ul class="navbar-nav text-center bg-dark">
				<li class="nav-item d-md-none my-4">
					<div class="row">
						{% if not request.user.is_authenticated %}
						<div class="col-4 text-center">
							<a href="/userdetail/login" class="text-decoration-none text-light"><i class="fas fa-2x fa-sign-in-alt"></i>
								<p class="br"> Login</p>
							</a>
						</div>
						<div class="col-4 text-center"><a href="/userdetail/register" class="text-decoration-none text-light"><i
									class="fas fa-2x fa-user-plus"></i>
								<p class="br"> Register</p>
							</a></div>
						<!--<div class="col-4 text-center">
							<a href="/cart" class="text-decoration-none text-light "><i class="fas fa-2x fa-shopping-cart"></i>
								<sup>
									<span class="badge badge-light h2" style="position: absolute; margin-left: 60%; margin-top: -60%;">{{cartItems}}</span>
								</sup>
								<br>
								Cart
							</a>
						</div>-->
						{% else %}
						<div class="col-4 text-center"><a href="/userdetail/logout" class="text-decoration-none text-light"><i
									class="fas fa-2x fa-sign-in-alt"></i><br> LogOut</a></div>
						<!--<div class="col-4 text-center">
							<a href="/cart" class="text-decoration-none text-light "><i class="fas fa-2x fa-shopping-cart"></i><sup><span
								class="badge badge-light" style="position: absolute; margin-left: 60%; margin-top: -60%;">{{cartItems}}</span></sup><br>Cart</a>
						</div>-->
						<div class="col-4 text-center">
							<a href="{% if vend_pro456 %}/userdetail/vendor_profile{% elif oim1.customer %}/userdetail/profile{% elif oim1.staff %}/userdetail/staff_profile{% elif oim1.vendor %}/userdetail/seller_profile{% elif oim1.buisness_Customer %}/buisness/buisness_profile{% elif ad789 %}/admin{% elif oim1.student %}{% url 'planner_home' %}{% else %}/userdetail/login{% endif %}"
								class="text-decoration-none text-light"><i class="fas fa-2x fa-user"></i><br> Profile</a>
						</div>
						{% endif %}
						<!--<div class="col-4 text-center">
							<a href="{% if vend_pro456 %}/userdetail/vendor_profile{% elif oim1.customer %}/userdetail/profile{% elif oim1.staff %}/userdetail/staff_profile{% elif oim1.vendor %}/userdetail/seller_profile{% elif oim1.buisness_Customer %}/buisness/buisness_profile{% elif ad789 %}/admin{% else %}/userdetail/login{% endif %}"
								class="text-decoration-none text-light"><i class="fas fa-2x fa-user"></i><br> Profile</a>
						</div>-->
				</li>

				<li class="nav-item dropdown active">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
						Quik
					</a>
					<div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
						<a class="dropdown-item text-light" href="{% url 'product_order' %}">Product Order</a>
						<a class="dropdown-item text-light" href="{% url 'services' %}">Services</a>
						<a class="dropdown-item text-light" href="{% url 'customize' %}">Customize</a>
						<a class="dropdown-item text-light" href="{% url 'quick_subscribe' %}">Subscription</a>

						<a class="dropdown-item text-light" href="{% url 'pick_and_deliver' %}">Pick & Deliver</a>
					</div>
				</li>
				<li class="nav-item py-2 px-2">
					<a class="text-light" href="{% url 'subscription' %}">Subscribe</a>
				</li>


				<li class="nav-item">
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-dark btn-sm py-2" data-toggle="modal" data-target="#staticBackdrop">
						Product
					</button>

					<!-- Modal -->
					<div class="modal position-fixed fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
						role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
						<div class="modal-dialog modal-xl text-white">
							<div class="modal-content bg-dark">
								<div class="modal-header">
									<h5 class="modal-title" id="staticBackdropLabel">Product</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									{% for i in tags_wise %}
									{% if i.homepage_link %}
									<div class="col px-0 py-3 mt-1 cursor-pointer hov-a">
										<a class="color-white hov-a pr-2" href="/{{i.name}}">{{i.name}}</a>
									</div>
									{% endif %}
									{% endfor %}
									{% if home_links.ready_to_wear %}
									<div class="col px-0 py-3 cursor-pointer hov-a" id="hov-drop1" onclick="">
										<a class="color-white hov-a pr-2">PRODUCTS</a><i class="fas fa-chevron-right pt-1"></i>
									</div>
									{% endif %}
									<div class="row">
										<div class="col-2 ml-4 cate-row">
											{% for cate,subcate in category.items %}
											<div class="row color-white pt-2 hov-a cursor-pointer" onclick="display(event,'{{cate}}');"
												id="cate_{{cate}}">
												{{cate}}<i class="fas fa-chevron-right pt-1" style="margin-left: .5vw;"></i>
											</div>
											{% endfor %}
										</div>
										<div class="col-9">
											<div class="container-fluid">
												{% for cate,subcate in category.items %}
												<div class="tabcontent" id="{{cate}}">
													<div class="row" style="font-size: 1em;" id="row_{{cate}}">
														{% for subhead,supcate in subcate.items %}
														<div class="col-2 ml-3">
															<div class="row mt-3" style="box-shadow: 0 4px 3px -3px white;">
																{% if subhead in product_sub_name %}
																<p class="head-sub cursor-pointer">{{subhead}}</p>
																<ul class="pl-0 list-sub">
																	{%for a in supcate %}
																	{% if a.name in product_name %}
																	<a href="/products?cate={{cate|to_and}}&sub={{subhead|to_and}}&sup={{a.name|to_and}}"
																		class="drop-a">
																		<li>{{a.name}}</li>
																	</a>
																	{% endif %}
																	{% endfor %}
																</ul>
																{% endif %}
															</div>
														</div>
														{% endfor %}
													</div>
												</div>
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="nav-item  active">
					{% if home_links.institutional %}
						<div> <a href="/buisness" class="nav-link text-light">Services</a></div>
					{% endif %}
				</li>
				<li class="nav-item  dropdown active">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
						Supermarket
					</a>
					<div class="dropdown-menu bg-dark p-3" aria-labelledby="navbarDropdown" id="nav-link-scroll">
						{% for item in market %}
						<a href="/products?cate={{item.product_Category}}&sub={{item.product_Subcategory}}"
							class="nav-link">{{item.product_Subcategory}}</a>
						<!-- <a href="#" class="nav-link">Fruits</a>
				<a href="#" class="nav-link">Vegitable</a> -->
						{% endfor %}

					</div>
				</li>
				<li class="nav-item  dropdown active">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
						Fashion
					</a>
					<div class="dropdown-menu bg-dark p-3" aria-labelledby="navbarDropdown">
						<a href="#" class="nav-link">Mens</a>
						<a href="#" class="nav-link">Womens</a>
						<a href="#" class="nav-link">Kids</a>
						<a href="#" class="nav-link">Home & Living</a>
						<a href="#" class="nav-link">Fabric</a>



					</div>
				</li>
				<li class="nav-item  dropdown active">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
						Electronics
					</a>
					<div class="dropdown-menu bg-dark p-3" aria-labelledby="navbarDropdown">
						{% for item in electronic %}
						<a href="/products?cate={{item.product_Category}}&sub={{item.product_Subcategory}}"
							class="nav-link">{{item.product_Subcategory}}</a>
						<!-- <a href="#" class="nav-link">TV</a>
			<a href="#" class="nav-link">Home Appliances</a>
			<a href="#" class="nav-link">Accessory</a> -->
						{% endfor %}
					</div>
				</li>
				<li class="nav-item px-1 dropdown active">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
						Brand
					</a>
					<div class="dropdown-menu bg-dark p-3" aria-labelledby="navbarDropdown" id="nav-link-scroll">
						<form method='get' class="form-inline d-flex md-form form-sm my-2 my-lg-0" action='/searchbrand'>
							<input class="form-control form-control-sm mr-3 w-75" type="search" placeholder="Brand Search" aria-label="Search" name='query' id='query'>
							<!-- <button type="submit" class="fas fa-search" style="color: white;" aria-hidden="true"></button> -->

							</form>
						{% for br in brand %}
						<a href="/products?cate={{br.product_Category}}&brand={{br.brand}}" class="nav-link">{{ br.brand }}</a>
						<!-- <a href="#" class="nav-link">Lenovo</a>
						<a href="#" class="nav-link">Brook Bond</a>
						<a href="#" class="nav-link">Amul</a> -->
						{% endfor %}
					</div>
				</li>

				<li class="nav-item px-1 dropdown active">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
						Store
					</a>
					<div class="dropdown-menu bg-dark p-3" aria-labelledby="navbarDropdown">
						{% for item in store %}
						<a href="/products?cate={{item.product_Category}}" class="nav-link">{{ item.product_Category }}</a>
						<!-- <a href="#" class="nav-link">Fashion</a>
						<a href="#" class="nav-link">Electronics</a>
						<a href="#" class="nav-link">Services</a> -->
						{% endfor %}
					</div>
				</li>

				<li class="nav-item dropdown active">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
						B2B
					</a>
					<div class="dropdown-menu bg-dark p-3" aria-labelledby="navbarDropdown">
						<a href="/" class="nav-link">Ready Stock</a>
						<a href="/buisness/placeorder" class="nav-link"> Made To Order</a>
						{% if home_links.institutional %}
						<div> <a href="/buisness" class="nav-link">Institutional</a></div>
						{% endif %}

					</div>
				</li>
			</ul>
			<ul class="navbar-nav text-center">
				<li class="nav-item py-2 d-none d-md-block">
					<a href="#" class="h3 px-3">
						<i class="fa fa-map-marker-alt color-white hov-a cursor-pointer" ></i>
					</a>
				</li>
				<li class="nav-item dropdown px-1 d-none d-md-block">
					<a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-2x color-white fa-user-circle" ></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right bg-dark rounded px-5" aria-labelledby="navbarDropdown">
						<a class="dropdown-item text-light h5" href="/order_history">Order</a>
						<a class="dropdown-item text-light h5" href="/wallet">Wallet</a>
						<a class="dropdown-item text-light h5" href="/wishlists">Wishlist</a>
						{% if home_links.task %}
						<a class="dropdown-item text-light h5" href="{% url 'dash' %}" class="nav-link">Task</a>
						{% endif %}

						<div class="dropdown-divider"></div>
						<div class="row py-3">
							{% if not request.user.is_authenticated %}
							<div class="col-6">
								<a href="/userdetail/login" class="text-decoration-none text-light"><i class="fas fa-2x fa-sign-in-alt"></i>Login</a>
							</div>
							<div class="col-6"><a href="/userdetail/register" class="text-decoration-none text-light"><i
										class="fas fa-2x fa-user-plus"></i>Register</a></div>
							{% else %}
							<div class="col-6">
								<a href="{% if vend_pro456 %}/userdetail/vendor_profile{% elif oim1.customer %}/userdetail/profile
							{% elif oim1.staff %}/userdetail/staff_profile{% elif oim1.vendor %}/userdetail/seller_profile
							{% elif oim1.buisness_Customer %}/buisness/buisness_profile{% elif ad789 %}/admin{% else %}
							/userdetail/login{% endif %}" class="text-decoration-none text-light">
									<i class="fas fa-2x fa-user"></i>Profile</a>
							</div>
							<div class="col-6"><a href="/userdetail/logout" class="text-decoration-none text-light"><i
										class="fas fa-2x fa-sign-in-alt"></i>LogOut</a></div>
							{% endif %}

						</div>
					</div>
				</li>
				{% if request.user.is_authenticated %}
				<li class="nav-item py-2 d-none d-md-block"><a href="/cart" class="h4">
						<i class="fas fa-shopping-cart color-white hov-a cursor-pointer"></i><sup><span
								class="badge badge-dark">{{ cartItems }}</span></sup></a></li>
				{% else %}
				<li class="nav-item py-2 d-none d-md-block"><a href="/cart" class="h4">
					<i class="fas fa-shopping-cart color-white hov-a cursor-pointer"></i><sup><span
						class="badge badge-dark" id="cart_counter"></span></sup></a></li>

				{% endif %}
						<script>
							function getCount() {
								let cart = localStorage.getItem("cart");
								cart  = JSON.parse(cart);
								let total = 0;
								console.log(cart);
								for(let [key, value] of Object.entries(cart)){
									total += value[0];
								}

								let cart_count = document.getElementById("cart_counter");
								cart_count.innerText = total;

							}

							$(function(){
								getCount();
							});
							// window.onload = getCount();
						</script>

			</ul>
		</div>
	</nav>
	<div class="d-none d-lg-block d-xl-block">
		<nav class="navbar  navbar-expand-md navbar-dark bg-dark mb-0 h6 " style="height: 30px;">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo4"
				aria-controls="navbarTogglerDemo4" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon hidden-md-down"></span>
			</button>
			<a class="navbar-brand px-2" href="/">
				<!--<img src="{{logo.image.url}}" alt="">-->
				<img src="{% static 'img/logo.png' %}" alt="" width="30px" height="30px">
			</a>

			<div class="collapse navbar-collapse mr-auto" id="navbarTogglerDemo4">
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Productss Search" aria-label="Search">

				</form>
				<ul class="navbar-nav ml-auto mt-2 mt-lg-0 font-weight-normal">
					<li class="nav-item d-md-none my-4">
						<div class="row">
							{% if not request.user.is_authenticated %}
							<div class="col-4 text-center">
								<a href="/userdetail/login" class="text-decoration-none text-light"><i
										class="fas fa-2x fa-sign-in-alt"></i>
									<p class="br"> Login</p>
								</a>
							</div>
							<div class="col-4 text-center"><a href="/userdetail/register"
									class="text-decoration-none text-light"><i class="fas fa-2x fa-user-plus"></i>
									<p class="br"> Register</p>
								</a></div>
							<div class="col-4 text-center">
								<a href="/cart" class="text-decoration-none text-light "><i
										class="fas fa-2x fa-shopping-cart"></i><sup><span class="badge badge-light h2"
											style="
									position: absolute;
									margin-left: 60%;
									margin-top: -60%;
											">{{cartItems}}</span></sup><br>Cart</a>
							</div>


							{% else %}

							<div class="col-4 text-center"><a href="/userdetail/logout"
									class="text-decoration-none text-light"><i class="fas fa-2x fa-sign-in-alt"></i><br>
									LogOut</a></div>
							<div class="col-4 text-center">
								<a href="/cart" class="text-decoration-none text-light "><i
										class="fas fa-2x fa-shopping-cart"></i><sup><span class="badge badge-light" style="
										position: absolute;
										margin-left: 60%;
										margin-top: -60%;
									">{{cartItems}}</span></sup><br>Cart</a>
							</div>
							{% endif %}
							<div class="col-4 text-center">
								<a href="{% if vend_pro456 %}/userdetail/vendor_profile{% elif oim1.customer %}/userdetail/profile{% elif oim1.staff %}/userdetail/staff_profile{% elif oim1.vendor %}/userdetail/seller_profile{% elif oim1.buisness_Customer %}/buisness/buisness_profile{% elif ad789 %}/admin{% elif oim1.student %}{% url 'planner_home' %}{% else %}/userdetail/login{% endif %}"
									class="text-decoration-none text-light"><i class="fas fa-2x fa-user"></i><br>
									 Profile</a>
							</div>
						</div>
					</li>

					<li class="nav-item px-1 dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Order
						</a>
						<div class="dropdown-menu bg-dark p-3" aria-labelledby="navbarDropdown">
							<a class="dropdown-item text-light" href="{% url 'product_order' %}">Product Order</a>
							<a class="dropdown-item text-light" href="{% url 'services' %}">Services</a>
							<a class="dropdown-item text-light" href="{% url 'customize' %}">Customize</a>
							<a class="dropdown-item text-light" href="{% url 'subscription' %}">Subscription</a>
							<a class="dropdown-item text-light" href="{% url 'pick_and_deliver' %}">Pick & Deliver</a>
						</div>
					</li>
					<li class="nav-item px-1">
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#staticBackdrop">
							Product
						</button>

						<!-- Modal -->
						<div class="modal position-fixed fade" id="staticBackdrop" data-backdrop="static"
							data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel"
							aria-hidden="true">
							<div class="modal-dialog modal-xl text-white">
								<div class="modal-content bg-dark">
									<div class="modal-header">
										<h5 class="modal-title" id="staticBackdropLabel">Product</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										{% for i in tags_wise %}
										{% if i.homepage_link %}
										<div class="col px-0 py-3 mt-1 cursor-pointer hov-a">
											<a class="color-white hov-a pr-2" href="/{{i.name}}">{{i.name}}</a>
										</div>
										{% endif %}
										{% endfor %}
										{% if home_links.ready_to_wear %}
										<div class="col px-0 py-3 cursor-pointer hov-a" id="hov-drop1" onclick="">
											<a class="color-white hov-a pr-2">PRODUCTS</a><i
												class="fas fa-chevron-right pt-1"></i>
										</div>
										{% endif %}
										<div class="row">
											<div class="col-2 ml-4 cate-row">
												{% for cate,subcate in category.items %}
												<div class="row color-white pt-2 hov-a cursor-pointer"
													onclick="display(event,'{{cate}}');" id="cate_{{cate}}">
													{{cate}}<i class="fas fa-chevron-right pt-1"
														style="margin-left: .5vw;"></i>
												</div>
												{% endfor %}
											</div>
											<div class="col-9">
												<div class="container-fluid">
													{% for cate,subcate in category.items %}
													<div class="tabcontent" id="{{cate}}">
														<div class="row" style="font-size: 1em;" id="row_{{cate}}">
															{% for subhead,supcate in subcate.items %}
															<div class="col-2 ml-3">
																<div class="row mt-3"
																	style="box-shadow: 0 4px 3px -3px white;">
																	{% if subhead in product_sub_name %}
																	<p class="head-sub cursor-pointer">{{subhead}}</p>
																	<ul class="pl-0 list-sub">
																		{%for a in supcate %}
																		{% if a.name in product_name %}
																		<a href="/products?cate={{cate|to_and}}&sub={{subhead|to_and}}&sup={{a.name|to_and}}"
																			class="drop-a">
																			<li>{{a.name}}</li>
																		</a>
																		{% endif %}
																		{% endfor %}

																	</ul>
																	{% endif %}
																</div>
															</div>
															{% endfor %}
														</div>
													</div>
													{% endfor %}
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="nav-item px-1">{% if home_links.institutional %}
						<div> <a href="/buisness" class="nav-link">Services</a></div>{% endif %}
					</li>
					<li class="nav-item px-1 dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Supermarket
						</a>
						<div class="dropdown-menu bg-dark p-3" aria-labelledby="navbarDropdown">
							{% for item in market %}
							<a href="/products?cate={{item.product_Category}}&sub={{item.product_Subcategory}}"
								class="nav-link">{{item.product_Subcategory}}</a>
							<!-- <a href="#" class="nav-link">Fruits</a>
						<a href="#" class="nav-link">Vegitable</a> -->
							{% endfor %}

						</div>
					</li>
					<li class="nav-item px-1 dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Fashion
						</a>
						<div class="dropdown-menu bg-dark p-3" aria-labelledby="navbarDropdown">
							<a href="#" class="nav-link">Mens</a>
							<a href="#" class="nav-link">Womens</a>
							<a href="#" class="nav-link">Kids</a>
							<a href="#" class="nav-link">Home & Living</a>
							<a href="#" class="nav-link">Fabric</a>

							{% if home_links.mtm %}
							<a href="/madetomeasure" class="nav-link">Made To Measure</a>
							{% endif %}

							{% if home_links.bespoke %}
							<a href="/bespoke" class="nav-link">Bespoke</a>
							{% endif %}
							{% if home_links.printful %}
							<a href="{% url 'printful' %}" class="nav-link">Printful</a>
							{% endif %}
							{% if home_links.my_Design %}
							<a href="/mydesign" class="nav-link">My Design</a>
							{% endif %}

						</div>
					</li>
					<li class="nav-item px-1 dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Electronics
						</a>
						<div class="dropdown-menu bg-dark p-3" aria-labelledby="navbarDropdown">
							{% for item in electronic %}
							<a href="/products?cate={{item.product_Category}}&sub={{item.product_Subcategory}}"
								class="nav-link">{{item.product_Subcategory}}</a>
							<!-- <a href="#" class="nav-link">TV</a>
					<a href="#" class="nav-link">Home Appliances</a>
					<a href="#" class="nav-link">Accessory</a> -->
							{% endfor %}
						</div>
					</li>


					<li class="nav-item px-1 dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Brand
						</a>
						<div class="dropdown-menu bg-dark p-3" aria-labelledby="navbarDropdown">
							{% for br in brand %}
							<a href="/products?cate={{br.product_Category}}&brand={{br.brand}}" class="nav-link">{{ br.brand }}</a>
							<!-- <a href="#" class="nav-link">Lenovo</a>
							<a href="#" class="nav-link">Brook Bond</a>
							<a href="#" class="nav-link">Amul</a> -->
							{% endfor %}
						</div>
					</li>
					<li class="nav-item px-1 dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Store
						</a>
						<div class="dropdown-menu bg-dark p-3" aria-labelledby="navbarDropdown">
							{% for item in store %}
							<a href="/products?cate={{item.product_Category}}" class="nav-link">{{ item.product_Category }}</a>
							<!-- <a href="#" class="nav-link">Fashion</a>
							<a href="#" class="nav-link">Electronics</a>
							<a href="#" class="nav-link">Services</a> -->
							{% endfor %}
						</div>
					</li>
					<li class="nav-item px-1">{% if home_links.institutional %}
						<div> <a href="/buisness" class="nav-link">Social</a></div>{% endif %}
					</li>
					<li class="nav-item px-1">{% if home_links.institutional %}
						<div> <a href="/buisness" class="nav-link">News</a></div>{% endif %}
					</li>
					<li class="nav-item px-1">{% if home_links.institutional %}
						<div> <a href="/buisness" class="nav-link">Blog</a></div>{% endif %}
					</li>
					<li class="nav-item px-1">{% if home_links.institutional %}
						<div><a href="/userdetail/staff_profile/message" class="nav-link">Consult</a></div> {% endif %}
					</li>
					<li class="nav-item px-2">
						<a class="nav-link" href="/">B2C<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item px-1 dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							B2B
						</a>
						<div class="dropdown-menu bg-dark p-3" aria-labelledby="navbarDropdown">
							<a href="/" class="nav-link">Ready Stock</a>
							<a href="/buisness/placeorder" class="nav-link"> Made To Order</a>
							{% if home_links.institutional %}
							<div> <a href="/buisness" class="nav-link">Institutional</a></div>
							{% endif %}

						</div>
					</li>
					<li class="nav-item dropdown d-none d-md-block">
						<a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-2x color-white fa-user-circle"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-right bg-dark rounded px-3"
							aria-labelledby="navbarDropdown">
							<a class="dropdown-item text-light h5" href="#">Order</a>
							<a class="dropdown-item text-light h5" href="/wallet">Wallet</a>
							<a class="dropdown-item text-light h5" href="/wishlists">Wishlist</a>
							{% if home_links.task %}
							<a class="dropdown-item text-light h5" href="{% url 'dash' %}" class="nav-link">Task</a>
							{% endif %}
							<div class="dropdown-divider"></div>
							<div class="row py-3">
								{% if not request.user.is_authenticated %}
								<div class="col-6">
									<a href="/userdetail/login" class="text-decoration-none text-light"><i
											class="fas fa-2x fa-sign-in-alt"></i>Login</a>
								</div>
								<div class="col-6"><a href="/userdetail/register" class="text-decoration-none text-light"><i
											class="fas fa-2x fa-user-plus"></i>Register</a></div>
								{% else %}
								<div class="col-6">
									<a href="{% if vend_pro456 %}/userdetail/vendor_profile{% elif oim1.customer %}/userdetail/profile
										{% elif oim1.staff %}/userdetail/staff_profile{% elif oim1.vendor %}/userdetail/seller_profile
										{% elif oim1.buisness_Customer %}/buisness/buisness_profile{% elif ad789 %}/admin{% elif oim1.b2b_order %}{% url 'b2b_consumer' %}{% else %}
										/userdetail/login{% endif %}" class="text-decoration-none text-light">
										<i class="fas fa-2x fa-user"></i>Profile</a>
								</div>
								<div class="col-6"><a href="/userdetail/logout" class="text-decoration-none text-light"><i
											class="fas fa-2x fa-sign-in-alt"></i>LogOut</a></div>
								{% endif %}

							</div>
						</div>
					</li>
					<li class="nav-item d-none d-md-block py-2"><a href="/cart" class="h4">
							<i class="fas fa-shopping-cart color-white hov-a cursor-pointer"></i><sup>
								<span class="badge badge-dark">{{cartItems}}</span></sup></a></li>
				</ul>
			</div>
		</nav>

	</div>
	<!-- There is a another bar for resonsive purpose -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 35px;">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<ul class="nav navbar-nav navbar-center"
				style="position: absolute; left: 50%; transform: translatex(-50%);">
				{% if home_links.printful %}
				<li><a href="{% url 'printful' %}" class="px-3 nav-link">Personalize</a></li>
				{% endif %}
				{% if home_links.mtm %}
				<li><a href="/madetomeasure" class="px-3 nav-link">Customize</a></li>
				{% endif %}
				{% if home_links.institutional %}
				<li> <a href="https://www.tryndbuy.com/women-sweatshirt/i/83" class="px-3 nav-link">Visualize</a></li>
				{% endif %}
				{% if home_links.my_Design %}
				<li> <a href="/mydesign" class="px-3 nav-link">Socialize</a></li>
				{% endif %}
				{% if home_links.institutional %}
				<li> <a href="/news" class="px-3 nav-link">News</a></li>
				{% endif %}
				{% if home_links.institutional %}
				<li> <a href="/blog" class="px-3 nav-link">Blog</a></li>
				{% endif %}
				{% if home_links.institutional %}
				<li> <a href="#" class="px-3 nav-link">Compare</a></li>
				{% endif %}
				{% if home_links.institutional %}
				<li><a href="/userdetail/staff_profile/message" class="px-3 nav-link">Consult</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row d-md-block d-lg-none pt-2">
		<div class="wrapper  pt-4 ">
			{% if home_links.printful %}
			<div class="items"><a href="{% url 'printful' %}" class=""><img
						src="https://image.flaticon.com/icons/svg/1345/1345260.svg">
					<p >Personaliz</p>
				</a></div>
			{% endif %}
			{% if home_links.mtm %}
			<div class="items"><a href="/madetomeasure"> <img
						src="https://image.flaticon.com/icons/svg/681/681560.svg">
					<p>Customize</p>
				</a></div>
			{% endif %}
			{% if home_links.institutional %}
			<div class="items"> <a href="https://www.tryndbuy.com/women-sweatshirt/i/83"><img
						src="https://image.flaticon.com/icons/svg/3026/3026023.svg">
					<p>Visualize</p>
				</a></div>
			{% endif %}
			{% if home_links.my_Design %}
			<div class="items"> <a href="/mydesign"><img
						src="https://image.flaticon.com/icons/svg/875/875460.svg" alt="">
					<p>Socialize</p>
				</a></div>
			{% endif %}
			{% if home_links.institutional %}
			<div class="items"> <a href="/news"> <img
						src="https://image.flaticon.com/icons/svg/1074/1074208.svg">
					<p>News</p>
				</a></div>
			{% endif %}
			{% if home_links.institutional %}
			<div class="items"> <a href="/blog"> <img
						src="https://image.flaticon.com/icons/svg/1187/1187544.svg">
					<p>Blog</p>
				</a></div>
			{% endif %}
			{% if home_links.institutional %}
			<div class="items"> <a href="#"> <img
						src="https://image.flaticon.com/icons/svg/2331/2331709.svg">
					<p>Compare</p>
				</a></div>
			{% endif %}
			{% if home_links.institutional %}
			<div class="items"><a href="/userdetail/staff_profile/message"> <img src="https://image.flaticon.com/icons/svg/1848/1848755.svg"><p>Consult</p></a></div>
			{% endif %}
		</div>
	</div>


	<div class="row">
		{% block topcontent %}

		{% endblock %}
	</div>







	<!-- <div class="container-fluid dp"> -->

	{% block content %}

	{% endblock %}


	<div class="row " style="height: auto; position: relative;top: 40px;">

		<div class="container-fluid" style="background: #253031;">
			<div class="row">

				<div class="col-6 col-lg-2 color-white">

					<h5 class="mt-5 ml-2">Services</h5>
					<ul class="ml-2 mt-3" style="list-style-type: none; padding: 0;padding-left: 1vw;">
						<a href="http://justgetit.in" class="hov-a" style="color:white;">
							<li class="hov-a cursor-pointer">Home</li>
						</a>
						<a href="/buisness/enquiry" class="hov-a" style="color:white;">
							<li class="hov-a cursor-pointer">Enquiry</li>
						</a>
						<a href="/buisness/design" class="hov-a" style="color:white;">
							<li class="hov-a cursor-pointer">Design</li>
						</a>
						<a href="/buisness/sampling" class="hov-a" style="color:white;">
							<li class="hov-a cursor-pointer">Sampling</li>
						</a>
						<a href="/buisness/placeorder" class="hov-a" style="color:white;">
							<li class="hov-a cursor-pointer">Bulk Orders</li>
						</a>
						<a href="/daily_report" class="hov-a" style="color:white;">
							<li class="hov-a cursor-pointer">Daily Report</li>
						</a>
						<a href="https://drive.google.com/open?id=1KCfQ1Hp58fmt9I-AvA0fUuZOv4JUMux9q8-AsxX_Gtg" class="hov-a" style="color:white;">
							<li class="hov-a cursor-pointer">Daily Work Upload</li>
						</a>
					</ul>

				</div>
				<div class="col-6 col-lg-2 color-white">
					<h5 class="mt-5 ml-2">Email :</h5>
					<ul class="ml-2 mt-3" style="list-style-type: none; padding: 0;padding-left: 1vw;">
						<li class="hov-a cursor-pointer">info@justgetit.in</li>
						<li class="hov-a cursor-pointer">sales@justgetit.in</li>
						<li class="hov-a cursor-pointer">hr@justgetit.in</li>
						<li class="hov-a cursor-pointer">support@justgetit.in</li>
						<li class="hov-a cursor-pointer">admin@justgetit.in</li>
					</ul>
				</div>


				<div class="col-6 col-lg-2 color-white">
					<h5 class="mt-5 ml-2">Address</h5>
					<p class="ml-3 mt-3">{{address789.address_of_website|linebreaks}}</p>
					<p> 7th Floor, Banni, Near Lemon Green Hotel, Golf Course Road, Sector 55, Gurugram, 122003 </p>
					<p> Urbano L, Lodha palava lakeshore green Dombivli, Thane, Maharashtra, India, 421204 </p>
				</div>
				<div class="col-6 col-lg-2 color-white newslet">
					<h5 class="mt-5 ml-2">Newsletter</h5>
					<form method="POST">{% csrf_token %}
						<input type="email" name="subscribe" placeholder="Email" class="ml-3"
							style="border: none; border-bottom: 1px solid white; color: white;background: transparent;">
						<button style="border:none;background: #30c5ff;color: white; border-radius: 30px;" class="mt-3 ml-4 py-1 px-4 but-subs"
							type="submit">Subscribe</button>
					</form>
				</div>
				<div class="col-6 col-lg-2 mt-3">
					<a href="/"><img src="{% static 'img/payment.png' %}" class="img-fluid"></a>
				</div>

				<div class="col-xs-12 col-md-2 col-lg-3 color-white">
					{% if home_links.footer_track or home_links.footer_shipping or home_links.footer_return or home_links.footer_faq %}<h5
						class="mt-5 ml-2">Help</h5>{% endif %}
					<ul class="ml-2 mt-3" style="list-style-type: none; padding: 0;padding-left: 1vw;">
						{% if home_links.footer_track %}<li class="hov-a mt-2 cursor-pointer">Track Order</li>{% endif %}
						{% if home_links.footer_shipping %}<li class="hov-a cursor-pointer">Shipping</li>{% endif %}
						{% if home_links.footer_return %}<li class="hov-a cursor-pointer">Returns</li>{% endif %}
						{% if home_links.footer_faq %}<li class="hov-a cursor-pointer">FAQs</li>{% endif %}
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-12 m-0 p-0">
					<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
						<a class="navbar-brand" href="#"></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
							aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item active">
									<a class="nav-link navbar-nav" href="/userdetail/seller_registration">Register Seller <span
											class="sr-only">(current)</span></a>
								</li>
								<li class="nav-item active">
									<a class="nav-link navbar-nav" href="/userdetail/buisness_registration">Register Business <span
											class="sr-only">(current)</span></a>
								</li>
								<li class="nav-item active">
									<a class="nav-link navbar-nav" href="/userdetail/register">Register Consumer <span
											class="sr-only">(current)</span></a>
								</li>
								<li class="nav-item active">
									<a class="nav-link navbar-nav" href="/userdetail/staff_registration">Register Staff <span
											class="sr-only">(current)</span></a>
								</li>
								<li class="nav-item active">
									<a class="nav-link navbar-nav" href="http://about.justgetit.in">About Us <span
											class="sr-only">(current)</span></a>
								</li>
								<li class="nav-item active">
									<a class="nav-link navbar-nav" href="/term">Terms & Conditions <span
											class="sr-only">(current)</span></a>
								</li>
								<li class="nav-item active">
									<a class="nav-link navbar-nav"  href="/privacy">Privacy policy <span
											class="sr-only">(current)</span></a>
								</li>
							</ul>


							<!--Facebook-->
							<div class="row social">
								<a href="https://www.facebook.com/justy.gety"><img
										src="https://img.icons8.com/fluent/48/000000/facebook-new.png" />
									<!--<i class="fab fa-2x fa-facebook-f"></i>--></a>
								<!--Twitter-->
								<a href="https://twitter.com/JUSTGETIT9"><img
										src="https://img.icons8.com/fluent/48/000000/twitter.png" />
									<!--<i class="fab fa-2x fa-twitter"></i>--></a>
								<!--Google +-->
								<img src="https://img.icons8.com/fluent/48/000000/google-plus.png" />
								<!--Linkedin-->
								<a href="https://www.linkedin.com/in/just-get-it-74177b1a8/"><img
										src="https://img.icons8.com/fluent/48/000000/linkedin-2.png" /></a>
								<!--Instagram-->
								<img src="{% static 'img/playstore.png' %}" alt="" width="40px" height="40px"/>
								<img src="https://img.icons8.com/color/48/000000/apple-app-store--v1.png"/>
								<img src="https://img.icons8.com/color/48/000000/whatsapp.png"/>
								<img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" />
								<img src="https://img.icons8.com/fluent/48/000000/youtube-play.png" />
								<img src="https://img.icons8.com/fluent/48/000000/pinterest.png" />
								<!--<img src="https://img.icons8.com/fluent/48/000000/skype.png" />-->
								<img src="https://img.icons8.com/fluent/48/000000/telegram-app.png" />
							</div>
						</div>
					</nav>
				</div>
			</div>

		</div>

	</div>





	</div>





	<!-- ======================================================================== -->




	<script type="text/javascript">
		function myfuc() {
			// alert("called");
			var qwe = document.getElementById('loader');
			qwe.style.display = "none";
		}
	</script>
	<script type="text/javascript" src="{% static 'js/script.js' %}">

	</script>
	<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
	{% block js %} {% endblock %}
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> -->
</body>
<style>
	@media all and (max-width: 600px) {
		.social img {
			width: 30px;
		}

		.social {
			justify-content: center;
		}
		.navbar1{
			padding-bottom:50px;
			justify-content: space-between;
		}
		.product_serch{
			padding-left: 3em;
		}
		.serch_input{
			width: 70%;
		}
		.navbar-brand {
			margin-right: 0rem;
		}
	}
	.wrapper {
		display: flex;
		text-align: center;
		font-weight: 600;
		overflow-x: auto;
		background-color: #d6f1fc;
		padding-top: 15px;
	}

	.wrapper .items {
		min-width: 100px;
	}
	.wrapper::-webkit-scrollbar{
		width: 0;
	}
	.wrapper img {
		width: 4vh;
	}
	.wrapper a {
		color: #253031;
		font-size: 15px;
	}
	.wrapper p {
		margin-bottom: 0px;
	}
</style>
</html>
