{% extends 'base.html' %} {% load static %} {% block customcss %}
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    
    input[type=number] {
        -moz-appearance: textfield;
    }
    
    .dot {
        border: 1px solid grey;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        display: inline-block;
    }
</style>
{% endblock %} {% block content %}

<br>
<br>
<div class="container">
    {% if orderdata %}{% for data in orderdata %}
    <div class="row">
        <div class="col text-left">
            <h3>Order Id: {{data.0.id}}</h3>
        </div>
        <div class="col text-right" id="total">
            <h5>Total: ₹{{data.0.total}}/-</h5>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col text-left">
            <h6>Payment Info:</h6>
            <p>{{data.0.payment_method}}</p>
            <p>{% if data.0.payment_method == 'razorpay' %} Payment Status: {{data.0.payment_status}} {% endif %}</p>
            <h6>Shipping Address:</h6>
            <p>{{data.1.0.shipping_address.name}}, {{data.1.0.shipping_address.phone}}</p>
            <p>{{data.1.0.shipping_address.shipping_address}}, {{data.1.0.shipping_address.city}}-{{data.1.0.shipping_address.pin_code}} , {{data.1.0.shipping_address.state}}.
            </p>
        </div>

        <div class="col text-right">
            <p class="text-muted ">*Your changes are saved automatically</p>
                <a href="{% url 'add_items' order_id=data.0.id  %}" class="btn btn-primary btn-sm mr-3" >Add New Items</a> 
                <a href="{% url 'myorders'  %}" class="btn btn-primary btn-sm" >Back to My Orders</a> 
        </div>
    </div>
    {% for cate in categories %}
    {% for odItem in data.1 %}
    {% if cate == odItem.product.product_Category.first %}
    <div class="card">
        <h6 class="card-header">
        {{ odItem.product.product_Category.all|join:", "}} -
        {{odItem.product_name}}
        </h6>
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <img height="75" width="75" src="/media/{{odItem.product.image1}}">
                </div>
                <div class="col-4">
                    <p>Quantity: {{odItem.quantity}} Size: {{odItem.size_name}}</p>
                    <p>Sold by: {{odItem.seller_name}}</p>
                </div>
                <div class="col-2">
                    <h6 id="{{odItem.id}}-total">₹{{odItem.total}}</h6>
                    <label for="file">Order Status: {{odItem.order.status}}</label>
                    {% if odItem.order.status == "Accepted" %}
                    <progress id="file" value="16.66" max="100">  </progress>
                    {% elif odItem.order.status == "Packed" %}
                    <progress id="file" value="33.33" max="100">  </progress>
                    {% elif odItem.order.status == "Dispatched" %}
                    <progress id="file" value="50" max="100">  </progress>
                    {% elif odItem.order.status == "Reached Nearby" %}
                    <progress id="file" value="66.66" max="100">  </progress>
                    {% elif odItem.order.status == "Out for Delivery" %}
                    <progress id="file" value="83.33" max="100">  </progress>
                    {% elif odItem.order.status == "Delivered" %}
                    <progress id="file" value="100" max="100">  </progress>
                    {% endif %}
                </div>
                
                <div class="col-2">
                <div class="input-group">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-danger" onclick="decreaseQuant('{{odItem.id}}', 'quant-{{odItem.size_color.color}}-{{odItem.size_color.size}}');">
                      <span class="fas fa-minus"></span>
                    </button>
                    </span>
                    <input type="number" id="quant-{{odItem.size_color.color}}-{{odItem.size_color.size}}" value={{odItem.quantity}} class="form-control input-number" onchange="cartUpdate('{{odItem.id}}', this.value);">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-success" onclick="increaseQuant('{{odItem.id}}', 'quant-{{odItem.size_color.color}}-{{odItem.size_color.size}}');">
                      <span class="fas fa-plus"></span>
                    </button>
                    </span>

                </div>
                

                <div class="text-muted text-sm" id="{{odItem.id}}-message">

                </div>

            </div>
            <div class="col-2 text-right">
                    <a href='#' onclick="deleteOrderItem('{{odItem.id}}');" style="color: red;">Remove</a>
                </div>
            </div>
        </div>
    </div>
    <br> 
    {% endif %}
    {% endfor %}
    {% endfor %}


    <br> {% endfor %} {% else %}
    <br>
    <h4> Looks like you have Orders!</h4>
    <br> {% endif %}
</div>


<script>

    function increaseQuant(Oid, Id) {
        var quant_div = document.getElementById(Id);
        prev_val = quant_div.value;
        if (prev_val == "") {
            prev_val = 1;
        } else {
            prev_val = parseInt(prev_val);
            prev_val++;
        }
        quant_div.value = prev_val;
        orderUpdate(Oid, prev_val);
    }

    function decreaseQuant(Oid, Id) {
        var quant_div = document.getElementById(Id);
        prev_val = quant_div.value;
        if (prev_val == "") {
            prev_val = 1;
        }
        prev_val = parseInt(prev_val);
        if (prev_val > 1) {
            prev_val--;
        }
        quant_div.value = prev_val;
        orderUpdate(Oid, prev_val);
    }

    getCartItems(function(d) {
        console.log("GETTING CART ITEMS! total_cart_items");
        console.log("Cart Items: " + d);
        $('#total_cart_items').text(d);
    });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/cartnew/edit_order.js' %}"></script>

{% endblock %}