{% extends 'base.html' %} {% load static %} {% block customcss %} {% load crispy_forms_tags %}
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    
    input[type=number] {
        -moz-appearance: textfield;
    }
    
    .dot {
        border: 1px solid grey;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        display: inline-block;
    }
</style>
{% endblock %} {% block content %}
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <!-- <h3><i class="fas fa-shopping-cart"></i> Cart:</h3> -->
                <h4> Rental: </h4>
                <h4 class="col text-right" id="cart_total">
                Total Security Amount to be Paid: ₹ {{security}} <br>
                Total Charges: ₹
                {% if cartTotal < 10000 %} {{cartTotal|add:101 }} {% else %}
                {{cartTotal}}
                {% endif %}/-</h4>
            </div>
            <hr> {% if cartdata %} {% for cartItem in cartdata %}
            <div class="row">
                <div class="col-1">
                    <img height="50" width="50" src="{{cartItem.product.image1.url}}">
                </div>
                <div class="col-3">
                    <h5>{{cartItem.product.title}}</h5>
                    <br>
                </div>
                <div class="col-4">
                    <h4>Starts on: {{cartItem.start_date|date:"d/m/y"}}</h4>
                    <h4>Ends on: {{cartItem.end_date|date:"d/m/y"}}</h4>
                </div>
                <div class="col-2">
                    <h5>Qty: {{cartItem.quantity}} &times;</h5>
                </div>
                <div class="col-2">
                    <h5>Price:₹{{cartItem.amount}}</h5>
                </div>
            </div>

            <br> {% endfor %} {% endif %}
        </div>
        <div class="col">
            
            <div class="row">
                <!-- <h3><i class="fas fa-shopping-cart"></i> Cart:</h3> -->
                <h4> Shipping Address: </h4>
            </div>
            <hr>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <h6>{{toAddress.name}}</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div style="height: 75px;">
                        <p>{{toAddress.shipping_address}}, {{toAddress.city}}-{{toAddress.pin_code}}, {{toAddress.state}}</p>
                    </div>
                    <p class="card-text"><strong>Phone No.: {{toAddress.phone}}</strong></p>
                    <div class="row text-center">
                        <div class="col">
                            <a href="{% url 'rent_selectaddress' %}" class="btn btn-primary btn-block">Change Address</a>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        <form method="POST">
        {% csrf_token %}
            <div class="card mt-2" id="bill-freq">
                
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Payment Method: <span id="pay-method"> </span></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-9 text-center">
            
                
                <div class="form-group">
                    <input type="radio" id="prepaid" name="payment_method" value="prepaid" oninput="changePayment('Pre paid')" required>
                    <label for="prepaid">Pre Paid</label><br>
                    <input type="radio" id="onspot" name="payment_method" value="onspot" oninput="changePayment('Onspot Payment')" required>
                    <label for="onspot">On-spot Payment</label><br>
                </div>
                <button type="submit" name="confirm_rental" value="{{toAddress.id}}" class="btn btn-primary">Confirm Rental Order</button>
            </form>
        </div>
        <div class="col text-center">
            {% if cartTotal > 10000 %}
            <p> You are eligible for free delivery. </p>
            {% else %}
            <p> You are not eligible for free delivery. <br> <b>Rs. 101 - Delivery Charges will be applied.</b> </p>
            {%endif%}
        </div>
    </div>
</div>
<br>
<br>


<script>

function changePayment(a){
    document.getElementById('pay-method').innerText = a
    if (a == "Pre paid"){
        document.getElementById("bill-freq").innerHTML = `
        <div class="card-header">
                    <div class="row">
                        <h6>Select Billing Frequency:</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                            <input type="radio" id="daily" name="bill_freq" value="daily" required>
                            <label for="daily">On delivery</label><br>
                            <input type="radio" id="Weekly" name="bill_freq" value="weekly" required>
                            <label for="Weekly">Weekly</label><br>
                            <input type="radio" id="monthly" name="bill_freq" value="monthly" required>
                            <label for="monthly">Monthly</label><br>
                    </div>
                </div>
        `
    } else{
        document.getElementById("bill-freq").innerHTML = ""
    }
}

</script>
{% endblock %}