{% extends 'base.html' %}

{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/customadmin/customadmin.css' %}">
{% endblock %}


{% block content %}

<div class="row" style="margin-bottom: 50vh;">
	<div class="container mt-2">

		<h4 class="fontpacifico">Select {{head}} to Change</h4>
		<div class="row mt-2 ml-3">
			{% for obj in objects %}
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 py-2" style="color: white; border-bottom: .1px solid black;">
				<a href="/customadmin/subcategories/{{obj.id}}" class="hov-a">{{obj}}</a>
			</div>
			{% endfor %}
		</div>
		<div class="row mt-3">
			<a href="/customadmin/subcategories/add" class="mx-auto"><button style="border:none;background: #30c5ff;color: white; border-radius: 30px;" class="mt-3 py-1 px-4 but-subs" type="button">
			Add Category</button></a>
		</div>
	</div>
</div>

{% endblock %}