{% extends 'base.html' %}
{% load static %}
{% block customcss %}
  <link rel="stylesheet" href="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css' %}">
  <script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js' %}"></script>
  <script src="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static '//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css' %}">

  <script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js' %}"></script>
  <script src="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js ' %}"></script>
  <script src="{% static '//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/channels/newtask.css' %}">
  <link rel="stylesheet" href="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static '//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css' %}">

  <script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js' %}"></script>
  <script src="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %}"></script>
  <script src="{% static '//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js' %}"></script>

{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" style="color: black;">{{project_name}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          
        </li>
        <br><br><br>
        
    </ul>
        
     
    </div>
  </nav>
  
<div id="container" >
    <div class="taskbox">
    
        <div class="taskcolumn" style="margin-right: 5px;color:black;">
            <div class="taskheading" style="background-color: #66b3ff;"><p align="center" style="color: green;font-size: 30px;">{{task_name}}</p></div>
            <div class="taskcontainer" style="background-color: #f5f5eb;">
                 <a href="add_subtask?project_id={{project_id}}&project={{project_name}}&task_name={{i.task_name}}&task_id={{i.id}}" id='p' ><img  height="20" width="20" src="{% static 'img/icon_add.png' %}"></a>
                 
            {% for j in sub_task_obj %}
              
            
                <!--<a onclick="myfun()" href="delete_subtask?sub_task_id={{j.id}}"  id='p' ><img  height="20" width="20" src="{% static 'img/icon_delete.png' %}"></a>
                <a onclick="myfun()" href="edit_subtask?sub_task_id={{j.id}}"  id='p' ><img  height="20" width="20" src="{% static 'img/icon_edit.png' %}"></a>-->

                <div class="taskcontents" onclick="contents(event,'{{j.id}}')"><p style="color: green;font-size: 25px;">{{j.sub_task_name}}</p><a onclick="myfun()" href="edit_subtask?sub_task_id={{j.id}}"  id='p' ><img  height="20" width="20" src="{% static 'img/icon_edit.png' %}"></a> <a onclick="myfun()" href="delete_subtask?sub_task_id={{j.id}}"  id='p' ><img  height="20" width="20" src="{% static 'img/icon_delete.png' %}"></a></div>

                <div style="padding-top: 20px;"></div> 
           
                <div class="taskdetails" id='{{j.id}}'>
                    <form method="post" action="add_activity?sub_task_id={{j.id}}&project_id={{project_id}}">
                        {% csrf_token %}
                        <input type="text" name="activity_name" size="25" >
                        
                    </form>
                    <div style="padding-top: 2px;"></div>
                    {% for k in activity_obj %}
                      {% ifequal j.id k.activity_map_id %}
                        
                                <p style="color: blue;" data-toggle="modal" data-target="#modal-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" >{{k.activity_name}} </p>
                                <div class="modal fade" id="modal-{{ forloop.parentloop.counter }}-{{forloop.counter}}" role="dialog" data-backdrop="false">
                                    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
                                        <div class="modal-content">
                                             <div class="modal-header" style="background-color: #0480be;">
                                                 <button style="color: black;" type="button" class="close" data-dismiss="modal" data-backdrop="false">&times;</button>
                                             </div>
                                             <div class="modal-body">
                                                <a href="delete_activity?activity_id={{k.id}}"><img  style="float: right;" height="20" width="20" src="{% static 'img/icon_delete.png' %}"></a>
                                                
                                               <a href="edit_activity?activity_id={{k.id}}"><img  style="float: right;" height="20" width="20" src="{% static 'img/icon_edit.png' %}"></a>
                                                  <h4 style="color: orange;">{{k.activity_name}}</h4>
                                                   <label class="heead">Assigned to</label><br>
                                                  <form method="post" action="activity_features?activity_id={{k.id}}&project_id={{project_id}}">
                                                  {% csrf_token %}
                                                    <select name="employee" class="selectpicker" data-live-search="true">
                                                      <option value="none">None</option>
                                                      {% for u in dobj %}
                                                        <option value="{{u.email}}">{{u.email}}</option>
                                                      {% endfor %}
                                                    </select>
                                                    <label class="heead" style="margin-left:  280px;margin-top: 1px;">Status :</label>
                                                      
                                                          {% ifequal k.status 'Completed' %}
                                                              <label class="heead" style="color: green;">{{k.status}}</label>
                                                            {% else %}
                                                               <select name='status'>
                                                                <option>Completed</option>
                                                                <option selected>Not Completed</option>
                                                            
                                                              </select>

                                                    
                                                          {% endifequal%}
                                                          
                                                        

                                                      
                                                   
                                                    
                                                        
                                                  <br><label class="heead">Checklist</label>
                                                  <ul>
                                                    {% for act in act_obj %}
                                                      {% ifequal k.id act.feat_id %}
                                                        {% if act.check_list %}

                                                      <li class="check">{{act.check_list}}</li>
                                                        {% endif %}    

                                                      {% endifequal %}
                                                    {% endfor %}   
                                                      
                                                        
                                                 </ul>
                                                <br><label style="color : #ff5500;">+ ADD CHECKLIST ITEM</label>
                                                <br><input type="text" name="check_item"><br><br>
                                                <label class="heead">Attachments</label>
                                                <ul>
                                                  {% for act in act_obj %}
                                                      {% ifequal k.id act.feat_id %}
                                                        {% if act.attachments %}

                                                      <li class="check">{{act.attachments}}</li>    
                                                        {% endif %}
                                                      {% endifequal %}
                                                  {% endfor %}  
                                                        
                                            </ul>
                                                <label style="color : #ff5500;">+ ADD ATTACHMENTS</label>
                                                <br><input type="file" name="file" multiple><br>
                                                <label class="heead">Comments:</label>
                                                <ul>
                                                {% for act in act_obj %}
                                                      {% ifequal k.id act.feat_id %}
                                                        {% if act.comment %}

                                                      <li class="check">{{act.comment}}</li>
                                                        {% endif %}    
                                                      {% endifequal %}
                                                {% endfor %}  
                                                       
                                                <ul>
                                                <br><textarea name="comment" cols="70" rows="5"  maxlength="1500"></textarea>
                                                
                                              
                                            </div>
                                            <div class="modal-footer" style="background-color: #0480be;">
                                                <br><br><button class="bottomleft" type="submit" style="background-color: orange; padding: 7px 12px; border: none">Submit</button>
                                              </form>
                                                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                         </div>
                                    </div> 
                             </div>  
                        <div style="padding-top: 2px;"></div>
                            {% endifequal %}
                        {% endfor %}

                    
                </div>

            
             {% endfor %}  
            </div>
        </div>   
        <br><a onclick="myfun()" href="delete_task?task_id={{i.id}}" id="p"><img height="20" width="20" src="{% static 'img/icon_delete.png' %} "></a>
        <br><a onclick="myfun()" href="edit_task?task_id={{i.id}}" id="p"><img height="25" width="25" src="{% static 'img/icon_edit.png' %} "></a>
        <br><a onclick="myfun()" href="assign_section?task_id={{i.id}}&project_id={{project_id}}" id="p"><img height="25" width="25" src="{% static 'img/icon_assign.png' %} "></a>
    
     <a href="add_task?project_id={{project_id}}&project={{project_name}}" id="p"><img height="20" width="20" src="{% static 'img/icon_add.png' %} "></a><br>
     
    
    </div>
</div>




<script src="{% static 'https://code.jquery.com/jquery-3.4.0.min.js' %}"></script> 
<script type="text/javascript">
    function contents(evt, formcontent){
       
        var i, content, links;
        content = document.getElementsByClassName("taskdetails");
        for (i = 0; i < content.length; i++) {
          content[i].style.display = "none";
        }
        links = document.getElementsByClassName("taskcontents");
        for (i = 0; i < links.length; i++) {
          links[i].className = links[i].className.replace(" active", "");
        }
        document.getElementById(formcontent).style.display = "block";
        evt.currentTarget.className += " active";
    }
    function myfun(){
      confirm('Warning : Once deleted all the project data will be loss')
    }
    
    
    

        
    
    


</script>
{% endblock %}