{% extends 'base_connect.html' %}
{% load static %}
{%load crispy_forms_tags%}
{% block content %}

<main id="page" role="main">
    <div id="content" class="main-content" data-content-field="main-content"
        data-collection-id="5f4f1eccca1e2c277194f1a0">

        <a href="{% url 'connect-event-manage' %}"> Go to manage form</a>
        <div class="container -sm">
            <form enctype="multipart/form-data" method="post" action="">
                {% csrf_token %}
                {{form|crispy}}

                {% if form.errors %}<li>{{ form.label }}: {{ form.errors|striptags }}</li>{% endif %}
                <button type="submit" class="btn btn-success">Create Event</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}