{% extends 'just-connect/index_body.html' %}

{% load static %}
{% load humanize %}
{% load readmore %}
{% load postProductPrice %}
{% block left %}

{% endblock left %}



{% block postcontent %}

<ul class="activity--items nav">
    {% for postd in posts %}
    <li>
        <!-- Activity Item Start -->
        <div class="    activity--item">
            <div class="activity--avatar">
                <a href="member-activity-personal.html">
                    <img src="{% static 'img/activity-img/avatar-02.png' %}" alt="">
                </a>
            </div>
        
            <div class="activity--info fs--14">
                <div class="activity--header">
                <div class ="dropdown" style="float:right">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin:60px">
                                    <i class="fa fa-ellipsis-v"></i>
                                </a>

                                <ul class="dropdown-menu" style="margin-right:100px">
                                {% if profile.id is postd.post_by.id %}
                                    <li><a type="button" class="" href="{% url 'editpost' postd.id %}" >Edit</a></li>
                                    <li><a type="button" class="" data-toggle="modal" data-target="#deleteModal{{postd.id}}">Delete</a></li>
                                {% endif %}
                                {% if postd.draft %}
                                    <li><a href="{% url 'post-draft' postd.id %}"><span>Post</span></a></li>
                                {% endif %}
                                {% if postd in bookmarks.posts.all %}
                                    <li><a href="{% url 'addbookmark' postd.id %}"><span>Remove Bookmark</span></a></li>
                                {% else %}
                                    <li><a href="{% url 'addbookmark' postd.id %}"><span>Bookmark</span></a></li>
                                {% endif %}
                                    <li><a href="{% url 'postdetail' postd.id %}"><span>View</span></a></li>
                                    {% comment %} <li><a href="{% url 'deletepost' postd.id %}"><span>Delete</span></a></li> {% endcomment %}
                                                                        
                                </ul>
                    
                    </div>
                    <!-- DeleteModal -->
                    <div class="modal fade" id="deleteModal{{postd.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Post- {{postd.post_title}} {% if postd.draft %}<span style="color:red"> Draft</span>{% endif %}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            
                            Are you sure you want to delete this {% if postd.draft %}<span style="color:red"> Draft!</span> {% else %} post!{% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a type="button" class="btn btn-warning" href="{% url 'editpost' postd.id %}"><span>Edit Instead</span></a>
                            <a type="button" class="btn btn-danger" href="{% url 'deletepost' postd.id %}">Delete {% if postd.draft %} Draft {% else %} Post{% endif %}</a>
                        </div>
                        </div>
                    </div>
                    </div>

                    <p><a href="member-activity-personal.html" class="text-lg">{{postd.post_by}} {% if postd.draft %}<span style="color:red"> Draft</span>{% endif %}</a></p>
                    
                </div>

                <div class="activity--meta fs--12">
                    <p><i class="fa mr--8 fa-clock-o"></i>{{postd.post_time}}</p>
                </div>

                <div class="">
                    {% comment %}class = "activity--content" {% endcomment %}
                    <h3>{{postdl.post_tite}}</h3>
                </div>


                <div class="activity--content" style="margin-bottom:2%">

                    {% comment %} images {% endcomment %}
                    <div id="carousel-{{postd.id}}" class="carousel slide" data-interval="false">
                        <!--Indicators-->
                        {% comment %} <ol class="carousel-indicators">
                            {% for p in postd.image.all %}

                            <li data-target="#carousel-{{postd.id}}" data-slide-to="{{ forloop.counter0 }}"
                                class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>

                            {% endfor %}
                        </ol> {% endcomment %}
                        <!--/.Indicators-->
                        <!--Slides-->
                        
                        {% comment %} {% if postd.ad %}
                                               
                                <img src="{{postd.ad.image.url}}" class="img-fluid" alt="{{postd.img}}" ">
                            
                        {% endif %} {% endcomment %}

                        <div class="carousel-inner" role="listbox" >
                            {% if postd.ad %}
                            <div
                                class="carousel-item active">
                                <img class="d-block w-100" src="{{postd.ad.image.url|default_if_none:'#'}}"
                                    alt="{{postd.ad}}">
                            </div>    
                            {% else %}
                            {% for p in postd.image.all %}

                            <div
                                class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                                <img class="d-block w-100" src="{{p.image.url}}"
                                    alt="{{forloop.counter}} slide">
                            </div>

                            {% endfor %}
                            {% endif %}
                            <!--/First slide-->
                            <!--/.Slides-->
                            <!--Controls-->
                            {% if postd.image.all.count >= 2 %}
                            <a class="carousel-control-prev" href="#carousel-{{postd.id}}" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-{{postd.id}}" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            {% endif %}
                            <!--/.Controls-->
                        </div>
                        <h6>{{postd.post_title}}</h6>
                        <p>{{postd.description|readmore:50}}</p>
                        <!--Post poll starts here-->
                        {% if postd.post_pull %}
                        <div class="panel-body">
                            <p><span id="option1"></span> <span id="option2"></span></p>
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2>{{ postd.post_pull.question }}</h2>
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-lg-12">
                                    <hr />
                        
                                    <form method="POST" action="{% url 'PostPoll' %}"" id="pullSubmit">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="poll" value="option1">
                                                    {{ postd.post_pull.option_one }}
                                                    <input type="hidden" value="{{postd.post_pull.id}}" id="post_pull">
                                                </label> &nbsp;
                                                <label>
                                                    <input type="radio" name="poll" value="option2">
                                                    {{ postd.post_pull.option_two }}
                                                </label> &nbsp;
                                            </div>
                                        </div>
                                        <hr />
                                    </form>
                                </div>
                            </div>
                        </div>
                        <p id="poll_message"></p>
                        {% endif %}
                        <!---Post poll ends here-->
                    </div>

                    {% comment %} <div id="gallery">

                        <figure class="col-md-4 d-md-inline-block"><a
                                href="https://source.unsplash.com/600x450/?fitness" class="gal_link"><img
                                    src="https://source.unsplash.com/600x450/?fitness"></a>
                        </figure>
                        <figure class="col-md-4 d-md-inline-block"><a href="https://source.unsplash.com/600x450/?yoga"
                                class="gal_link"><img src="https://source.unsplash.com/600x450/?yoga"></a>
                        </figure>
                        <figure class="col-md-4 d-md-inline-block"><a href="https://source.unsplash.com/600x450/?beauty"
                                class="gal_link"><img src="https://source.unsplash.com/600x450/?beauty"></a>
                        </figure>
                        <figure class="col-md-4 d-md-inline-block"><a href="https://source.unsplash.com/600x450/?girl"
                                class="gal_link"><img src="https://source.unsplash.com/600x450/?girl"></a>
                        </figure>
                        <figure class="col-md-4 d-md-inline-block"><a href="https://source.unsplash.com/600x450/?cat"
                                class="gal_link"><img src="https://source.unsplash.com/600x450/?cat"></a></figure>
                        <figure class="col-md-4 d-md-inline-block"><a href="https://source.unsplash.com/600x450/?dog"
                                class="gal_link"><img src="https://source.unsplash.com/600x450/?dog"></a></figure>

                    </div> {% endcomment %}
                    {% if product %}
                   <p> Total Booking: {% total_booking product forloop.counter0 %}</p>
                   <p> min bookings: {% min_booking product forloop.counter0 %}</p>
                   <p> max Booking: {% max_booking product forloop.counter0 %}</p>
                    Price:- {% product_price product forloop.counter0 %} </br>
                    <a name="{{postd.id}}" value="{{postd.id}}" type="button" class="bookproduct btn btn-primary">Order</a>
                    <p class="text-black" id='prod{{postd.id}}'></p>
                    {% endif %}

                    <div class="m-p-0" style="margin-top:20px">
                        <!--Like button-->
                        {% if user.is_anonymous %}
                        <span class="d-inline-block" data-toggle="popover" data-content="Disabled popover">
                            <button class="btn transperant btn-lg" title="LOGIN to Like" disabled></span>
                        <i class="fa fa-thumbs-up"></i> <i class="text-muted small">{{postd.total_like}}</i></button>
                        <i class="fas fa-2x fa-comment-alt"></i>
                        {% else %}

                        {% if profile in postd.liked_by.all %}
                        <a name="{{postd.id}}" value="{{postd.id}}" , class="likin btn transperant btn-lg">
                            <i name="i{{postd.id}}" class="fa fa-thumbs-up" style="color:blue"></i>
                            <i class="text-muted small" id='t-likes{{postd.id}}'>{{postd.total_like}}</i></a>
                        {% else %}
                        <a name="{{postd.id}}" value="{{postd.id}}" , class="likin btn tansperant btn-lg">
                            <i name="i{{postd.id}}" class="fa fa-thumbs-up" style="color:black">
                            </i>
                            <i class="text-muted small" id='t-likes{{postd.id}}'>{{postd.total_like}}</i></a>
                        {% endif %}


                        {% endif %}
                        <a class="pcomment btn transperant" data-toggle="collapse" href="#c{{postd.id}}"
                            name="{{postd.id}}" value="{{postd.id}}" role="button" aria-expanded="false"
                            aria-controls="multiCollapseExample1">
                            <i class="fa fa-2x fa-comment-alt"></i></a>

                        <a id="share-{{postd.id}}" target="_blank" data-toggle="collapse" href="#collapse{{postd.id}}" role="button" aria-expanded="false" aria-controls="collapseExample"
                            class="btn btn-lg" title="Share on facebook">
                            <i class="fa fa-share"></i><small>Share</small>
                        </a>
                        <div class="collapse" id="collapse{{postd.id}}">
  <div class="share card card-body" name="{{postd.id}}" style=" display: inline-block ">
    <a class="btn btn-lg" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}post/{{postd.id}}"><img src="https://img.icons8.com/fluent/48/000000/facebook-new.png"/></a>
    <a class="btn btn-lg" href="https://www.pinterest.com/pin/create/button/?url={{ request.build_absolute_uri }}post/{{postd.id}}"><i class="fa fa-pinterest"></i></a>
    <a class="btn btn-lg" href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}post/{{postd.id}}"><i class="fa fa-linkedin"></i></a>
    <a class="btn btn-lg" href="https://twitter.com/home?status={{ request.build_absolute_uri }}post/{{postd.id}}"><i class="fa fa-twitter"></i></a>
    <a class="btn btn-lg" href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}post/{{postd.id}}"><i class="fa fa-reddit"></i></a>
    <a class="btn btn-lg" href="https://plus.google.com/share?url={{ request.build_absolute_uri }}post/{{postd.id}}"><i class="fa fa-google-plus"></i></a>
    <a class="btn btn-lg" href="https://api.whatsapp.com/send?text={{ request.build_absolute_uri }}post/{{postd.id}}"><i class="fa fa-whatsapp"></i></a>
    <a href=""></a>
  </div>
</div>

                        {% comment %} data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" {% endcomment %}
                        {% comment %} </form> {% endcomment %}

                        <div class="collapse" id="c{{postd.id}}">
                            <div class="card-body">
                                <h4>Comments </h4>
                                <hr class="mb-0">
                                {% comment %}
                                <hr class="mt-0 ml-0"
                                    style="  border: 2px solid #03133a; border-radius: 7px ;width: 12vh; ">
                                {% endcomment %}

                                {% if user.is_authenticated %}

                                <div>
                                    <form action="{% url 'comments' %}" method="post">
                                        {% csrf_token %}
                                        <input type="text" name="comment" placeholder="Enter Comment">
                                        <input type="hidden" name="postID" value="{{postd.id}}">
                                        <input type="hidden" name="parentID" value="">
                                        <button class="btn btn-dark ml-3 " type="submit" value="Submit">Submit</button>
                                    </form>
                                    <br>
                                </div>

                                {% else %}
                                <a href="/userdetail/login/">Login to Comment</a>
                                {% endif %}


                                <!-- Comments Here -->

                                <p id="c{{postd.id}}"></p>
                                {% load mptt_tags %}
                                <div class="row">

                                    {% recursetree comments %}

                                    {% if node.post == postd %}

                                    <div class="col-md-1">
                                        <img src="https://p7.hiclipart.com/preview/201/51/681/computer-icons-customer-service-user-others.jpg"
                                            alt="img" class="rounded" width="50px" height="50px">
                                    </div>

                                    <div class="col-md-11">
                                        <div class="row">
                                            <div class="col">
                                                <h4>{{node.user}}</h4>
                                            </div>
                                            <div class="col">
                                                <p class=" ml-5 text-right" style="font-size: 15px;color:#777777 ;">
                                                    <span style="margin:20px">{{node.posted_on}}</span>

                                                    {% if user.is_authenticated %}

                                            </div>
                                        </div>
                                        <div class="mydiv">{{node.comment}}</div>
                                        <button class="btn btn btn-light-sm pt-0" type="button" data-toggle="collapse"
                                            data-target="#replyBox{{node.id}}" aria-expanded="false"
                                            aria-controls="#replyBox{{node.id}}">
                                            Reply
                                        </button>
                                        {%else%}
                                        <a href="/userdetail/login/">Login to
                                            Reply</a>
                                        {%endif%}</p>

                                        {% if user.is_authenticated %}
                                        <div class="reply mx-0">
                                            <hr>
                                            <div class="collapse" id="replyBox{{node.id}}">

                                                <form action="{% url 'comments' %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="text" name="comment" placeholder="Enter Reply"
                                                        style="border-top: 0px; border-left: 0px; border-right: 0px; border-bottom: 2px solid;">
                                                    <input type="hidden" name="postID" value="{{postd.id}}">
                                                    <input type="hidden" name="parentID" value="{{node.id}}">
                                                    <button type="submit" value="Submit"
                                                        class="btn btn-dark btn-sm">Submit-{{postd.id}}</button>
                                                </form>
                                                <br>
                                            </div>
                                        </div>
                                        {%else%}
                                        <a href="/userdetail/login/">Login to Reply</a>
                                        {%endif%}

                                        {% if not node.is_leaf_node %}

                                        <div class="my-2" style="padding-left: 5px;">
                                            <div class="" type="button" data-toggle="collapse"
                                                data-target="#viewreplies_{{node.pk}}" aria-expanded="false"
                                                aria-controls="viewreplies_{{node.pk}}" style="padding-left: -10px;">
                                                <p style="color: #085fd4; font-weight: bolder;">
                                                    <i class="fa fa-caret-down" aria-hidden="true"></i>

                                                    View Replies
                                                </p>
                                            </div>

                                            <div class="collapse" id="viewreplies_{{node.pk}}">
                                                {{ children }}
                                            </div>
                                        </div>

                                        {% endif %}
                                    </div>
                                    {% endif %}
                                    {% endrecursetree %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Activity Item End -->
    </li>
    {% endfor %}
</ul>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#cke_id_post").css("width", "100%")
    });
    //ajax call for voting system //polling system
    $('input[name="poll"]').on('change', function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:"{% url 'PostPoll' %}",
            data:{
                'poll_answer':$('input[name="poll"]:checked').val(),
                'poll_id':$('#post_pull').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                
            },
            success:function(response){
                console.log(response)
                if (response.message == "Thanku for Polling !"){
                    $('#option1').text(
                    `${response.post_poll[0].option_one} :- ${response.post_poll[0].option_one_count}`
                    )
                    $('#option2').text(
                        `${response.post_poll[0].option_two} :- ${response.post_poll[0].option_two_count}`
                    )
                }
                //showing poll successfull or error message
                $('#poll_message').text(
                    response.message
                )
                if(response.message =="You have already votes"){
                    $('#poll_message').addClass("bg-danger p-2")
                }
            }
        })
    })

    $('.likin').click(function () {
        $.ajax({
            type: "POST",
            url: "{% url 'likePost' %}",
            data: { 'postid': $(this).attr('name'), 'operation': 'like_submit', 'csrfmiddlewaretoken': '{{ csrf_token }}' },
            dataType: "json",
            success: function (response) {
                selector = document.getElementsByName('i' + response.postid);
                tlikes = document.getElementById('t-likes' + response.postid);
                $(tlikes).html(response.total_likes)
                if (response.liked == true) {
                    $(selector).css("color", "blue");
                }
                else if (response.liked == false) {
                    $(selector).css("color", "black");
                }
            }
        });
    })
</script>

<script>
$('.bookproduct').click(function () {
        $.ajax({
            type: "POST",
            url: "{% url 'bookProduct' %}",
            data: { 'postid': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}' },
            dataType: "json",
            success: function (response) {
                tlikes = document.getElementById('prod' + response.postid);
                $(tlikes).text(response.message)
                if(rseponse.message == "Successfull!"){
                    $(this).removeClass('bg-primary')
                    $(this).addClass('bg-success')
                    $(this).text('Booked')
                }
                }
        });
    })
</script>

<script>
$('.share').click(function () {
        $.ajax({
            type: "POST",
            url: "{% url 'sharePost' %}",
            data: { 'postid': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}' },
            dataType: "json",
            success: function (response) {
                
                }
        });
    })
</script>
{% comment %}
<script>
    $('.pcomment').load(function () {
        $.ajax({
            type: "POST",
            url: "{% url 'comments' %}",
            data: { 'postid': $(this).attr('name'), 'operation': 'like_submit', 'csrfmiddlewaretoken': '{{ csrf_token }}' },
            dataType: "json",
            success: function (response) {

                tlikes = document.getElementById('c' + response.postid);
                $(tlikes).html(response.comments)

            }
        });
    })
</script> {% endcomment %}
{% endblock %}