{% extends 'base2.html' %}

    {% block content %}

    <a class="" href="/userdetail/vendor_profile/orders" role="button">Go back to orders</a>
    <div class="container text-center">
        <h1>PFM</h1>
    </div>
    <div class="container">

        <a class="btn btn-primary btn-lg btn-block" href="generatepfm" role="button">Generate PFM</a>
        <a class="btn btn-primary btn-lg btn-block" href="operations" role="button">Add Operations</a>
        <a class="btn btn-primary btn-lg btn-block" href="obgenerateform3" role="button">Generate OB</a>
        <a href="form4" role="button"class="btn btn-primary btn-lg btn-block" >Operation Bulletin</a>
        <a href="obulletin" role="button"class="btn btn-primary btn-lg btn-block" >OB Summary</a>
        
    </div>
    
    
    {% endblock %}
